@page "/GeografiaZonaCrud"
@inject NotificationService NotificationService
 
@if (Zona_entities == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    switch (crudMode)
    {
        case CrudMode.Add:
            <RadzenBadge  BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <h4 style="color:white;">Ingrese los datos de Zona</h4>
                </ChildContent>
            </RadzenBadge>
            break;
        case CrudMode.Delete:
            <RadzenBadge BadgeStyle="BadgeStyle.Warning" >
                <ChildContent>
                    <h4 style="color:white;">Confirma eliminar el Zona ?</h4>
                </ChildContent>
            </RadzenBadge>
            break;
            case CrudMode.Edit:
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <h4 style="color:white;">Modificación de datos de Zona</h4>
                </ChildContent>
            </RadzenBadge>
            break;         
            case CrudMode.List:
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <div>
                        <h4 style="color:white;">Administración de Zona</h4>
                    </div>
                </ChildContent>
            </RadzenBadge>
            break;  
    }
 <hr>
    if (crudMode == CrudMode.List)
    {
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
        Data="@Zona_entities" TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
       <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen registros.</p>
        </EmptyTemplate>        
        <Columns>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px" >
             <HeaderTemplate>
                 <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Success" Text ="Nuevo" Click="Add">
                 </RadzenButton>
                 </HeaderTemplate>
                 <Template Context="element">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Class="m-1" Click="@(args => Edit(element,false))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Class="m-1" Click="@(args => Edit(element,true))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
             </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Property="Id" Filterable="false" Title="Id" Frozen="false" Width="50px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Property="Nombre" Filterable="false" Title="Nombre" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Property="Descripcion" Filterable="false" Title="Descripcion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Property="Codigo" Filterable="false" Title="Codigo" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Property="Habilitado" Filterable="false" Title="Habilitado" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
            <Template Context="data">
                <RadzenCheckBox TValue ="bool" Value=@data.Habilitado Disabled="true">
                </RadzenCheckBox>
            </Template>
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Property="UsuarioCreacion" Filterable="false" Title="UsuarioCreacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Property="FechaCreacion" Filterable="false" Title="FechaCreacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Property="UsuarioModificacion" Filterable="false" Title="UsuarioModificacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Property="FechaModificacion" Filterable="false" Title="FechaModificacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
        </Columns>
        </RadzenDataGrid>
 <hr>
    }
 
    if (crudMode == CrudMode.Add || crudMode == CrudMode.Edit || crudMode == CrudMode.Delete)
    {
         <RadzenTemplateForm TItem="DepositarioAdminWeb.Entities.Tables.Geografia.Zona" Data="@Zona_entity"  @bind-Value="Zona_entity" Submit ="Save" Visible ="@(Zona_entity != null)">
          <ChildContent>
          <div style="margin-bottom: 1rem" class="row">
             <div class="col-md-3">
                 <RadzenLabel Text="Id" Component="Id" style="width: 100%">
                 </RadzenLabel>
             </div>
             <div class="col-md-9">
                 <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Zona_entity.Id)" Name="Id" Disabled="true">
                </RadzenNumeric>
             </div>
         </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Nombre" Component="Nombre" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenTextBox  style="display: block" @bind-Value="@(Zona_entity.Nombre)" Name="Nombre" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenTextBox>
                     <RadzenRequiredValidator Component="Nombre" Text="Nombre is required" Style="position: absolute" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenRequiredValidator>
                 </div>
               </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Descripcion" Component="Descripcion" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenTextBox  style="display: block" @bind-Value="@(Zona_entity.Descripcion)" Name="Descripcion" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenTextBox>
                     <RadzenRequiredValidator Component="Descripcion" Text="Descripcion is required" Style="position: absolute" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenRequiredValidator>
                 </div>
               </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Codigo" Component="Codigo" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenTextBox  style="display: block" @bind-Value="@(Zona_entity.Codigo)" Name="Codigo" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenTextBox>
                     <RadzenRequiredValidator Component="Codigo" Text="Codigo is required" Style="position: absolute" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenRequiredValidator>
                 </div>
               </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                <RadzenLabel Text="Habilitado" Component="Habilitado" Style="margin-left: 0px; vertical-align: middle;" />
                 </div>
                 <div class="col-md-9">
                <RadzenCheckBox @bind-Value=@Zona_entity.Habilitado  Name="HabilitadoCheckBox" TValue="bool" Change=@(args => HabilitadoChange(args, @Zona_entity)) />
                 </div>
               </div>
          <div style="margin-bottom: 1rem" class="row">
             <div class="col-md-3">
                 <RadzenLabel Text="UsuarioCreacion" Component="UsuarioCreacion" style="width: 100%">
                 </RadzenLabel>
             </div>
             <div class="col-md-9">
                 <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Zona_entity.UsuarioCreacion)" Name="UsuarioCreacion" Disabled="@(crudMode==CrudMode.Delete)">
                </RadzenNumeric>
             </div>
         </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="FechaCreacion" Component="FechaCreacion" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Zona_entity.FechaCreacion)" Name="FechaCreacion" Disabled="@(crudMode==CrudMode.Delete)" >
                </RadzenDatePicker>
              </div>
            </div>
          <div style="margin-bottom: 1rem" class="row">
             <div class="col-md-3">
                 <RadzenLabel Text="UsuarioModificacion" Component="UsuarioModificacion" style="width: 100%">
                 </RadzenLabel>
             </div>
             <div class="col-md-9">
                 <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Zona_entity.UsuarioModificacion)" Name="UsuarioModificacion" Disabled="@(crudMode==CrudMode.Delete)">
                </RadzenNumeric>
             </div>
         </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="FechaModificacion" Component="FechaModificacion" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Zona_entity.FechaModificacion)" Name="FechaModificacion" Disabled="@(crudMode==CrudMode.Delete)" >
                </RadzenDatePicker>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Aceptar" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon = "save" style="margin-left: 1rem" Text="Cancelar" Click="Cancel">
                </RadzenButton>
              </div>
            </div>
           </ChildContent>
         </RadzenTemplateForm>
 <hr>
    }
 
    <RadzenNotification /> 
}
 
@code {
    /// <summary>
    /// Crud Mode Enum
    /// </summary>
    private enum CrudMode
    {
        List,
        Add,
        Edit,
        Delete
    }
    /// <summary>
    /// Variables to handle main entity
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Geografia.Zona Zona_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Geografia.Zona> Zona_entities = null;
 
    /// <summary>
    ///  Page crud mode {List,Add,Edit,Delete}
    /// </summary>
    private CrudMode crudMode = CrudMode.List;
 
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadMainEntityData);
        await Task.Run(LoadTypesData);
    }
    #region Loading entities data
    /// <summary>
    /// Loads main entity data
    /// </summary>
    private void LoadMainEntityData()
    {
        DepositarioAdminWeb.Business.Tables.Geografia.Zona entity = new();
        Zona_entities = entity.Items();
    }
    /// <summary>
    /// Loads Type Tables data
    /// </summary>
    private void LoadTypesData()
    {
    }
 
    #endregion
 
    /// <summary>
    /// Initializations for adding a new entity
    /// </summary>
    private void Add()
    {
        //Main entity initialization
        Zona_entity = new();
        //Relations entities initialization
        crudMode = CrudMode.Add;
    }
    /// <summary>
    /// <summary>
    /// Initializations for editing an entity
    /// </summary>
    private void Edit(DepositarioAdminWeb.Entities.Tables.Geografia.Zona item, bool delete)
    {
             Zona_entity = item;
        if (delete)
            crudMode = CrudMode.Delete;
        else
            crudMode = CrudMode.Edit;
    }
    /// <summary>
    /// Operation depending on Crud mode
    /// </summary>
    private async Task Save()
    {
        string actionInformation = string.Empty;
        DepositarioAdminWeb.Business.Tables.Geografia.Zona crud = new();
        switch (crudMode)
        {
            case CrudMode.Add:
                crud.Add(Zona_entity);
                actionInformation = "agregado.";
                break;
            case CrudMode.Edit:
                crud.Update(Zona_entity);
                actionInformation = "modificado.";
                break;
            case CrudMode.Delete:
                crud.Delete(Zona_entity);
                actionInformation = "eliminado.";
                break;
        }
 
        // Sets Crud mode to List
        crudMode = CrudMode.List;
 
        ShowNotification(new NotificationMessage { 
            Severity = NotificationSeverity.Success, 
            Summary = "El registro ha sido ", 
            Detail = actionInformation, 
            Duration = 4000 });
       
            await Task.Run(LoadMainEntityData);
    }
    /// <summary>
    /// Crud mode cancellation and default mode
    /// </summary>
    private void Cancel()
    {
        crudMode = CrudMode.List;  
        LoadMainEntityData();
    }
    /// <summary>
    /// Sets detail panel title - TODO: Implement Multilanguage
    /// </summary>
    /// <returns></returns>
    private string GetDialogTitle()
    {
        string retValue = string.Empty;
        switch (crudMode)
        {
            case CrudMode.Add:
                retValue = "Nuevo...";
                break;
            case CrudMode.Edit:
                retValue = "Editar...";
                break;
            case CrudMode.Delete:
                retValue = "Borrar...";
                break;
        }
        return retValue;
    }
    #region Notifications
    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
 
    }
 
    #endregion
    #region Selection events
    /// <summary>
    /// Entity is binded, however it sets anyway.
    /// </summary>
    /// <returns></returns>
    void HabilitadoChange(bool? value,DepositarioAdminWeb.Entities.Tables.Geografia.Zona item)
    {
         Zona_entity = item;
    }
    #endregion
 
    #region Export
 
    #endregion
 
}
