@page "/SeguridadMenuCrud"
@inject NotificationService NotificationService
 
@if (Menu_entities == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    switch (crudMode)
    {
        case CrudMode.Add:
            <RadzenBadge  BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <h4 style="color:white;">Ingrese los datos de Menu</h4>
                </ChildContent>
            </RadzenBadge>
            break;
        case CrudMode.Delete:
            <RadzenBadge BadgeStyle="BadgeStyle.Warning" >
                <ChildContent>
                    <h4 style="color:white;">Confirma eliminar el Menu ?</h4>
                </ChildContent>
            </RadzenBadge>
            break;
            case CrudMode.Edit:
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <h4 style="color:white;">Modificación de datos de Menu</h4>
                </ChildContent>
            </RadzenBadge>
            break;         
            case CrudMode.List:
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <div>
                        <h4 style="color:white;">Administración de Menu</h4>
                    </div>
                </ChildContent>
            </RadzenBadge>
            break;  
    }
 <hr>
    if (crudMode == CrudMode.List)
    {
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
        Data="@Menu_entities" TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
       <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen registros.</p>
        </EmptyTemplate>        
        <Columns>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px" >
             <HeaderTemplate>
                 <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Success" Text ="Nuevo" Click="Add">
                 </RadzenButton>
                 </HeaderTemplate>
                 <Template Context="element">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Class="m-1" Click="@(args => Edit(element,false))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Class="m-1" Click="@(args => Edit(element,true))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
             </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Property="Id" Filterable="false" Title="Id" Frozen="false" Width="50px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Title="TipoId" Property="TipoId" Width="100px" >
                <Template>
                    @if(TipoMenu_entities.FirstOrDefault( c => c.Id == @context.TipoId) != null){
                       <RadzenLabel Text="@TipoMenu_entities.FirstOrDefault( c => c.Id == @context.TipoId).Nombre" Component="TipoId" style="width: 100%">
                            </RadzenLabel>
                        }
                        else
                        {
                       <RadzenLabel Text="No data available" Component="TipoId" style="width: 100%">
                            </RadzenLabel>                        
                        }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Property="Nombre" Filterable="false" Title="Nombre" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Property="Descripcion" Filterable="false" Title="Descripcion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Title="FuncionId" Property="FuncionId" Width="100px" >
                <Template>
                    @if(Funcion_entities.FirstOrDefault( c => c.Id == @context.FuncionId) != null){
                       <RadzenLabel Text="@Funcion_entities.FirstOrDefault( c => c.Id == @context.FuncionId).Nombre" Component="FuncionId" style="width: 100%">
                            </RadzenLabel>
                        }
                        else
                        {
                       <RadzenLabel Text="No data available" Component="FuncionId" style="width: 100%">
                            </RadzenLabel>                        
                        }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Property="Imagen" Filterable="false" Title="Imagen" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Title="DependeDe" Property="DependeDe" Width="100px" >
                <Template>
                    @if(Menu_entities.FirstOrDefault( c => c.Id == @context.DependeDe) != null){
                       <RadzenLabel Text="@Menu_entities.FirstOrDefault( c => c.Id == @context.DependeDe).Nombre" Component="DependeDe" style="width: 100%">
                            </RadzenLabel>
                        }
                        else
                        {
                       <RadzenLabel Text="No data available" Component="DependeDe" style="width: 100%">
                            </RadzenLabel>                        
                        }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Property="Habilitado" Filterable="false" Title="Habilitado" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
            <Template Context="data">
                <RadzenCheckBox TValue ="bool" Value=@data.Habilitado Disabled="true">
                </RadzenCheckBox>
            </Template>
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Property="UsuarioCreacion" Filterable="false" Title="UsuarioCreacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Property="FechaCreacion" Filterable="false" Title="FechaCreacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Property="UsuarioModificacion" Filterable="false" Title="UsuarioModificacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Property="FechaModificacion" Filterable="false" Title="FechaModificacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
        </Columns>
        </RadzenDataGrid>
 <hr>
    }
 
    if (crudMode == CrudMode.Add || crudMode == CrudMode.Edit || crudMode == CrudMode.Delete)
    {
         <RadzenTemplateForm TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.Menu" Data="@Menu_entity"  @bind-Value="Menu_entity" Submit ="Save" Visible ="@(Menu_entity != null)">
          <ChildContent>
          <div style="margin-bottom: 1rem" class="row">
             <div class="col-md-3">
                 <RadzenLabel Text="Id" Component="Id" style="width: 100%">
                 </RadzenLabel>
             </div>
             <div class="col-md-9">
                 <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Menu_entity.Id)" Name="Id" Disabled="true">
                </RadzenNumeric>
             </div>
         </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="TipoId" Component="TipoId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                  @if(@TipoMenu_entities.Count > 0 && @TipoMenu_entities.FirstOrDefault( c => c.Id == @Menu_entity.TipoId) != null)
                  {
                        <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@Menu_entity.TipoId"
                                    Data=@TipoMenu_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectTipoMenuValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
                  else
                  {
                       <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                    Data=@TipoMenu_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectTipoMenuValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
              </div>
            </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Nombre" Component="Nombre" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenTextBox  style="display: block" @bind-Value="@(Menu_entity.Nombre)" Name="Nombre" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenTextBox>
                     <RadzenRequiredValidator Component="Nombre" Text="Nombre is required" Style="position: absolute" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenRequiredValidator>
                 </div>
               </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Descripcion" Component="Descripcion" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenTextBox  style="display: block" @bind-Value="@(Menu_entity.Descripcion)" Name="Descripcion" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenTextBox>
                     <RadzenRequiredValidator Component="Descripcion" Text="Descripcion is required" Style="position: absolute" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenRequiredValidator>
                 </div>
               </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="FuncionId" Component="FuncionId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                  @if(@Funcion_entities.Count > 0 && @Funcion_entities.FirstOrDefault( c => c.Id == @Menu_entity.FuncionId) != null)
                  {
                        <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@Menu_entity.FuncionId"
                                    Data=@Funcion_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectFuncionValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
                  else
                  {
                       <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                    Data=@Funcion_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectFuncionValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
              </div>
            </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Imagen" Component="Imagen" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenTextBox  style="display: block" @bind-Value="@(Menu_entity.Imagen)" Name="Imagen" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenTextBox>
                     <RadzenRequiredValidator Component="Imagen" Text="Imagen is required" Style="position: absolute" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenRequiredValidator>
                 </div>
               </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="DependeDe" Component="DependeDe" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                  @if(@Menu_entities.Count > 0 && @Menu_entities.FirstOrDefault( c => c.Id == @Menu_entity.DependeDe) != null)
                  {
                        <RadzenDropDown AllowClear="true" TValue="Int64?" Class="w-100" @bind-Value="@Menu_entity.DependeDe"
                                    Data=@Menu_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectMenuValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
                  else
                  {
                       <RadzenDropDown AllowClear="true" TValue="Int64?" Class="w-100" 
                                    Data=@Menu_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectMenuValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
              </div>
            </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                <RadzenLabel Text="Habilitado" Component="Habilitado" Style="margin-left: 0px; vertical-align: middle;" />
                 </div>
                 <div class="col-md-9">
                <RadzenCheckBox @bind-Value=@Menu_entity.Habilitado  Name="HabilitadoCheckBox" TValue="bool" Change=@(args => HabilitadoChange(args, @Menu_entity)) />
                 </div>
               </div>
          <div style="margin-bottom: 1rem" class="row">
             <div class="col-md-3">
                 <RadzenLabel Text="UsuarioCreacion" Component="UsuarioCreacion" style="width: 100%">
                 </RadzenLabel>
             </div>
             <div class="col-md-9">
                 <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Menu_entity.UsuarioCreacion)" Name="UsuarioCreacion" Disabled="@(crudMode==CrudMode.Delete)">
                </RadzenNumeric>
             </div>
         </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="FechaCreacion" Component="FechaCreacion" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Menu_entity.FechaCreacion)" Name="FechaCreacion" Disabled="@(crudMode==CrudMode.Delete)" >
                </RadzenDatePicker>
              </div>
            </div>
          <div style="margin-bottom: 1rem" class="row">
             <div class="col-md-3">
                 <RadzenLabel Text="UsuarioModificacion" Component="UsuarioModificacion" style="width: 100%">
                 </RadzenLabel>
             </div>
             <div class="col-md-9">
                 <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Menu_entity.UsuarioModificacion)" Name="UsuarioModificacion" Disabled="@(crudMode==CrudMode.Delete)">
                </RadzenNumeric>
             </div>
         </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="FechaModificacion" Component="FechaModificacion" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Menu_entity.FechaModificacion)" Name="FechaModificacion" Disabled="@(crudMode==CrudMode.Delete)" >
                </RadzenDatePicker>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Aceptar" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon = "save" style="margin-left: 1rem" Text="Cancelar" Click="Cancel">
                </RadzenButton>
              </div>
            </div>
           </ChildContent>
         </RadzenTemplateForm>
 <hr>
    }
 
    <RadzenNotification /> 
}
 
@code {
    /// <summary>
    /// Crud Mode Enum
    /// </summary>
    private enum CrudMode
    {
        List,
        Add,
        Edit,
        Delete
    }
    /// <summary>
    /// Variables to handle main entity
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Seguridad.Menu Menu_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Seguridad.Menu> Menu_entities = null;
 
    /// <summary>
    /// Variables to handle Relation between Menu.TipoId and TipoMenu.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Seguridad.TipoMenu TipoMenu_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Seguridad.TipoMenu>? TipoMenu_entities;
 
    /// <summary>
    /// Variables to handle Relation between Menu.FuncionId and Funcion.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Seguridad.Funcion Funcion_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Seguridad.Funcion>? Funcion_entities;
 
    /// <summary>
    ///  Page crud mode {List,Add,Edit,Delete}
    /// </summary>
    private CrudMode crudMode = CrudMode.List;
 
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadMainEntityData);
        await Task.Run(LoadTypesData);
    }
    #region Loading entities data
    /// <summary>
    /// Loads main entity data
    /// </summary>
    private void LoadMainEntityData()
    {
        DepositarioAdminWeb.Business.Tables.Seguridad.Menu entity = new();
        Menu_entities = entity.Items();
    }
    /// <summary>
    /// Loads Type Tables data
    /// </summary>
    private void LoadTypesData()
    {
        DepositarioAdminWeb.Business.Tables.Seguridad.TipoMenu TipoMenu_local = new();
        TipoMenu_entities = TipoMenu_local.Items();
 
        DepositarioAdminWeb.Business.Tables.Seguridad.Funcion Funcion_local = new();
        Funcion_entities = Funcion_local.Items();
 
        DepositarioAdminWeb.Business.Tables.Seguridad.Menu Menu_local = new();
        Menu_entities = Menu_local.Items();
 
    }
 
    #endregion
 
    /// <summary>
    /// Initializations for adding a new entity
    /// </summary>
    private void Add()
    {
        //Main entity initialization
        Menu_entity = new();
        //Relations entities initialization
        TipoMenu_entity = new(); 
        Funcion_entity = new(); 
        Menu_entity = new(); 
        crudMode = CrudMode.Add;
    }
    /// <summary>
    /// <summary>
    /// Initializations for editing an entity
    /// </summary>
    private void Edit(DepositarioAdminWeb.Entities.Tables.Seguridad.Menu item, bool delete)
    {
             Menu_entity = item;
            TipoMenu_entity = new() { 
            Id = TipoMenu_entities.FirstOrDefault(c => c.Id == Menu_entity.TipoId).Id, 
            Nombre = TipoMenu_entities.FirstOrDefault(c => c.Id == Menu_entity.TipoId).Nombre
            };
            Funcion_entity = new() { 
            Id = Funcion_entities.FirstOrDefault(c => c.Id == Menu_entity.FuncionId).Id, 
            Nombre = Funcion_entities.FirstOrDefault(c => c.Id == Menu_entity.FuncionId).Nombre
            };
            Menu_entity = new() { 
            Id = Menu_entities.FirstOrDefault(c => c.Id == Menu_entity.DependeDe).Id, 
            Nombre = Menu_entities.FirstOrDefault(c => c.Id == Menu_entity.DependeDe).Nombre
            };
        if (delete)
            crudMode = CrudMode.Delete;
        else
            crudMode = CrudMode.Edit;
    }
    /// <summary>
    /// Operation depending on Crud mode
    /// </summary>
    private async Task Save()
    {
        string actionInformation = string.Empty;
        DepositarioAdminWeb.Business.Tables.Seguridad.Menu crud = new();
        switch (crudMode)
        {
            case CrudMode.Add:
                crud.Add(Menu_entity);
                actionInformation = "agregado.";
                break;
            case CrudMode.Edit:
                crud.Update(Menu_entity);
                actionInformation = "modificado.";
                break;
            case CrudMode.Delete:
                crud.Delete(Menu_entity);
                actionInformation = "eliminado.";
                break;
        }
 
        // Sets Crud mode to List
        crudMode = CrudMode.List;
 
        ShowNotification(new NotificationMessage { 
            Severity = NotificationSeverity.Success, 
            Summary = "El registro ha sido ", 
            Detail = actionInformation, 
            Duration = 4000 });
       
            await Task.Run(LoadMainEntityData);
    }
    /// <summary>
    /// Crud mode cancellation and default mode
    /// </summary>
    private void Cancel()
    {
        crudMode = CrudMode.List;  
        LoadMainEntityData();
    }
    /// <summary>
    /// Sets detail panel title - TODO: Implement Multilanguage
    /// </summary>
    /// <returns></returns>
    private string GetDialogTitle()
    {
        string retValue = string.Empty;
        switch (crudMode)
        {
            case CrudMode.Add:
                retValue = "Nuevo...";
                break;
            case CrudMode.Edit:
                retValue = "Editar...";
                break;
            case CrudMode.Delete:
                retValue = "Borrar...";
                break;
        }
        return retValue;
    }
    #region Notifications
    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
 
    }
 
    #endregion
    #region Selection events
    /// <summary>
    /// TipoMenu value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectTipoMenuValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Funcion value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectFuncionValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Menu value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectMenuValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Entity is binded, however it sets anyway.
    /// </summary>
    /// <returns></returns>
    void HabilitadoChange(bool? value,DepositarioAdminWeb.Entities.Tables.Seguridad.Menu item)
    {
         Menu_entity = item;
    }
    #endregion
 
    #region Export
 
    #endregion
 
}
