@page "/SeguridadUsuarioRolCrud"
@inject NotificationService NotificationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager
 
@if (UsuarioRol_entities == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    switch (crudMode)
    {
        case CrudMode.Add:
            <RadzenBadge  BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                        <h4 style="color:white;">@dataLenguaje.Where(x => x.Clave == "ABM_A_TITLE" || x.Clave=="GENERIC").FirstOrDefault().Texto  @dataLenguaje.Where(x => x.Clave == "USUARIOROL" || x.Clave=="GENERIC").FirstOrDefault().Texto </h4>
                </ChildContent>
            </RadzenBadge>
            break;
        case CrudMode.Delete:
            <RadzenBadge BadgeStyle="BadgeStyle.Warning" >
                <ChildContent>
                        <h4 style="color:white;">@dataLenguaje.Where(x => x.Clave == "ABM_D_TITLE" || x.Clave=="GENERIC").FirstOrDefault().Texto  @dataLenguaje.Where(x => x.Clave == "USUARIOROL" || x.Clave=="GENERIC").FirstOrDefault().Texto? </h4>
                </ChildContent>
            </RadzenBadge>
            break;
            case CrudMode.Edit:
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                        <h4 style="color:white;">@dataLenguaje.Where(x => x.Clave == "ABM_M_TITLE" || x.Clave=="GENERIC").FirstOrDefault().Texto  @dataLenguaje.Where(x => x.Clave == "USUARIOROL" || x.Clave=="GENERIC").FirstOrDefault().Texto </h4>
                </ChildContent>
            </RadzenBadge>
            break;         
            case CrudMode.List:
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <div>
                        <h4 style="color:white;">@dataLenguaje.Where(x => x.Clave == "ABM_L_TITLE" || x.Clave=="GENERIC").FirstOrDefault().Texto  @dataLenguaje.Where(x => x.Clave == "USUARIOROL" || x.Clave=="GENERIC").FirstOrDefault().Texto </h4>
                    </div>
                </ChildContent>
            </RadzenBadge>
            break;  
    }
 <hr>
    if (crudMode == CrudMode.List)
    {
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
        Data="@UsuarioRol_entities" TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
       <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen registros.</p>
        </EmptyTemplate>        
        <Columns>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="80px" >
             <HeaderTemplate>
                 <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Success" Text =@dataLenguaje.Where(x => x.Clave == "NEW_BUTTON" || x.Clave == "GENERIC").FirstOrDefault().Texto Click="Add">
                 </RadzenButton>
                 </HeaderTemplate>
                 <Template Context="element">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Class="m-1" Click="@(args => Edit(element,false))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Class="m-1" Click="@(args => Edit(element,true))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
             </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Property="Id" Filterable="false" Title=@dataLenguaje.Where(x => x.Clave == "ID" || x.Clave=="GENERIC").FirstOrDefault().Texto Frozen="false" Width="50px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Title=@dataLenguaje.Where(x => x.Clave == "USUARIOID" || x.Clave=="GENERIC").FirstOrDefault().Texto Property="UsuarioId" Width="100px" >
                <Template>
                    @if(Usuario_entities.FirstOrDefault( c => c.Id == @context.UsuarioId) != null){
                       <RadzenLabel Text="@Usuario_entities.FirstOrDefault( c => c.Id == @context.UsuarioId).Nombre" Component="UsuarioId" style="width: 100%">
                            </RadzenLabel>
                        }
                        else
                        {
                       <RadzenLabel Text="No data available" Component="UsuarioId" style="width: 100%">
                            </RadzenLabel>                        
                        }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Title=@dataLenguaje.Where(x => x.Clave == "APLICACIONID" || x.Clave=="GENERIC").FirstOrDefault().Texto Property="AplicacionId" Width="100px" >
                <Template>
                    @if(Aplicacion_entities.FirstOrDefault( c => c.Id == @context.AplicacionId) != null){
                       <RadzenLabel Text="@Aplicacion_entities.FirstOrDefault( c => c.Id == @context.AplicacionId).Nombre" Component="AplicacionId" style="width: 100%">
                            </RadzenLabel>
                        }
                        else
                        {
                       <RadzenLabel Text="No data available" Component="AplicacionId" style="width: 100%">
                            </RadzenLabel>                        
                        }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Title=@dataLenguaje.Where(x => x.Clave == "ROLID" || x.Clave=="GENERIC").FirstOrDefault().Texto Property="RolId" Width="100px" >
                <Template>
                    @if(Rol_entities.FirstOrDefault( c => c.Id == @context.RolId) != null){
                       <RadzenLabel Text="@Rol_entities.FirstOrDefault( c => c.Id == @context.RolId).Nombre" Component="RolId" style="width: 100%">
                            </RadzenLabel>
                        }
                        else
                        {
                       <RadzenLabel Text="No data available" Component="RolId" style="width: 100%">
                            </RadzenLabel>                        
                        }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Property="Habilitado" Filterable="false" Title=@dataLenguaje.Where(x => x.Clave == "HABILITADO" || x.Clave=="GENERIC").FirstOrDefault().Texto Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
            <Template Context="data">
                <RadzenCheckBox TValue ="bool" Value=@data.Habilitado Disabled="true">
                </RadzenCheckBox>
            </Template>
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Property="UsuarioCreacion" Filterable="false" Title=@dataLenguaje.Where(x => x.Clave == "USUARIOCREACION" || x.Clave=="GENERIC").FirstOrDefault().Texto Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Property="FechaCreacion" Filterable="false" Title=@dataLenguaje.Where(x => x.Clave == "FECHACREACION" || x.Clave=="GENERIC").FirstOrDefault().Texto Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Property="UsuarioModificacion" Filterable="false" Title=@dataLenguaje.Where(x => x.Clave == "USUARIOMODIFICACION" || x.Clave=="GENERIC").FirstOrDefault().Texto Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Property="FechaModificacion" Filterable="false" Title=@dataLenguaje.Where(x => x.Clave == "FECHAMODIFICACION" || x.Clave=="GENERIC").FirstOrDefault().Texto Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
        </Columns>
        </RadzenDataGrid>
 <hr>
    }
 
    if (crudMode == CrudMode.Add || crudMode == CrudMode.Edit || crudMode == CrudMode.Delete)
    {
         <RadzenTemplateForm TItem="DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol" Data="@UsuarioRol_entity"  @bind-Value="UsuarioRol_entity" Submit ="Save" Visible ="@(UsuarioRol_entity != null)">
          <ChildContent>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text=@dataLenguaje.Where(x => x.Clave == "ID" || x.Clave == "GENERIC").FirstOrDefault().Texto Component="Id" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(UsuarioRol_entity.Id)" Name="Id" Disabled="true" >
                 </RadzenNumeric>
                 </div>
             </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@dataLenguaje.Where(x => x.Clave == "USUARIOID" || x.Clave == "GENERIC").FirstOrDefault().Texto Component ="UsuarioId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                  @if((@Usuario_entities.Count > 0 && @Usuario_entities.FirstOrDefault( c => c.Id == @UsuarioRol_entity.UsuarioId) != null) || crudMode != CrudMode.Delete)
                  {
                        <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(UsuarioRol_entity.UsuarioId)"
                                    Data=@Usuario_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectUsuarioValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
                  else
                  {
                       <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                    Data=@Usuario_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectUsuarioValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@dataLenguaje.Where(x => x.Clave == "APLICACIONID" || x.Clave == "GENERIC").FirstOrDefault().Texto Component ="AplicacionId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                  @if((@Aplicacion_entities.Count > 0 && @Aplicacion_entities.FirstOrDefault( c => c.Id == @UsuarioRol_entity.AplicacionId) != null) || crudMode != CrudMode.Delete)
                  {
                        <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(UsuarioRol_entity.AplicacionId)"
                                    Data=@Aplicacion_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectAplicacionValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
                  else
                  {
                       <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                    Data=@Aplicacion_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectAplicacionValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text=@dataLenguaje.Where(x => x.Clave == "ROLID" || x.Clave == "GENERIC").FirstOrDefault().Texto Component ="RolId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                  @if((@Rol_entities.Count > 0 && @Rol_entities.FirstOrDefault( c => c.Id == @UsuarioRol_entity.RolId) != null) || crudMode != CrudMode.Delete)
                  {
                        <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(UsuarioRol_entity.RolId)"
                                    Data=@Rol_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectRolValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
                  else
                  {
                       <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                    Data=@Rol_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectRolValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
              </div>
            </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                <RadzenLabel Text=@dataLenguaje.Where(x => x.Clave == "HABILITADO" || x.Clave == "GENERIC").FirstOrDefault().Texto Component="Habilitado" Style="margin-left: 0px; vertical-align: middle;" />
                 </div>
                 <div class="col-md-9">
                <RadzenCheckBox @bind-Value=@UsuarioRol_entity.Habilitado  Name="HabilitadoCheckBox" TValue="bool" Change=@(args => HabilitadoChange(args, @UsuarioRol_entity)) Disabled = "@(crudMode == CrudMode.Delete)" />
                 </div>
               </div>
         @if(crudMode!=CrudMode.Add)
         {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text=@dataLenguaje.Where(x => x.Clave == "USUARIOCREACION" || x.Clave == "GENERIC").FirstOrDefault().Texto Component="UsuarioCreacion" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(UsuarioRol_entity.UsuarioCreacion)" Name="UsuarioCreacion" Disabled="@(crudMode==CrudMode.Delete)">
                 </RadzenNumeric>
                 </div>
             </div>
         }
         @if(crudMode!=CrudMode.Add)
         {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text=@dataLenguaje.Where(x => x.Clave == "FECHACREACION" || x.Clave == "GENERIC").FirstOrDefault().Texto Component="FechaCreacion" style="width: 100%">
                     </RadzenLabel>
                 </div>
              <div class="col-md-9">
                 <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(UsuarioRol_entity.FechaCreacion)" Name="FechaCreacion" Disabled="@(crudMode==CrudMode.Delete)" >
                 </RadzenDatePicker>
              </div>
            </div>
         }
         @if(crudMode!=CrudMode.Add)
         {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text=@dataLenguaje.Where(x => x.Clave == "USUARIOMODIFICACION" || x.Clave == "GENERIC").FirstOrDefault().Texto Component="UsuarioModificacion" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenNumeric  TValue="long?" style="display: block; width: 100%" @bind-Value="@(UsuarioRol_entity.UsuarioModificacion)" Name="UsuarioModificacion" Disabled="@(crudMode==CrudMode.Delete)">
                 </RadzenNumeric>
                 </div>
             </div>
         }
         @if(crudMode!=CrudMode.Add)
         {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text=@dataLenguaje.Where(x => x.Clave == "FECHAMODIFICACION" || x.Clave == "GENERIC").FirstOrDefault().Texto Component="FechaModificacion" style="width: 100%">
                     </RadzenLabel>
                 </div>
              <div class="col-md-9">
                 <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(UsuarioRol_entity.FechaModificacion)" Name="FechaModificacion" Disabled="@(crudMode==CrudMode.Delete)" >
                 </RadzenDatePicker>
              </div>
            </div>
         }
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text=@dataLenguaje.Where(x => x.Clave == "ACCEPT_BUTTON" || x.Clave=="GENERIC").FirstOrDefault().Texto ButtonStyle ="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon = "save" style="margin-left: 1rem" Text=@dataLenguaje.Where(x => x.Clave == "CANCEL_BUTTON" || x.Clave=="GENERIC").FirstOrDefault().Texto Click="Cancel">
                </RadzenButton>
              </div>
            </div>
           </ChildContent>
         </RadzenTemplateForm>
 <hr>
    }
 
    <RadzenNotification /> 
}
 
@code {
    /// <summary>
    /// Crud Mode Enum
    /// </summary>
    private enum CrudMode
    {
        List,
        Add,
        Edit,
        Delete
    }
    /// <summary>
    /// Variables to handle main entity
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol UsuarioRol_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol> UsuarioRol_entities = null;
 
    /// <summary>
    /// Variables to multilanguaje
    /// </summary>
    private List<DepositarioAdminWeb.Entities.Procedures.Regionalizacion.ObtenerTextosLenguaje.Resultado> dataLenguaje;
 
    /// <summary>
    /// Variables to handle Relation between UsuarioRol.UsuarioId and Usuario.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Seguridad.Usuario Usuario_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Seguridad.Usuario>? Usuario_entities;
 
    /// <summary>
    /// Variables to handle Relation between UsuarioRol.AplicacionId and Aplicacion.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Seguridad.Aplicacion Aplicacion_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Seguridad.Aplicacion>? Aplicacion_entities;
 
    /// <summary>
    /// Variables to handle Relation between UsuarioRol.RolId and Rol.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Seguridad.Rol Rol_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Seguridad.Rol>? Rol_entities;
 
    /// <summary>
    ///  Page crud mode {List,Add,Edit,Delete}
    /// </summary>
    private CrudMode crudMode = CrudMode.List;
 
    /// <summary>
    ///  Variable to store the user id
    /// </summary>
    private Int64? userId = null;
 
    protected override async Task OnInitializedAsync()
    {
        dataLenguaje = await sessionStorage.GetItemAsync<List<DepositarioAdminWeb.Entities.Procedures.Regionalizacion.ObtenerTextosLenguaje.Resultado>>("DataLenguaje");
        await Task.Run(LoadMainEntityData);
        await Task.Run(LoadTypesData);
        userId = await sessionStorage.GetItemAsync<Int64?>("Id");
        if (userId == null)
             NavManager.NavigateTo("login", true);
    }
    #region Loading entities data
    /// <summary>
    /// Loads main entity data
    /// </summary>
    private void LoadMainEntityData()
    {
        DepositarioAdminWeb.Business.Tables.Seguridad.UsuarioRol entity = new();
        UsuarioRol_entities = entity.Items();
    }
    /// <summary>
    /// Loads Type Tables data
    /// </summary>
    private void LoadTypesData()
    {
        DepositarioAdminWeb.Business.Tables.Seguridad.Usuario Usuario_local = new();
        Usuario_entities = Usuario_local.Items();
 
        DepositarioAdminWeb.Business.Tables.Seguridad.Aplicacion Aplicacion_local = new();
        Aplicacion_entities = Aplicacion_local.Items();
 
        DepositarioAdminWeb.Business.Tables.Seguridad.Rol Rol_local = new();
        Rol_entities = Rol_local.Items();
 
    }
 
    #endregion
 
    /// <summary>
    /// Initializations for adding a new entity
    /// </summary>
    private void Add()
    {
        //Main entity initialization
        UsuarioRol_entity = new();
        //Relations entities initialization
        Usuario_entity = new(); 
        Aplicacion_entity = new(); 
        Rol_entity = new(); 
        crudMode = CrudMode.Add;
    }
    /// <summary>
    /// <summary>
    /// Initializations for editing an entity
    /// </summary>
    private void Edit(DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol item, bool delete)
    {
             UsuarioRol_entity = item;
            Usuario_entity = new() { 
            Id = Usuario_entities.FirstOrDefault(c => c.Id == UsuarioRol_entity.UsuarioId).Id, 
            Nombre = Usuario_entities.FirstOrDefault(c => c.Id == UsuarioRol_entity.UsuarioId).Nombre
            };
            Aplicacion_entity = new() { 
            Id = Aplicacion_entities.FirstOrDefault(c => c.Id == UsuarioRol_entity.AplicacionId).Id, 
            Nombre = Aplicacion_entities.FirstOrDefault(c => c.Id == UsuarioRol_entity.AplicacionId).Nombre
            };
            Rol_entity = new() { 
            Id = Rol_entities.FirstOrDefault(c => c.Id == UsuarioRol_entity.RolId).Id, 
            Nombre = Rol_entities.FirstOrDefault(c => c.Id == UsuarioRol_entity.RolId).Nombre
            };
        if (delete)
            crudMode = CrudMode.Delete;
        else
            crudMode = CrudMode.Edit;
    }
    /// <summary>
    /// Operation depending on Crud mode
    /// </summary>
    private async Task Save()
    {
        string actionInformation = string.Empty;
        NotificationSeverity severityType = NotificationSeverity.Error;
        string summary = string.Empty;
        DepositarioAdminWeb.Business.Tables.Seguridad.UsuarioRol crud = new();
        foreach(var property in UsuarioRol_entity.GetType().GetProperties())
        {
             switch(property.Name)
             {
                 case "FechaModificacion":
                 if(crudMode == CrudMode.Add)
                 {
                     UsuarioRol_entity.FechaModificacion=null;
                 }
                 else
                 {
                     UsuarioRol_entity.FechaModificacion=DateTime.Now;
                 }
                 break;
                 case "FechaCreacion":
                 if(crudMode == CrudMode.Add)
                 {
                     UsuarioRol_entity.FechaCreacion=DateTime.Now;
                 }
                 break;
                 case "UsuarioCreacion":
                 if(crudMode == CrudMode.Add)
                 {
                     UsuarioRol_entity.UsuarioCreacion=userId.Value;
                 }
                 break;
                 case "UsuarioModificacion":
                 if(crudMode == CrudMode.Add)
                 {
                     UsuarioRol_entity.UsuarioModificacion=null;
                 }
                 else
                 {
                     UsuarioRol_entity.UsuarioModificacion=userId.Value;
                 }
                 break;
             }
        }
        switch (crudMode)
        {
            case CrudMode.Add:
                try
                {
                     crud.Add(UsuarioRol_entity);
                     summary = "El registro se ha ";
                     actionInformation = "agregado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
            break;
            case CrudMode.Edit:
                try
                {
                     crud.Update(UsuarioRol_entity);
                     summary = "El registro se ha ";
                     actionInformation = "modificado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
            break;
            case CrudMode.Delete:
                try
                {
                     UsuarioRol_entity.Habilitado=false;
                     crud.Update(UsuarioRol_entity);
                     summary = "El registro se ha ";
                     actionInformation = "eliminado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
                break;
        }
 
        // Sets Crud mode to List
        crudMode = CrudMode.List;
 
        ShowNotification(new NotificationMessage { 
            Severity = severityType, 
            Summary = summary, 
            Detail = actionInformation, 
            Duration = 4000 });
       
            await Task.Run(LoadMainEntityData);
    }
    /// <summary>
    /// Crud mode cancellation and default mode
    /// </summary>
    private void Cancel()
    {
        crudMode = CrudMode.List;  
        LoadMainEntityData();
    }
    /// <summary>
    /// Sets detail panel title - TODO: Implement Multilanguage
    /// </summary>
    /// <returns></returns>
    private string GetDialogTitle()
    {
        string retValue = string.Empty;
        switch (crudMode)
        {
            case CrudMode.Add:
                retValue = "Nuevo...";
                break;
            case CrudMode.Edit:
                retValue = "Editar...";
                break;
            case CrudMode.Delete:
                retValue = "Borrar...";
                break;
        }
        return retValue;
    }
    #region Notifications
    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
 
    }
 
    #endregion
    #region Selection events
    /// <summary>
    /// Usuario value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectUsuarioValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Aplicacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectAplicacionValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Rol value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectRolValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Entity is binded, however it sets anyway.
    /// </summary>
    /// <returns></returns>
    void HabilitadoChange(bool? value,DepositarioAdminWeb.Entities.Tables.Seguridad.UsuarioRol item)
    {
         UsuarioRol_entity = item;
    }
    #endregion
 
    #region Export
 
    #endregion
 
}
