@page "/cambioPasswordLogin/{UserName}/{UserId}/{EmpresaId}"
@layout LoginLayout

@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authorization
@using Permaquim.Depositary.Web.Administration.Controllers;

@inject NavigationManager NavManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<Login> L
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NotificationService NotificationService

<RadzenContent Container="main">
    <ChildContent>
        <RadzenTemplateForm TItem="PasswordChangeForm" Data="@formCambioPassword" Submit="@ModificarPasswordUsuario">
            <ChildContent>
                @if (estaCargando)
                {
                    <div class="spinnerCentrado"></div>
                }
                <RadzenLabel Component="ActualPassword" style="display: block; margin-top: 16px" Text="@MultilenguajeController.ObtenerTextoPorClave("PASSWORD_ACTUAL", dataLenguaje)">
                </RadzenLabel>
                <RadzenPassword Disabled="@estaCargando" @bind-Value="@(formCambioPassword.ActualPassword)" style="width: 100%" Name="ActualPassword">
                </RadzenPassword>
                <RadzenRequiredValidator Component="ActualPassword" Text="@MultilenguajeController.ObtenerTextoPorClave("PASSWORD_REQUERIDO", dataLenguaje)">
                </RadzenRequiredValidator>
                <RadzenLabel Component="NewPassword" style="display: block; margin-top: 16px" Text="@MultilenguajeController.ObtenerTextoPorClave("PASSWORD_NUEVA", dataLenguaje)">
                </RadzenLabel>
                <RadzenPassword Disabled="@estaCargando" @bind-Value="@(formCambioPassword.NewPassword)" style="width: 100%" Name="NewPassword">
                </RadzenPassword>
                <RadzenRequiredValidator Component="NewPassword" Text="@MultilenguajeController.ObtenerTextoPorClave("PASSWORD_REQUERIDO", dataLenguaje)">
                </RadzenRequiredValidator>
                <RadzenRegexValidator Component="NewPassword" Text="@MultilenguajeController.ObtenerTextoPorClave("VALIDACION_PASSWORD_REGEX", dataLenguaje)" Pattern="@validacionPassword" />
                <RadzenLabel Component="NewPasswordCopy" style="display: block; margin-top: 16px" Text="@MultilenguajeController.ObtenerTextoPorClave("PASSWORD_REPETIR", dataLenguaje)">
                </RadzenLabel>
                <RadzenPassword Disabled="@estaCargando" @bind-Value="@(formCambioPassword.NewPasswordCopy)" style="width: 100%" Name="NewPasswordCopy">
                </RadzenPassword>
                <RadzenRequiredValidator Component="NewPasswordCopy" Text="@MultilenguajeController.ObtenerTextoPorClave("PASSWORD_REQUERIDO", dataLenguaje)">
                </RadzenRequiredValidator>
                <RadzenCompareValidator Component="NewPasswordCopy" Value="@(formCambioPassword.NewPassword)" Operator="CompareOperator.Equal" Text="@MultilenguajeController.ObtenerTextoPorClave("PASSWORD_SIN_COINCIDENCIA", dataLenguaje)">
                </RadzenCompareValidator>
                <RadzenButton ButtonType="ButtonType.Submit" Disabled="@estaCargando" style="display: block; margin-top: 16px; width: 100%; background-color: #4158ff" Text=@MultilenguajeController.ObtenerTextoPorClave("BOTON_ACEPTAR",dataLenguaje)>
                </RadzenButton>
            </ChildContent>
        </RadzenTemplateForm>
    </ChildContent>
</RadzenContent>

@code {
    private PasswordChangeForm formCambioPassword = new PasswordChangeForm();
    private List<Entities.TextoLenguaje> dataLenguaje;
    private bool estaCargando { get; set; }
    private int intentosCambioPassword { get; set; }
    private int maximaCantidadIntentosLogueo { get; set; }

    //Datasets
    private Depositary.Entities.Tables.Seguridad.Usuario? dataUsuario = new();
    private string validacionPassword { get; set; }

    public class PasswordChangeForm
    {
        public string ActualPassword { get; set; }
        public string NewPassword { get; set; }
        public string NewPasswordCopy { get; set; }
    }

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string UserId { get; set; }

    [Parameter]
    public string EmpresaId { get; set; }

    private Int64 ParametroEmpresaId;

    protected override void OnInitialized()
    {
        estaCargando = false;
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        ParametroEmpresaId = Int64.Parse(EmpresaId);
        validacionPassword = "";
        intentosCambioPassword = 0;

        AuditController.Log(AuditController.LogTypeEnum.Navigation, "Acceso a " + "cambioPasswordLogin", "", Convert.ToInt64(UserId));

        maximaCantidadIntentosLogueo = SeguridadController.ObtenerCantidadMaximaLogueosIncorrectos(ParametroEmpresaId);
        validacionPassword = AplicacionController.ObtenerConfiguracionGeneral("REGEX_POLITICAS_CONTRASEÑAS");
        dataLenguaje = MultilenguajeController.ObtenerTextosLenguaje(Convert.ToInt64(UserId));
    }

    protected async void ModificarPasswordUsuario()
    {
        estaCargando = true;
        StateHasChanged();
        //Primero verificamos que la password actual sea correcta:
        var usuario = await Task.Run(() => SeguridadController.LoguearUsuario(UserName, formCambioPassword.ActualPassword));

        if (usuario != null)
        {
            if (Cryptography.Hash(formCambioPassword.ActualPassword) == usuario.Password)
            {
                string resultadoCambioContraseña = await Task.Run(() => SeguridadController.ModificarPasswordUsuario(UserName, formCambioPassword.NewPassword));
                //Si es correcta modificamos el registro
                if (resultadoCambioContraseña == "")
                {
                    NotificationService.Notify(new NotificationMessage() { Severity = NotificationSeverity.Success, Summary = MultilenguajeController.ObtenerTextoPorClave("PASSWORD_CHANGE_SUCCESS", dataLenguaje), Detail = MultilenguajeController.ObtenerTextoPorClave("PASSWORD_CHANGE_SUCCESS", dataLenguaje), Duration = 3000 });
                    NavManager.NavigateTo("login", true);
                }
                else
                {
                    NotificationService.Notify(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = MultilenguajeController.ObtenerTextoPorClave("PASSWORD_CHANGE_ERROR", dataLenguaje), Detail = resultadoCambioContraseña, Duration = 3000 });
                }
            }
            else
            {
                intentosCambioPassword++;
                if (intentosCambioPassword >= maximaCantidadIntentosLogueo)
                {
                    NotificationService.Notify(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = MultilenguajeController.ObtenerTextoPorClave("LOGIN_ERROR", dataLenguaje), Detail = MultilenguajeController.ObtenerTextoPorClave("LOGIN_ERROR_BLOCKED_USER", dataLenguaje), Duration = 3000 });
                    NavManager.NavigateTo("logout", true);
                }
                NotificationService.Notify(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = MultilenguajeController.ObtenerTextoPorClave("LOGIN_ERROR", dataLenguaje), Detail = MultilenguajeController.ObtenerTextoPorClave("PASSWORD_CHANGE_INCORRECT_PASSWORD", dataLenguaje), Duration = 3000 });
                formCambioPassword.ActualPassword = "";
            }
        }
        estaCargando = false;
        StateHasChanged();
    }
}
