@page "/Dashboard"
@layout MainLayout

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager

@using Permaquim.Depositary.Web.Administration.Controllers;
@using Radzen
@using Radzen.Blazor

<RadzenContent Container="main">
    <ChildContent>
        <RadzenIcon Icon="assessment">
        </RadzenIcon>
        <RadzenHeading Size="H1" style="display: inline-block" Text="Dashboard depositario">
        </RadzenHeading>
        @if (estaCargando)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12 col-xl-3 col-lg-6">

                    <RadzenCard style="margin-bottom: 16px">
                        <ChildContent>
                            <div class="row">
                                <div class="col-4 align-items-center d-flex">
                                    <RadzenIcon Icon="attach_money" style="background-color: #68d5c8; font-size: 48px; height: 64px; width: 64px">
                                    </RadzenIcon>
                                </div>
                                <div class="col-sm-8">
                                    <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right" Text="Transacciones">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="DEL DIA">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #68d5c8; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@cantidadTransaccionesAlDia.ToString()">
                                    </RadzenHeading>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenCard>
                </div>
                <div class="col-md-12 col-xl-3 col-lg-6">
                    <RadzenCard style="margin-bottom: 16px">
                        <ChildContent>
                            <div class="row">
                                <div class="col-4 align-items-center d-flex">
                                    <RadzenIcon Icon="no_backpack" style="background-color: #f9777f; font-size: 48px; height: 64px; width: 64px">
                                    </RadzenIcon>
                                </div>
                                <div class="col-sm-8">
                                    <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right" Text="Depositarios">
                                        x|
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="CON BOLSA CASI LLENA">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #f9777f; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@cantidadDepositariosBolsaCasiLlena">
                                    </RadzenHeading>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenCard>
                </div>
                <div class="col-md-12 col-xl-3 col-lg-6">
                    <RadzenCard style="margin-bottom: 16px">
                        <ChildContent>
                            <div class="row">
                                <div class="col-4 align-items-center d-flex">
                                    <RadzenIcon Icon="computer" style="background-color: #3dd311; font-size: 48px; height: 64px; width: 64px">
                                    </RadzenIcon>
                                </div>
                                <div class="col-sm-8">
                                    <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right" Text="Depositarios">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="EN LINEA">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #3dd311; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@cantidadDepositariosEnLinea">
                                    </RadzenHeading>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenCard>
                </div>
                <div class="col-md-12 col-xl-3 col-lg-6">
                    <RadzenCard style="margin-bottom: 16px">
                        <ChildContent>
                            <div class="row">
                                <div class="col-4 align-items-center d-flex">
                                    <RadzenIcon Icon="home_repair_service" style="background-color: darkred; font-size: 48px; height: 64px; width: 64px">
                                    </RadzenIcon>
                                </div>
                                <div class="col-sm-8">
                                    <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right" Text="Depositarios">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="FUERA DE SERVICIO">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: darkred; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@cantidadDepositariosFueraServicio">
                                    </RadzenHeading>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenCard>
                </div>
            </div>
            <RadzenHeading Size="H2" Text="Carga de trabajo segun equipo">
            </RadzenHeading>
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <RadzenCard>
                        <ChildContent>
                            <RadzenHeading Size="H3" style="margin-bottom: 0px; text-align: center; font-weight:bold" Text="Depositarios con mayor carga de transacciones">
                            </RadzenHeading>
                            <RadzenChart ColorScheme="ColorScheme.Pastel">
                                <RadzenPieSeries Data="@dataCargaDepositarios" Title="Transacciones" CategoryProperty="NombreDepositario" ValueProperty="CantidadTransacciones" />
                            </RadzenChart>
                        </ChildContent>
                    </RadzenCard>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <RadzenCard>
                        <ChildContent>
                            <RadzenHeading Size="H3" style="margin-bottom: 0px; text-align: center; font-weight:bold" Text="Cantidad de transacciones por tipo">
                            </RadzenHeading>
                            <RadzenChart ColorScheme="ColorScheme.Pastel">
                                <RadzenPieSeries Data="@dataCantidadTipoTransacciones" Title="Cantidad" CategoryProperty="NombreTipoTransaccion" ValueProperty="CantidadTipoTransaccion" />
                            </RadzenChart>
                        </ChildContent>
                    </RadzenCard>
                </div>
            </div>
        }
    </ChildContent>
</RadzenContent>

@code {
    bool estaCargando = true;
    private List<Entities.TextoLenguaje> dataLenguaje;
    private int cantidadTransaccionesAlDia { get; set; }
    private string cantidadDepositariosBolsaCasiLlena { get; set; }
    private string cantidadDepositariosEnLinea { get; set; }
    private string cantidadDepositariosFueraServicio { get; set; }
    private List<Entities.DepositarioCarga> dataCargaDepositarios { get; set; }
    private List<Entities.TransaccionTipoCantidad> dataCantidadTipoTransacciones { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dataLenguaje = await sessionStorage.GetItemAsync<List<Entities.TextoLenguaje>>("DataLenguaje");
            Int64? userId = await sessionStorage.GetItemAsync<Int64?>("Id");
            if (userId == null)
                NavManager.NavigateTo("login", true);
            await Task.Run(obtenerCantidadTransaccionesAlDia);
            await Task.Run(obtenerCantidadDepositariosBolsaCasiLlena);
            await Task.Run(obtenerCantidadDepositariosEnLinea);
            await Task.Run(obtenerCantidadDepositariosFueraServicio);
            await Task.Run(obtenerDepositariosConMayorCarga);
            await Task.Run(obtenerCantidadTransaccionesPorTipo);
            estaCargando = false;
            StateHasChanged();
        }
    }

    private void obtenerCantidadTransaccionesAlDia()
    {
        cantidadTransaccionesAlDia = TransaccionController.ObtenerCantidadTransaccionesPorDia(DateTime.Now.Date);
    }

    private void obtenerCantidadDepositariosBolsaCasiLlena()
    {
        cantidadDepositariosBolsaCasiLlena = DepositarioController.ObtenerCantidadDepositariosConBolsaCasiLlena();
    }

    private void obtenerCantidadDepositariosEnLinea()
    {
        cantidadDepositariosEnLinea = DepositarioController.ObtenerCantidadDepositariosEnLinea();
    }

    private void obtenerCantidadDepositariosFueraServicio()
    {
        cantidadDepositariosFueraServicio = DepositarioController.ObtenerCantidadDepositariosFueraServicio();
    }

    private void obtenerDepositariosConMayorCarga()
    {
        dataCargaDepositarios = DepositarioController.ObtenerDepositariosConMayorCarga();
    }

    private void obtenerCantidadTransaccionesPorTipo()
    {
        dataCantidadTipoTransacciones = TransaccionController.ObtenerCantidadTipoTransacciones();
    }
}