@page "/Dashboard"
@layout MainLayout

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager

@using Permaquim.Depositary.Web.Administration.Controllers;
@using Radzen
@using Radzen.Blazor

<RadzenContent Container="main">
    <ChildContent>
        <RadzenIcon Icon="assessment">
        </RadzenIcon>
        <div class="row">
            <div class="col-8 align-items-left d-flex">
                <RadzenHeading Size="H1" style="display: inline-block; vertical-align:middle" Text="Dashboard depositario">
                </RadzenHeading>
            </div>
            <div class="col-4 align-items-right d-flex" style="margin-top:0.5%">
                @if (dataEmpresasAccesibles != null)
                {
                    if (dataEmpresasAccesibles.Count > 0)
                    {
                        <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                @bind-Value=@empresasSeleccionadas Multiple="true" Placeholder="Seleccione empresas" Data=@dataEmpresasAccesibles TextProperty="EmpresaNombre" ValueProperty="EmpresaId"
                                Change=@(args => OnChangeEmpresa(args)) Class="w-100" />
                    }
                }
            </div>

        </div>
        @if (estaCargando)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12 col-xl-3 col-lg-6">

                    <RadzenCard style="margin-bottom: 16px">
                        <ChildContent>
                            <div class="row">
                                <div class="col-4 align-items-center d-flex">
                                    <RadzenIcon Icon="attach_money" style="background-color: #68d5c8; font-size: 48px; height: 64px; width: 64px">
                                    </RadzenIcon>
                                </div>
                                <div class="col-sm-8">
                                    <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right" Text="Transacciones">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="DEL DIA">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #68d5c8; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@cantidadTransaccionesAlDia">
                                    </RadzenHeading>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenCard>
                </div>
                <div class="col-md-12 col-xl-3 col-lg-6">
                    <RadzenCard style="margin-bottom: 16px">
                        <ChildContent>
                            <div class="row">
                                <div class="col-4 align-items-center d-flex">
                                    <RadzenIcon Icon="no_backpack" style="background-color: #f9777f; font-size: 48px; height: 64px; width: 64px">
                                    </RadzenIcon>
                                </div>
                                <div class="col-sm-8">
                                    <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right" Text="Depositarios">
                                        x|
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="CON BOLSA CASI LLENA">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #f9777f; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@cantidadDepositariosBolsaCasiLlena">
                                    </RadzenHeading>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenCard>
                </div>
                <div class="col-md-12 col-xl-3 col-lg-6">
                    <RadzenCard style="margin-bottom: 16px">
                        <ChildContent>
                            <div class="row">
                                <div class="col-4 align-items-center d-flex">
                                    <RadzenIcon Icon="computer" style="background-color: #3dd311; font-size: 48px; height: 64px; width: 64px">
                                    </RadzenIcon>
                                </div>
                                <div class="col-sm-8">
                                    <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right" Text="Depositarios">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="EN LINEA / FUERA DE LINEA">
                                    </RadzenHeading>
                                    <div class="row">
                                        <div class="col-4 align-items-center d-flex" style="margin-left:10%">
                                            <RadzenHeading Size="H4" style="color: #3dd311; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@cantidadDepositariosEnLinea">
                                            </RadzenHeading>
                                        </div>
                                        <div class="col-4 align-items-center d-flex" style="margin-left:10%">
                                            <RadzenHeading Size="H4" style="color:red ; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@cantidadDepositariosFueraLinea">
                                            </RadzenHeading>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenCard>
                </div>
                <div class="col-md-12 col-xl-3 col-lg-6">
                    <RadzenCard style="margin-bottom: 16px">
                        <ChildContent>
                            <div class="row">
                                <div class="col-4 align-items-center d-flex">
                                    <RadzenIcon Icon="home_repair_service" style="background-color: darkred; font-size: 48px; height: 64px; width: 64px">
                                    </RadzenIcon>
                                </div>
                                <div class="col-sm-8">
                                    <RadzenHeading Size="H4" style="margin-bottom: 0px; text-align: right" Text="Depositarios">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; text-align: right" Text="FUERA DE SERVICIO">
                                    </RadzenHeading>
                                    <RadzenHeading Size="H4" style="color: darkred; font-size: 24px; margin-bottom: 0px; margin-top: 13px; text-align: right" Text="@cantidadDepositariosFueraServicio">
                                    </RadzenHeading>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenCard>
                </div>
            </div>
            <RadzenHeading Size="H2" Text="Carga de trabajo segun equipo">
            </RadzenHeading>
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <RadzenCard>
                        <ChildContent>
                            <RadzenHeading Size="H3" style="margin-bottom: 0px; text-align: center; font-weight:bold" Text="Depositarios con mayor carga de transacciones">
                            </RadzenHeading>
                            @if (dataCargaDepositarios != null)
                            {
                                if (dataCargaDepositarios.Count > 0)
                                {
                                    <RadzenChart ColorScheme="ColorScheme.Pastel">
                                        <RadzenValueAxis Min="0" />
                                        @foreach (var item in dataCargaDepositarios)
                                        {
                                            var nombreColumna = item.FirstOrDefault().NombreDepositarioConCantidad;
                                            <RadzenColumnSeries Data="@item" CategoryProperty="NombreDepositario" Title="@nombreColumna" LineType="LineType.Dashed" ValueProperty="CantidadTransacciones">
                                                <TooltipTemplate>
                                                    <div style="text-align:center">
                                                        <b>
                                                            @context.NombreDepositario
                                                            <br>
                                                            Cantidad transacciones: @context.CantidadTransacciones
                                                        </b>
                                                    </div>
                                                </TooltipTemplate>
                                            </RadzenColumnSeries>
                                        }
                                        <RadzenColumnOptions Margin="1" Radius="5" />
                                        <RadzenCategoryAxis Visible="false" Padding="40" />
                                    </RadzenChart>
                                }
                            }
                        </ChildContent>
                    </RadzenCard>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <RadzenCard>
                        <ChildContent>
                            <RadzenHeading Size="H3" style="margin-bottom: 0px; text-align: center; font-weight:bold" Text="Cantidad de transacciones por tipo">
                            </RadzenHeading>
                            @if (dataCantidadTipoTransacciones != null)
                            {
                                if (dataCantidadTipoTransacciones.Count > 0)
                                {
                                    <RadzenChart ColorScheme="ColorScheme.Pastel">
                                        <RadzenPieSeries Data="@dataCantidadTipoTransacciones" Title="Cantidad" CategoryProperty="NombreTipoTransaccionConPorcentaje" ValueProperty="CantidadTipoTransaccion">
                                            <TooltipTemplate>
                                                <div style="text-align:center">
                                                    <b>
                                                        @context.NombreTipoTransaccion
                                                        <br>
                                                        Cantidad transacciones: @context.CantidadTipoTransaccion
                                                    </b>
                                                </div>
                                            </TooltipTemplate>
                                        </RadzenPieSeries>
                                    </RadzenChart>
                                }
                            }
                        </ChildContent>
                    </RadzenCard>
                </div>
            </div>
        }
    </ChildContent>
</RadzenContent>

@code {
    private bool estaCargando { get; set; }
    Int64? userId;
    private List<Entities.TextoLenguaje> dataLenguaje;
    private string cantidadTransaccionesAlDia { get; set; }
    private string cantidadDepositariosBolsaCasiLlena { get; set; }
    private string cantidadDepositariosEnLinea { get; set; }
    private string cantidadDepositariosFueraLinea { get; set; }
    private string cantidadDepositariosFueraServicio { get; set; }
    private List<List<Entities.DepositarioCarga>> dataCargaDepositarios { get; set; }
    private List<Entities.TransaccionTipoCantidad> dataCantidadTipoTransacciones { get; set; }
    private List<DirectorioEntities.Empresa> dataEmpresasAccesibles { get; set; }
    private IEnumerable<Int64> empresasSeleccionadas = new Int64[] { };

    protected override void OnInitialized()
    {
        estaCargando = true;
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dataLenguaje = await sessionStorage.GetItemAsync<List<Entities.TextoLenguaje>>("DataLenguaje");
            userId = await sessionStorage.GetItemAsync<Int64?>("Id");
            if (userId == null)
                NavManager.NavigateTo("login", true);

            //En funcion del usuario que consulta obtenemos el perfil de visualizacion y luego las empresas a las que puede acceder
            await Task.Run(ObtenerListadoEmpresasPorPerfil);
            obtenerInformacion();
            StateHasChanged();
        }
    }

    private async void obtenerInformacion()
    {
        if (empresasSeleccionadas != null)
        {
            if (empresasSeleccionadas.Count() > 0)
            {
                await Task.Run(obtenerCantidadTransaccionesAlDia);
                await Task.Run(obtenerCantidadDepositariosBolsaCasiLlena);
                await Task.Run(obtenerCantidadDepositariosEnLinea);
                await Task.Run(obtenerCantidadDepositariosFueraLinea);
                await Task.Run(obtenerCantidadDepositariosFueraServicio);
                await Task.Run(obtenerDepositariosConMayorCarga);
                await Task.Run(obtenerCantidadTransaccionesPorTipo);
            }
        }
        estaCargando = false;
        StateHasChanged();
    }

    private void ObtenerListadoEmpresasPorPerfil()
    {
        dataEmpresasAccesibles = DirectorioController.ObtenerListadoEmpresasPorPerfil(userId.Value);
        //Dejo todas las empresas marcadas
        if (dataEmpresasAccesibles.Count > 0)
        {
            List<Int64> empresas = new();
            foreach (var empresa in dataEmpresasAccesibles)
            {
                empresas.Add(empresa.EmpresaId);
            }
            empresasSeleccionadas = empresas.AsEnumerable();
        }
    }

    void OnChangeEmpresa(object value)
    {
        reiniciarDataSets();
        estaCargando = true;
        StateHasChanged();
        obtenerInformacion();
    }

    void reiniciarDataSets()
    {
        cantidadTransaccionesAlDia = "";
        cantidadDepositariosBolsaCasiLlena = "";
        cantidadDepositariosEnLinea = "";
        cantidadDepositariosFueraLinea = "";
        cantidadDepositariosFueraServicio = "";
        dataCargaDepositarios = new();
        dataCantidadTipoTransacciones = new();

    }

    private void obtenerCantidadTransaccionesAlDia()
    {
        cantidadTransaccionesAlDia = TransaccionController.ObtenerCantidadTransaccionesPorDia(DateTime.Now.Date, empresasSeleccionadas.ToList());
    }

    private void obtenerCantidadDepositariosBolsaCasiLlena()
    {
        cantidadDepositariosBolsaCasiLlena = DepositarioController.ObtenerCantidadDepositariosConBolsaCasiLlena(empresasSeleccionadas.ToList());
    }

    private void obtenerCantidadDepositariosEnLinea()
    {
        cantidadDepositariosEnLinea = DepositarioController.ObtenerCantidadDepositariosEnLinea(empresasSeleccionadas.ToList());
    }

    private void obtenerCantidadDepositariosFueraLinea()
    {
        cantidadDepositariosFueraLinea = DepositarioController.ObtenerCantidadDepositariosFueraLinea(empresasSeleccionadas.ToList());
    }

    private void obtenerCantidadDepositariosFueraServicio()
    {
        cantidadDepositariosFueraServicio = DepositarioController.ObtenerCantidadDepositariosFueraServicio(empresasSeleccionadas.ToList());
    }

    private void obtenerDepositariosConMayorCarga()
    {
        dataCargaDepositarios = DepositarioController.ObtenerDepositariosConMayorCarga(empresasSeleccionadas.ToList());
    }

    private void obtenerCantidadTransaccionesPorTipo()
    {
        dataCantidadTipoTransacciones = TransaccionController.ObtenerCantidadTipoTransacciones(empresasSeleccionadas.ToList());
    }
}