@page "/Monitor"
@layout MainLayout

@using Permaquim.Depositary.Web.Administration.Controllers;
@using System;
@using System.Timers;
@using Permaquim.Depositary.Web.Administration.Managers;

@inject Microsoft.Extensions.Localization.IStringLocalizer<Monitor> L
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager

@if (dataLenguaje != null)
{
    <RadzenContent Container="main">
        <ChildContent>
            <h1>Monitor</h1>
            <hr>
            Agrupar depositarios
            <RadzenCheckBox TValue="bool"
                        Name="ChkAgruparDepositarios"
                        Change="@changeChkAgruparDepositarios">
            </RadzenCheckBox>
            <br />
            <br />
            @if (estaCargandoMonitor)
            {
                <div class="spinner"></div>
            }
            else
            {
                <RadzenDataGrid TItem="MonitorEntities.DepositarioMonitor"
                        @ref="@gridDepositarios"
                        IsLoading="@estaCargandoGridDepositarios"
                        AllowFiltering="true"
                        AllowPaging="true"
                        ExpandMode="DataGridExpandMode.Multiple"
                        Data="@dataDepositarios"
                        RowExpand="@expandirDepositario"
                        RowCollapse="@colapsarDepositario"
                        RowRender="@depositarioRowRender"
                        PageSizeOptions="@(new int[]{10,20,50,100})"
                        AllowColumnPicking="false"
                        AllowGrouping="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Visible="false" Property="DepositarioId" Title="ID" Width="2%" />
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Title="@MultilenguajeController.ObtenerTextoPorClave("EMPRESA",dataLenguaje)" Property="Empresa">
                            <Template>
                                @if (rowsDepositariosExpandidas.Exists(x => x.DepositarioId == context.DepositarioId))
                                {
                                    <div class="textoResaltadoRow">
                                        @context.Empresa
                                    </div>
                                }
                                else
                                    @context.Empresa














                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Title="@MultilenguajeController.ObtenerTextoPorClave("SUCURSAL",dataLenguaje)" Property="Sucursal">
                                <Template>
                                    @if (rowsDepositariosExpandidas.Exists(x => x.DepositarioId == context.DepositarioId))
                                {
                                    <div class="textoResaltadoRow">
                                        @context.Sucursal
                                    </div>
                                }
                                else
                                    @context.Sucursal














                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Title="@MultilenguajeController.ObtenerTextoPorClave("SECTOR",dataLenguaje)" Property="Sector">
                                <Template>
                                    @if (rowsDepositariosExpandidas.Exists(x => x.DepositarioId == context.DepositarioId))
                                {
                                    <div class="textoResaltadoRow">
                                        @context.Sector
                                    </div>
                                }
                                else
                                    @context.Sector














                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Property="Nombre" Title="@MultilenguajeController.ObtenerTextoPorClave("NOMBRE",dataLenguaje)" />
                            <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Property="Modelo" Width="9%" Title="@MultilenguajeController.ObtenerTextoPorClave("MODELO",dataLenguaje)" />
                            <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Property="ValorTotalEnBolsa" FormatString="{0:C2}" Width="12%" TextAlign="TextAlign.Right" Title="@MultilenguajeController.ObtenerTextoPorClave("VALORTOTALENBOLSA",dataLenguaje)" />
                            <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Property="SemaforoOnline" Title="@MultilenguajeController.ObtenerTextoPorClave("SEMAFOROONLINE",dataLenguaje)" Width="9%" TextAlign="TextAlign.Center">
                                <Template Context="depositario">
                                    @switch (depositario.SemaforoOnline)
                                {
                                    case "Verde":
                                        <RadzenImage Path="images/led_green.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                        break;
                                    case "Amarillo":
                                        <RadzenImage Path="images/led_yellow.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                        break;
                                    case "Rojo":
                                        <RadzenImage Path="images/led_red.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                        break;
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Property="SemaforoOcupacionBolsa" Width="10%" Title="@MultilenguajeController.ObtenerTextoPorClave("SEMAFOROOCUPACIONBOLSA",dataLenguaje)" TextAlign="TextAlign.Center">
                            <Template Context="depositario">
                                @switch (depositario.SemaforoOcupacionBolsa)
                                {
                                    case "Verde":
                                        <RadzenImage Path="images/led_green.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                        break;
                                    case "Amarillo":
                                        <RadzenImage Path="images/led_yellow.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                        break;
                                    case "Rojo":
                                        <RadzenImage Path="images/led_red.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                        break;
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Property="SemaforoAnomalia" Title="@MultilenguajeController.ObtenerTextoPorClave("SEMAFOROANOMALIA",dataLenguaje)" Width="9%" TextAlign="TextAlign.Center">
                            <Template Context="depositario">
                                @switch (depositario.SemaforoAnomalia)
                                {
                                    case "Verde":
                                        <RadzenImage Path="images/led_green.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                        break;
                                    case "Amarillo":
                                        <RadzenImage Path="images/led_yellow.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                        break;
                                    case "Rojo":
                                        <RadzenImage Path="images/led_red.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                        break;
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Visible="false" Property="Descripcion" Title="Descripcion" />
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Visible="false" Property="NumeroSerie" Title="N° Serie" />
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Visible="false" Property="CodigoExterno" Title="Cod. Externo" />
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Visible="false" Property="UsuarioCreacion" Title="Usuario creación" Width="10%" />
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Visible="false" Property="FechaCreacion" Title="Fecha creación" Width="10%" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Visible="false" Property="UsuarioModificacion" Title="Usuario mod." Width="10%" />
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Visible="false" Property="FechaModificacion" Title="Fecha mod." Width="10%" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                        <RadzenDataGridColumn TItem="MonitorEntities.DepositarioMonitor" Visible="false" Property="Habilitado" Title="Habilitado" />
                    </Columns>
                    <Template Context="depositario">
                        <div style="background-color:silver">
                            <RadzenCard Style="background-color:azure; margin-bottom:1%; padding-bottom: 0.5%">
                                <ChildContent>
                                    @{
                                        var auxInformacionDepositario = dataInformacionDepositario.Where(x => x.DepositarioId == depositario.DepositarioId).FirstOrDefault();
                                        @if (auxInformacionDepositario != null)
                                        {
                                            <div class="container-fluid flex">
                                                <div class="row" style="margin-left: -5%;">
                                                    <div class="col-md-2" style="align-self: center;text-align: center;">
                                                        <RadzenImage Path="@auxInformacionDepositario.ImagenModelo" style="width: 100px; height: 100px; border-radius: 8px; text-align:center;" />
                                                        <br />
                                                        <b>@MultilenguajeController.ObtenerTextoPorClave("NUMEROSERIE",dataLenguaje):</b> @auxInformacionDepositario.NumeroSerie
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div style="padding-left: 5%; padding-top: 1%; text-align:center">
                                                                    <b>@MultilenguajeController.ObtenerTextoPorClave("DINEROVALIDADO",dataLenguaje):</b> @auxInformacionDepositario.CodigoMoneda @auxInformacionDepositario.TotalValidado
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div style="padding-left: 5%; padding-top: 1%; text-align:center">
                                                                    <b>@MultilenguajeController.ObtenerTextoPorClave("DINEROAVALIDAR",dataLenguaje):</b> @auxInformacionDepositario.CodigoMoneda @auxInformacionDepositario.TotalAValidar
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div style="padding-left: 5%; padding-top: 1%; text-align:center">
                                                                    <b>@MultilenguajeController.ObtenerTextoPorClave("DINEROTOTAL",dataLenguaje):</b> @auxInformacionDepositario.CodigoMoneda @auxInformacionDepositario.Total
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4" style="padding-left: 5%; padding-top: 3%; font-size: medium; text-align:center;">
                                                                <b>@MultilenguajeController.ObtenerTextoPorClave("IDDEBOLSA",dataLenguaje):</b> @auxInformacionDepositario.IdentificadorBolsa
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div style="padding-top: 5%; text-align:center"><b>@MultilenguajeController.ObtenerTextoPorClave("OCUPACIONDELABOLSA",dataLenguaje)</b></div>
                                                                @if (auxInformacionDepositario.PorcentajeOcupacionBolsa >= 70 && auxInformacionDepositario.PorcentajeOcupacionBolsa < 90)
                                                                {
                                                                    <PermaquimProgressBar BarColor="yellow" Mode="ProgressBarMode.Determinate" Value="@auxInformacionDepositario.PorcentajeOcupacionBolsa" Max="100" />
                                                                }
                                                                else if (auxInformacionDepositario.PorcentajeOcupacionBolsa >= 90 && auxInformacionDepositario.PorcentajeOcupacionBolsa < 100)
                                                                {
                                                                    <PermaquimProgressBar BarColor="red" Mode="ProgressBarMode.Determinate" Value="@auxInformacionDepositario.PorcentajeOcupacionBolsa" Max="100" />
                                                                }
                                                                else if (auxInformacionDepositario.PorcentajeOcupacionBolsa >= 100)
                                                                {
                                                                    <PermaquimProgressBar BarColor="darkred" Mode="ProgressBarMode.Determinate" Value="@auxInformacionDepositario.PorcentajeOcupacionBolsa" Max="100" />
                                                                }
                                                                else
                                                                {
                                                                    <PermaquimProgressBar BarColor="green" Mode="ProgressBarMode.Determinate" Value="@auxInformacionDepositario.PorcentajeOcupacionBolsa" Max="100" />
                                                                }
                                                            </div>
                                                            <div class="col-md-4" style="padding-top: 5%; padding-top: 3%; font-size: medium; text-align:center;">
                                                                <b>@MultilenguajeController.ObtenerTextoPorClave("CANTIDADBILLETESBOLSA",dataLenguaje):</b>
                                                                @auxInformacionDepositario.CantidadBilletesEnBolsa / @auxInformacionDepositario.CapacidadBilletesBolsa
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4" style="padding-top: 3%; font-size: medium; text-align:center;">
                                                                <b>@MultilenguajeController.ObtenerTextoPorClave("TURNOACTIVO",dataLenguaje):</b>
                                                                @auxInformacionDepositario.Turno
                                                            </div>
                                                            <div class="col-md-4" style="padding-top: 3%; font-size: medium; text-align:center;">
                                                                <b>@MultilenguajeController.ObtenerTextoPorClave("FECHAAPERTURATURNOACTIVO",dataLenguaje):</b>
                                                                @auxInformacionDepositario.FechaAperturaTurno
                                                            </div>
                                                            <div class="col-md-4" style="padding-left: 5%; padding-top: 3%; font-size: medium; text-align:center;">
                                                                <b>@MultilenguajeController.ObtenerTextoPorClave("FECHAULTIMASINCRONIZACION",dataLenguaje):</b> @(@auxInformacionDepositario.FechaUltimaSincronizacion.HasValue ? @auxInformacionDepositario.FechaUltimaSincronizacion.Value : "-")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (auxInformacionDepositario.DepositoEnOtraMoneda)
                                                {
                                                    <div class="mensajeTransaccionOtrasMonedas">
                                                        *<b>@MultilenguajeController.ObtenerTextoPorClave("EXISTENCIADEPOSITOSOTRAMONEDA",dataLenguaje)</b>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div style="margin-top:2%;" />
                                                }
                                            </div>
                                        }
                                    }
                                </ChildContent>
                            </RadzenCard>
                        </div>
                        <RadzenTabs Change="@(args => changeTabMonitorDepositario(args,depositario))">
                            <Tabs>
                                <RadzenTabsItem Icon="local_atm" Text="@MultilenguajeController.ObtenerTextoPorClave("DEPOSITOS",dataLenguaje)">
                                    <RadzenDataGrid TItem="MonitorEntities.TransaccionValidadaMonitor"
                                            @ref="@gridTransacciones"
                                            AllowFiltering="true"
                                            AllowPaging="true"
                                            AllowSorting="true"
                                            AllowColumnResize="true"
                                            IsLoading="@estaCargandoGridTransacciones"
                                            ExpandMode="DataGridExpandMode.Multiple"
                                            RowExpand="@expandirTransaccion"
                                            PageSizeOptions="@(new int[]{10,20,50,100})"
                                            Data="@dataTransaccionesDepositario.Where(x => x.DepositarioId==depositario.DepositarioId)">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionValidadaMonitor" Visible="false" Property="TransaccionId" Title="ID" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionValidadaMonitor" Property="FechaTransaccion" Sortable="true" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionValidadaMonitor" Property="TipoTransaccion" Title="Tipo" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionValidadaMonitor" Property="UsuarioTransaccion" Title="Usuario T." />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionValidadaMonitor" Visible=@mostrarDatosCuentaBancaria Property="UsuarioCuenta" Title="Usuario cuenta" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionValidadaMonitor" Visible=@mostrarDatosCuentaBancaria Property="Cuenta" Title="Cuenta" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionValidadaMonitor" Visible=@mostrarDatosCuentaBancaria Property="Banco" Width="10%" Title="Banco" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionValidadaMonitor" Property="Moneda" Title="Moneda" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionValidadaMonitor" Property="TotalValidado" Title="Total" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                                        </Columns>
                                        <Template Context="transaccion">
                                            <RadzenDataGrid TItem="MonitorEntities.DetalleTransaccionValidadaMonitor"
                                                    @ref="@gridTransaccionDetalles"
                                                    IsLoading="@estaCargandoGridTransaccionDetalles"
                                                    AllowFiltering="true"
                                                    AllowPaging="true"
                                                    PageSizeOptions="@(new int[]{10,20,50,100})"
                                                    Data="@dataTransaccionDetalles.Where(x => x.TransaccionId==transaccion.TransaccionId)">
                                                <Columns>
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionValidadaMonitor" Visible="false" Property="TransaccionDetalleId" Title="ID" />
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionValidadaMonitor" Property="FechaTransaccionDetalle" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionValidadaMonitor" Property="ImagenDenominacion" Title="Imagen">
                                                        <Template Context="transaccionDetalle">
                                                            <div style="text-align:center">
                                                                <RadzenImage Path="@transaccionDetalle.ImagenDenominacion" Style="width: 80px;" />
                                                            </div>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionValidadaMonitor" Property="Denominacion" Title="Denominación" />
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionValidadaMonitor" Property="CantidadUnidades" Title="Cantidad" TextAlign="TextAlign.Right">
                                                        <FooterTemplate>
                                                            Total cantidad: <b>@dataTransaccionDetalles.Where(x => x.TransaccionId==transaccion.TransaccionId).Sum(o => o.CantidadUnidades)</b>
                                                        </FooterTemplate>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionValidadaMonitor" Property="TotalValidadoFormateado" Title="Total" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                                                </Columns>
                                            </RadzenDataGrid>
                                        </Template>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="forward_to_inbox" Text="@MultilenguajeController.ObtenerTextoPorClave("DEPOSITOSSOBRE",dataLenguaje)">
                                    <RadzenDataGrid TItem="MonitorEntities.TransaccionAValidarMonitor"
                                            @ref="@gridTransaccionesSobres"
                                            AllowFiltering="true"
                                            AllowPaging="true"
                                            ExpandMode="DataGridExpandMode.Multiple"
                                            IsLoading="@estaCargandoGridTransaccionesSobres"
                                            RowExpand="@expandirTransaccionSobre"
                                            PageSizeOptions="@(new int[]{10,20,50,100})"
                                            Data="@dataTransaccionesSobreDepositario.Where(x => x.DepositarioId==depositario.DepositarioId)">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Visible="false" Property="TransaccionSobreId" Title="ID" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Property="FechaTransaccionSobre" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Property="TipoTransaccion" Title="Tipo" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Property="CodigoSobre" Title="Codigo sobre" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Property="UsuarioTransaccion" Title="Usuario T." />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Visible=@mostrarDatosCuentaBancaria Property="UsuarioCuenta" Title="Usuario cuenta" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Visible=@mostrarDatosCuentaBancaria Property="Cuenta" Title="Cuenta" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Visible=@mostrarDatosCuentaBancaria Property="Banco" Width="10%" Title="Banco" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Property="Moneda" Title="Moneda" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TransaccionAValidarMonitor" Property="TotalAValidar" Title="Total a validar" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                                        </Columns>
                                        <Template Context="transaccionSobre">
                                            <RadzenDataGrid TItem="MonitorEntities.DetalleTransaccionAValidarMonitor"
                                                    @ref="@gridTransaccionSobreDetalles"
                                                    AllowFiltering="true"
                                                    AllowPaging="true"
                                                    IsLoading="@estaCargandoGridTransaccionSobreDetalles"
                                                    Data="@dataTransaccionSobreDetalles.Where(x => x.TransaccionSobreId == transaccionSobre.TransaccionSobreId)">
                                                <Columns>
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionAValidarMonitor" Visible="false" Property="TransaccionSobreDetalleId" Title="ID" />
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionAValidarMonitor" Property="FechaTransaccionSobreDetalle" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionAValidarMonitor" Visible="false" Property="Moneda" Title="Moneda" />
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionAValidarMonitor" Property="TipoValor" Title="Tipo valor" />
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionAValidarMonitor" Property="CantidadDeclarada" Title="Cantidad declarada" TextAlign="TextAlign.Right" />
                                                    <RadzenDataGridColumn TItem="MonitorEntities.DetalleTransaccionAValidarMonitor" Property="ValorDeclaradoFormateado" Title="Valor Declarado" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                                                </Columns>
                                            </RadzenDataGrid>
                                        </Template>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="archive" Text="@MultilenguajeController.ObtenerTextoPorClave("EXISTENCIAS",dataLenguaje)">
                                    <RadzenDataGrid TItem="MonitorEntities.ExistenciaValidada"
                                            @ref="@gridExistencias"
                                            AllowFiltering="true"
                                            AllowPaging="true"
                                            IsLoading="@estaCargandoGridExistencias"
                                            PageSizeOptions="@(new int[]{10,20,50,100})"
                                            Data="@dataExistenciasDepositario.Where(x => x.DepositarioId==depositario.DepositarioId)">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="MonitorEntities.ExistenciaValidada" Property="ImagenDenominacion" Title="Imagen" TextAlign="TextAlign.Center">
                                                <Template Context="dataExistencia">
                                                    <RadzenImage Path="@dataExistencia.ImagenDenominacion" style="width: 100px; border-radius: 8px;">
                                                    </RadzenImage>
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="MonitorEntities.ExistenciaValidada" Property="Moneda" Title="Moneda" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.ExistenciaValidada" Property="Denominacion" Title="Denominacion" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.ExistenciaValidada" Property="CantidadValidada" TextAlign="TextAlign.Right" Title="Cantidad validada">
                                                <FooterTemplate>
                                                    Total existencias: <b>@dataExistenciasDepositario.Where(x => x.DepositarioId==depositario.DepositarioId).Sum(o => o.CantidadValidada)</b>
                                                </FooterTemplate>
                                            </RadzenDataGridColumn>
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="mark_as_unread" Text="@MultilenguajeController.ObtenerTextoPorClave("EXISTENCIASAVALIDAR",dataLenguaje)">
                                    <RadzenDataGrid TItem="MonitorEntities.ExistenciaAValidar"
                                            @ref="@gridExistenciasAValidar"
                                            AllowFiltering="true"
                                            AllowPaging="true"
                                            IsLoading="@estaCargandoGridExistenciasAValidar"
                                            PageSizeOptions="@(new int[]{10,20,50,100})"
                                            Data="@dataExistenciasAValidarDepositario.Where(x => x.DepositarioId==depositario.DepositarioId)">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="MonitorEntities.ExistenciaAValidar" Property="ImagenTipoValor" Title="Imagen" TextAlign="TextAlign.Center">
                                                <Template Context="dataExistenciaAValidar">
                                                    <RadzenImage Path="@dataExistenciaAValidar.ImagenTipoValor" style="width: 100px; border-radius: 8px;">
                                                    </RadzenImage>
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="MonitorEntities.ExistenciaAValidar" Property="TipoValor" Title="Tipo valor" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.ExistenciaAValidar" Property="Cantidad" TextAlign="TextAlign.Right" Title="Cantidad" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="calculate" Text="@MultilenguajeController.ObtenerTextoPorClave("TOTALGENERAL",dataLenguaje)">
                                    <RadzenDataGrid TItem="MonitorEntities.TotalGeneral"
                                            @ref="@gridTotalesGenerales"
                                            AllowFiltering="true"
                                            AllowPaging="true"
                                            IsLoading="@estaCargandoGridTotalesGenerales"
                                            Data="@dataTotalesGeneralesDepositario.Where(x => x.DepositarioId==depositario.DepositarioId)">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="MonitorEntities.TotalGeneral" Property="Moneda" Title="Moneda" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TotalGeneral" Property="TotalValidado" FormatString="{0:C2}" TextAlign="TextAlign.Right" Title="Total validado" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TotalGeneral" Property="TotalAValidar" FormatString="{0:C2}" TextAlign="TextAlign.Right" Title="Total a validar" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.TotalGeneral" Property="Total" FormatString="{0:C2}" TextAlign="TextAlign.Right" Title="Total general" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="settings_input_component" Text="@MultilenguajeController.ObtenerTextoPorClave("ANOMALIAS",dataLenguaje)">
                                    <RadzenDataGrid TItem="MonitorEntities.Evento"
                                            @ref="@gridEventos"
                                            AllowFiltering="true"
                                            AllowPaging="true"
                                            IsLoading="@estaCargandoGridEventos"
                                            PageSizeOptions="@(new int[]{10,20,50,100})"
                                            Data="@dataEventosDepositario.Where(x => x.DepositarioId==depositario.DepositarioId)">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="MonitorEntities.Evento" Visible="false" Property="EventoID" Title="ID" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.Evento" Property="FechaEvento" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.Evento" Property="TipoEvento" Title="Tipo evento" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.Evento" Property="Mensaje" Title="Mensaje" />
                                            <RadzenDataGridColumn TItem="MonitorEntities.Evento" Property="Valor" Title="Valor" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    </Template>
                </RadzenDataGrid>
            }
        </ChildContent>
    </RadzenContent>
}

@code {
    //Datasets
    private List<MonitorEntities.DepositarioMonitor> dataDepositarios = new();
    private List<MonitorEntities.TransaccionValidadaMonitor> dataTransaccionesDepositario = new();
    private List<MonitorEntities.DetalleTransaccionValidadaMonitor> dataTransaccionDetalles = new();
    private List<MonitorEntities.TransaccionAValidarMonitor> dataTransaccionesSobreDepositario = new();
    private List<MonitorEntities.DetalleTransaccionAValidarMonitor> dataTransaccionSobreDetalles = new();
    private List<MonitorEntities.Evento> dataEventosDepositario = new();
    private List<MonitorEntities.ExistenciaValidada> dataExistenciasDepositario = new();
    private List<MonitorEntities.ExistenciaAValidar> dataExistenciasAValidarDepositario = new();
    private List<MonitorEntities.InformacionDepositario> dataInformacionDepositario = new();
    private List<MonitorEntities.TotalGeneral> dataTotalesGeneralesDepositario = new();
    private List<Entities.TextoLenguaje> dataLenguaje;
    private List<Depositary.Entities.Tables.Estilo.EsquemaDetalle> dataEsquemaDetalle = new();

    //Variables para controles
    private RadzenDataGrid<MonitorEntities.TransaccionValidadaMonitor> gridTransacciones = new();
    private RadzenDataGrid<MonitorEntities.DepositarioMonitor> gridDepositarios = new();
    private RadzenDataGrid<MonitorEntities.DetalleTransaccionValidadaMonitor> gridTransaccionDetalles = new();
    private RadzenDataGrid<MonitorEntities.TransaccionAValidarMonitor> gridTransaccionesSobres = new();
    private RadzenDataGrid<MonitorEntities.DetalleTransaccionAValidarMonitor> gridTransaccionSobreDetalles = new();
    private RadzenDataGrid<MonitorEntities.Evento> gridEventos = new();
    private RadzenDataGrid<MonitorEntities.ExistenciaValidada> gridExistencias = new();
    private RadzenDataGrid<MonitorEntities.ExistenciaAValidar> gridExistenciasAValidar = new();
    private RadzenDataGrid<MonitorEntities.TotalGeneral> gridTotalesGenerales = new();
    private RadzenCard cardInformacionDepositario = new RadzenCard();
    private bool estaCargandoGridExistencias = false;
    private bool estaCargandoGridDepositarios = false;
    private bool estaCargandoGridTransacciones = false;
    private bool estaCargandoGridTransaccionDetalles = false;
    private bool estaCargandoGridTransaccionSobreDetalles = false;
    private bool estaCargandoGridTransaccionesSobres = false;
    private bool estaCargandoGridExistenciasAValidar = false;
    private bool estaCargandoGridTotalesGenerales = false;
    private bool estaCargandoGridEventos = false;
    private bool estaCargandoMonitor = false;
    private bool mostrarDatosCuentaBancaria = false;

    //Variables auxiliares
    private Timer timerRecargaInformacion = new Timer();
    private List<MonitorEntities.DepositarioMonitor> rowsDepositariosExpandidas = new();
    private Depositary.Entities.Tables.Seguridad.Usuario? dataUsuario = null;
    string colorRow;
    string colorMensajesResaltados;

    protected override void OnInitialized()
    {
        estaCargandoMonitor = true;
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dataLenguaje = await sessionStorage.GetItemAsync<List<Entities.TextoLenguaje>>("DataLenguaje");
            dataUsuario = await sessionStorage.GetItemAsync<Depositary.Entities.Tables.Seguridad.Usuario?>("DataUsuario");
            dataEsquemaDetalle = await sessionStorage.GetItemAsync<List<Depositary.Entities.Tables.Estilo.EsquemaDetalle>>("DataEsquemaDetalle");
            colorRow = EstiloController.ObtenerItemEstilo(dataEsquemaDetalle, "ColorRowExpandida", true);
            colorMensajesResaltados = EstiloController.ObtenerItemEstilo(dataEsquemaDetalle, "ColorMensajeResaltadoMonitor", true);
            string valorConfiguracionCuentaBancaria = "";
            valorConfiguracionCuentaBancaria = AplicacionController.ObtenerConfiguracionGeneral("USA_CUENTA_BANCARIA");
            if(valorConfiguracionCuentaBancaria!="")
            {
                bool.TryParse(valorConfiguracionCuentaBancaria, out mostrarDatosCuentaBancaria);
            }
            if (dataUsuario == null)
                NavManager.NavigateTo("login", true);
            estaCargandoGridDepositarios = true;
            StateHasChanged();
            await Task.Run(obtenerDepositarios);
            estaCargandoMonitor = false;
            StateHasChanged();
        }
    }

    private void SetTimer()
    {
        // Create a timer with a two second interval.
        timerRecargaInformacion = new System.Timers.Timer(10000);
        // Hook up the Elapsed event for the timer.
        timerRecargaInformacion.Elapsed += new ElapsedEventHandler(recargarInformacionDepositario);
        timerRecargaInformacion.AutoReset = true;
        timerRecargaInformacion.Enabled = true;
        timerRecargaInformacion.Start();
    }

    private async void recargarInformacionDepositario(Object source, ElapsedEventArgs e)
    {
        estaCargandoGridDepositarios = true;
        await Task.Run(obtenerDepositarios);
        //await InvokeAsync(StateHasChanged);
        //foreach (var item in rowsDepositariosExpandidas)
        //{
        //await InvokeAsync(StateHasChanged);
        //await InvokeAsync(gridDepositarios.Reload);
        //else
        //    await InvokeAsync(StateHasChanged);
        //}
    }

    private void obtenerDepositarios()
    {
        dataDepositarios = DepositarioController.ObtenerDepositarios(dataUsuario.Id);
        estaCargandoGridDepositarios = false;
    }

    protected async Task expandirDepositario(MonitorEntities.DepositarioMonitor args)
    {
        //rowsDepositariosExpandidas.RemoveAll(x => x.DepositarioId == args.DepositarioId);
        estaCargandoGridDepositarios = true;
        rowsDepositariosExpandidas.Add(args);
        await Task.Run(() => obtenerInformacionDepositario(args.DepositarioId));
        await Task.Run(() => obtenerTransaccionesPorDepositario(args.DepositarioId));
    }

    protected async Task colapsarDepositario(MonitorEntities.DepositarioMonitor args)
    {
        rowsDepositariosExpandidas.RemoveAll(x => x.DepositarioId == args.DepositarioId);
    }

    void depositarioRowRender(RowRenderEventArgs<MonitorEntities.DepositarioMonitor> args)
    {
        if (rowsDepositariosExpandidas.Where(x => x.DepositarioId == args.Data.DepositarioId).ToList().Count > 0)
        {
            args.Attributes.Add("class", "row-highlight");
        }
        else
        {
            args.Attributes.Add("class", "rz-datatable-even");
        }
    }

    private void obtenerInformacionDepositario(Int64 pDepositarioId)
    {
        dataInformacionDepositario.RemoveAll(x => x.DepositarioId == pDepositarioId);
        dataInformacionDepositario.Add(DepositarioController.ObtenerInformacionDepositario(pDepositarioId));
    }

    private void obtenerTransaccionesPorDepositario(Int64 pDepositarioId)
    {
        dataTransaccionesDepositario.RemoveAll(x => x.DepositarioId == pDepositarioId);
        dataTransaccionesDepositario.AddRange(OperacionController.ObtenerTransaccionesValidadasMonitor(pDepositarioId));
        estaCargandoGridDepositarios = false;
        estaCargandoGridTransacciones = false;
    }

    private void obtenerTransaccionesSobrePorDepositario(Int64 pDepositarioId)
    {
        dataTransaccionesSobreDepositario.RemoveAll(x => x.DepositarioId == pDepositarioId);
        dataTransaccionesSobreDepositario.AddRange(OperacionController.ObtenerTransaccionesAValidarMonitor(pDepositarioId));
        estaCargandoGridTransaccionesSobres = false;
    }

    private void obtenerExistenciasPorDepositario(Int64 pDepositarioId)
    {
        dataExistenciasDepositario.RemoveAll(x => x.DepositarioId == pDepositarioId);
        dataExistenciasDepositario.AddRange(OperacionController.ObtenerExistenciasValidadasPorDepositario(pDepositarioId));
        estaCargandoGridExistencias = false;
    }

    private void obtenerExistenciasAValidarPorDepositario(Int64 pDepositarioId)
    {
        dataExistenciasAValidarDepositario.RemoveAll(x => x.DepositarioId == pDepositarioId);
        dataExistenciasAValidarDepositario.AddRange(OperacionController.ObtenerExistenciasAValidarPorDepositario(pDepositarioId));
        estaCargandoGridExistenciasAValidar = false;
    }

    private void obtenerTotalesGeneralesPorDepositario(Int64 pDepositarioId)
    {
        dataTotalesGeneralesDepositario.RemoveAll(x => x.DepositarioId == pDepositarioId);
        dataTotalesGeneralesDepositario.AddRange(OperacionController.ObtenerTotalesGeneralesPorDepositarioSegunMoneda(pDepositarioId));
        estaCargandoGridTotalesGenerales = false;
    }

    private void obtenerEventosPorDepositario(Int64 pDepositarioId)
    {
        dataEventosDepositario.RemoveAll(x => x.DepositarioId == pDepositarioId);
        dataEventosDepositario.AddRange(OperacionController.ObtenerEventosPorDepositario(pDepositarioId));
        estaCargandoGridEventos = false;
    }

    private async Task changeTabMonitorDepositario(int index, MonitorEntities.DepositarioMonitor depositario)
    {
        switch (index)
        {
            case 0:
                estaCargandoGridTransacciones = true;
                await Task.Run(() => obtenerTransaccionesPorDepositario(depositario.DepositarioId));
                break;
            case 1:
                estaCargandoGridTransaccionesSobres = true;
                await Task.Run(() => obtenerTransaccionesSobrePorDepositario(depositario.DepositarioId));
                break;
            case 2:
                estaCargandoGridExistencias = true;
                await Task.Run(() => obtenerExistenciasPorDepositario(depositario.DepositarioId));
                break;
            case 3:
                estaCargandoGridExistenciasAValidar = true;
                await Task.Run(() => obtenerExistenciasAValidarPorDepositario(depositario.DepositarioId));
                break;
            case 4:
                estaCargandoGridTotalesGenerales = true;
                await Task.Run(() => obtenerTotalesGeneralesPorDepositario(depositario.DepositarioId));
                break;
            case 5:
                estaCargandoGridEventos = true;
                await Task.Run(() => obtenerEventosPorDepositario(depositario.DepositarioId));
                break;
        }
    }

    protected async Task changeChkAgruparDepositarios(bool value)
    {
        if (!value)
        {
            gridDepositarios.Groups.Clear();
        }
        else
        {
            gridDepositarios.Groups.Clear();
            GroupDescriptor groupDescriptorEmpresa = new GroupDescriptor();
            groupDescriptorEmpresa.Property = "Empresa";
            groupDescriptorEmpresa.SortOrder = SortOrder.Ascending;
            groupDescriptorEmpresa.Title = "Empresa";

            GroupDescriptor groupDescriptorSucursal = new GroupDescriptor();
            groupDescriptorSucursal.Property = "Sucursal";
            groupDescriptorSucursal.SortOrder = SortOrder.Ascending;
            groupDescriptorSucursal.Title = "Sucursal";

            GroupDescriptor groupDescriptorSector = new GroupDescriptor();
            groupDescriptorSector.Property = "Sector";
            groupDescriptorSector.SortOrder = SortOrder.Ascending;
            groupDescriptorSector.Title = "Sector";

            gridDepositarios.Groups.Add(groupDescriptorEmpresa);
            gridDepositarios.Groups.Add(groupDescriptorSucursal);
            gridDepositarios.Groups.Add(groupDescriptorSector);
        }
    }

    protected async Task expandirTransaccion(MonitorEntities.TransaccionValidadaMonitor args)
    {
        estaCargandoGridTransaccionDetalles = true;
        await Task.Run(() => obtenerDetalleTransaccion(args.TransaccionId));
    }

    private void obtenerDetalleTransaccion(Int64 pTransaccionId)
    {
        dataTransaccionDetalles.RemoveAll(x => x.TransaccionId == pTransaccionId);
        dataTransaccionDetalles.AddRange(OperacionController.ObtenerDetalleTransaccionValidadaMonitor(pTransaccionId));
        estaCargandoGridTransaccionDetalles = false;
    }

    protected async Task expandirTransaccionSobre(MonitorEntities.TransaccionAValidarMonitor args)
    {
        estaCargandoGridTransaccionSobreDetalles = true;
        await Task.Run(() => obtenerDetalleTransaccionSobre(args.TransaccionSobreId));
    }

    private void obtenerDetalleTransaccionSobre(Int64 pTransaccionSobreId)
    {
        dataTransaccionSobreDetalles.RemoveAll(x => x.TransaccionSobreId == pTransaccionSobreId);
        dataTransaccionSobreDetalles.AddRange(OperacionController.ObtenerDetalleTransaccionAValidarMonitor(pTransaccionSobreId));
        estaCargandoGridTransaccionSobreDetalles = false;
    }
}

<style>
    .rz-expanded-row-template {
        background-color: @colorRow;
        padding: 0.625rem;
        border: solid 1px rgba(71, 156, 200, 0.2);
        border-radius: 2px;
    }

    .row-highlight {
        background-color: @colorRow;
    }

    .textoResaltadoRow {
        color: @colorMensajesResaltados;
        font-weight: bold
    }

    .mensajeTransaccionOtrasMonedas {
        float: right;
        margin-top: 1%;
        margin-right: -3%;
        color: @colorMensajesResaltados;
        font-weight: bold
    }
</style>