@page "/Monitor"
@layout MainLayout
@using Permaquim.Depositary.Web.Administration.Controllers;

@inject Microsoft.Extensions.Localization.IStringLocalizer<Monitor> L
<RadzenContent Container="main">
    <ChildContent>
        <h1>Monitor</h1>

        Agrupar depositarios
        <RadzenCheckBox TValue="bool"
                        Name="ChkAgruparDepositarios"
                        Change="@changeChkAgruparDepositarios">
        </RadzenCheckBox>
        <br />
        <br />

        <RadzenDataGrid TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios"
                        @ref="@gridDepositarios"
                        AllowFiltering="true"
                        AllowPaging="true"
                        ExpandMode="DataGridExpandMode.Single"
                        Data="@dataDepositarios"
                        RowExpand="@expandirDepositario"
                        AllowGrouping="true">
            <Columns>
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Visible="false" Property="DepositarioID" Title="ID" Width="2%" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Property="Empresa" Title="Empresa" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Property="Sucursal" Title="Sucursal" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Property="Sector" Title="Sector" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Property="Nombre" Title="Nombre" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Property="Modelo" Title="Modelo" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Property="CantidadDepositoUltimoCierre" Width="10%" TextAlign="TextAlign.Right" Title="Cant. ult. cierre" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Property="SemaforoOnline" Title="Online" Width="6%" TextAlign="TextAlign.Center">
                    <Template Context="depositario">
                        @switch (depositario.SemaforoOnline)
                        {
                            case "Verde":
                                <RadzenImage Path="../images/led_green.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                break;
                            case "Amarillo":
                                <RadzenImage Path="../images/led_yellow.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                break;
                            case "Rojo":
                                <RadzenImage Path="../images/led_red.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                break;
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Property="SemaforoOcupacionBolsa" Width="6%" Title="% bolsa" TextAlign="TextAlign.Center">
                    <Template Context="depositario">
                        @switch (depositario.SemaforoOcupacionBolsa)
                        {
                            case "Verde":
                                <RadzenImage Path="../images/led_green.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                break;
                            case "Amarillo":
                                <RadzenImage Path="../images/led_yellow.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                break;
                            case "Rojo":
                                <RadzenImage Path="../images/led_red.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                break;
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Property="SemaforoAnomalia" Title="Anomalias" Width="6%" TextAlign="TextAlign.Center">
                    <Template Context="depositario">
                        @switch (depositario.SemaforoAnomalia)
                        {
                            case "Verde":
                                <RadzenImage Path="../images/led_green.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                break;
                            case "Amarillo":
                                <RadzenImage Path="../images/led_yellow.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                break;
                            case "Rojo":
                                <RadzenImage Path="../images/led_red.png" style="width: 30px; height: 30px; border-radius: 8px;" />
                                break;
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Visible="false" Property="Descripcion" Title="Descripcion" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Visible="false" Property="NumeroSerie" Title="N° Serie" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Visible="false" Property="CodigoExterno" Title="Cod. Externo" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Visible="false" Property="UsuarioCreacion" Title="Usuario creación" Width="10%" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Visible="false" Property="FechaCreacion" Title="Fecha creación" Width="10%" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Visible="false" Property="UsuarioModificacion" Title="Usuario mod." Width="10%" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Visible="false" Property="FechaModificacion" Title="Fecha mod." Width="10%" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios" Visible="false" Property="Habilitado" Title="Habilitado" />
            </Columns>
            <Template Context="depositario">
                <RadzenCard Style="background-color:azure; margin-bottom:20px">
                    <ChildContent>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <RadzenImage Path="../images/de-50.jpeg" style="width: 100px; height: 100px; border-radius: 8px; text-align:center;" />
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4" style="font-size: medium; text-align:center;">
                                            <b>Numero de serie:</b> @depositario.NumeroSerie
                                        </div>
                                        <div class="col-md-4" style="font-size: medium; text-align:center;">
                                            <b>Numero de bolsa:</b> 2322
                                        </div>
                                        <div class="col-md-4" style="font-size: medium; text-align:center;">
                                            <b>Fecha ultima sincronización:</b> @DateTime.Now
                                        </div>
                                    </div>
                                    <div style="" class="row">
                                        <div class="col-md-4">
                                            <div style="padding-top: 5%; text-align:center">Ocupación de la bolsa</div>
                                            <RadzenProgressBar Mode="ProgressBarMode.Determinate" Value="75" Max="100" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenCard>
                <RadzenTabs Change="@changeTabMonitorDepositario">
                    <Tabs>
                        <RadzenTabsItem Text="Depositos">
                            <RadzenDataGrid TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario"
                                            @ref="@gridTransacciones"
                                            AllowFiltering="true"
                                            AllowPaging="true"
                                            ExpandMode="DataGridExpandMode.Multiple"
                                            RowExpand="@expandirTransaccion"
                                            Data="@dataTransaccionesDepositario">
                                <Columns>
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Visible="false" Property="TransaccionID" Title="ID" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Property="FechaTransaccion" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Property="TipoTransaccion" Title="Tipo" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Property="UsuarioTransaccion" Title="Usuario T." />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Property="UsuarioCuenta" Title="Usuario cuenta" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Property="Cuenta" Title="Cuenta" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Property="Banco" Width="10%" Title="Banco" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Property="Contenedor" Title="Contenedor" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Property="TotalValidado" Title="TotalValidado" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario" Property="TotalAValidar" Title="TotalAValidar" FormatString="{0:C2}" TextAlign="TextAlign.Right" />
                                </Columns>
                                <Template Context="transaccion">
                                    <RadzenDataGrid TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion"
                                                    @ref="@gridTransaccionDetalles"
                                                    AllowFiltering="true"
                                                    AllowPaging="true"
                                                    Data="@dataTransaccionDetalles">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion" Visible="false" Property="TransaccionDetalleID" Title="ID" />
                                            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion" Property="FechaTransaccionDetalle" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion" Property="Moneda" Title="Moneda" />
                                            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion" Property="Denominacion" Title="Denominación" />
                                            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion" Property="ImagenDenominacion" Title="Imagen">
                                                <Template Context="transaccionDetalle">
                                                    <RadzenImage Path="@transaccionDetalle.ImagenDenominacion" Style="width: 50px;" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion" Property="CantidadUnidades" Title="Cantidad" TextAlign="TextAlign.Right" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </Template>
                            </RadzenDataGrid>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Depositos sobre">
                            <RadzenDataGrid TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario"
                                            @ref="@gridTransaccionesSobres"
                                            AllowFiltering="true"
                                            AllowPaging="true"
                                            ExpandMode="DataGridExpandMode.Single"
                                            RowExpand="@expandirTransaccionSobre"
                                            Data="@dataTransaccionesSobreDepositario">
                                <Columns>
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario" Visible="false" Property="TransaccionSobreID" Title="ID" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario" Property="FechaTransaccionSobre" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario" Property="TipoTransaccion" Title="Tipo" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario" Property="CodigoSobre" Title="Codigo sobre" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario" Property="UsuarioTransaccion" Title="Usuario T." />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario" Property="UsuarioCuenta" Title="Usuario cuenta" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario" Property="Cuenta" Title="Cuenta" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario" Property="Banco" Width="10%" Title="Banco" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario" Property="Contenedor" Title="Contenedor" />
                                </Columns>
                                <Template Context="transaccionSobre">
                                    <RadzenDataGrid TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccionSobre"
                                                    @ref="@gridTransaccionSobreDetalles"
                                                    AllowFiltering="true"
                                                    AllowPaging="true"
                                                    Data="@dataTransaccionSobreDetalles">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccionSobre" Visible="false" Property="TransaccionSobreDetalleID" Title="ID" />
                                            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccionSobre" Property="FechaTransaccionSobreDetalle" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccionSobre" Property="CantidadDeclarada" Title="Cantidad declarada" TextAlign="TextAlign.Right" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </Template>
                            </RadzenDataGrid>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Monedas">
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Anomalias">
                            <RadzenDataGrid TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario"
                                            @ref="@gridEventos"
                                            AllowFiltering="true"
                                            AllowPaging="true"
                                            Data="@dataEventosDepositario">
                                <Columns>
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario" Visible="false" Property="EventoID" Title="ID" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario" Property="FechaEvento" Title="Fecha" FormatString="{0:dd/MM/yyyy HH:mm:ss}" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario" Property="TipoEvento" Title="Tipo evento" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario" Property="Mensaje" Title="Mensaje" />
                                    <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario" Property="Valor" Title="Valor" />
                                </Columns>
                            </RadzenDataGrid>
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </Template>

        </RadzenDataGrid>
    </ChildContent>
</RadzenContent>

@code {

    //Datasets
    private List<DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios> dataDepositarios = new List<DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios>();
    private List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario> dataTransaccionesDepositario = new List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario>();
    private List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion> dataTransaccionDetalles = new List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion>();
    private List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario> dataTransaccionesSobreDepositario = new List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario>();
    private List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccionSobre> dataTransaccionSobreDetalles = new List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccionSobre>();
    private List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario> dataEventosDepositario = new List<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario>();

    //Variables para controles
    private RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario> gridTransacciones = new RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario>();
    private RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios> gridDepositarios = new RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios>();
    private RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion> gridTransaccionDetalles = new RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccion>();
    private RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario> gridTransaccionesSobres = new RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario>();
    private RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccionSobre> gridTransaccionSobreDetalles = new RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerDetalleTransaccionSobre>();
    private RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario> gridEventos = new RadzenDataGrid<DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerEventosPorDepositario>();

    private Int64 DepositarioID_EnSeleccion;
    private Int64 TransaccionID_EnSeleccion;
    private Int64 TransaccionSobreID_EnSeleccion;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(obtenerDepositarios);
    }

    private void obtenerDepositarios()
    {
        dataDepositarios = DepositarioController.ObtenerDepositarios();
    }

    protected async Task expandirDepositario(DepositarioAdminWeb.Entities.Procedures.Dispositivo.ObtenerDepositarios args)
    {
        DepositarioID_EnSeleccion = args.DepositarioID.Value;
        await Task.Run(obtenerTransaccionesPorDepositario);
    }

    private void obtenerTransaccionesPorDepositario()
    {
        dataTransaccionesDepositario = TransaccionController.ObtenerTransaccionesPorDepositario(DepositarioID_EnSeleccion);
    }

    private void obtenerTransaccionesSobrePorDepositario()
    {
        dataTransaccionesSobreDepositario = TransaccionController.ObtenerTransaccionesSobrePorDepositario(DepositarioID_EnSeleccion);
    }

    private void obtenerEventosPorDepositario()
    {
        dataEventosDepositario = TransaccionController.ObtenerEventosPorDepositario(DepositarioID_EnSeleccion);
    }

    private async Task changeTabMonitorDepositario(int index)
    {
        switch (index)
        {
            case 0:
                await Task.Run(obtenerTransaccionesPorDepositario);
                break;
            case 1:
                await Task.Run(obtenerTransaccionesSobrePorDepositario);
                break;
            case 3:
                await Task.Run(obtenerEventosPorDepositario);
                break;
        }
    }

    protected async Task changeChkAgruparDepositarios(bool value)
    {
        if (!value)
        {
            gridDepositarios.Groups.Clear();
        }
        else
        {
            gridDepositarios.Groups.Clear();
            GroupDescriptor groupDescriptorEmpresa = new GroupDescriptor();
            groupDescriptorEmpresa.Property = "Empresa";
            groupDescriptorEmpresa.SortOrder = SortOrder.Ascending;
            groupDescriptorEmpresa.Title = "Empresa";

            GroupDescriptor groupDescriptorSucursal = new GroupDescriptor();
            groupDescriptorSucursal.Property = "Sucursal";
            groupDescriptorSucursal.SortOrder = SortOrder.Ascending;
            groupDescriptorSucursal.Title = "Sucursal";

            GroupDescriptor groupDescriptorSector = new GroupDescriptor();
            groupDescriptorSector.Property = "Sector";
            groupDescriptorSector.SortOrder = SortOrder.Ascending;
            groupDescriptorSector.Title = "Sector";

            gridDepositarios.Groups.Add(groupDescriptorEmpresa);
            gridDepositarios.Groups.Add(groupDescriptorSucursal);
            gridDepositarios.Groups.Add(groupDescriptorSector);
        }
    }

    protected async Task expandirTransaccion(DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesPorDepositario args)
    {
        TransaccionID_EnSeleccion = args.TransaccionID.Value;
        await Task.Run(obtenerDetalleTransaccion);
    }

    private void obtenerDetalleTransaccion()
    {
        dataTransaccionDetalles = TransaccionController.ObtenerDetalleTransaccion(TransaccionID_EnSeleccion);
    }

    protected async Task expandirTransaccionSobre(DepositarioAdminWeb.Entities.Procedures.Operacion.ObtenerTransaccionesSobrePorDepositario args)
    {
        TransaccionSobreID_EnSeleccion = args.TransaccionSobreID.Value;
        await Task.Run(obtenerDetalleTransaccionSobre);
    }

    private void obtenerDetalleTransaccionSobre()
    {
        dataTransaccionSobreDetalles = TransaccionController.ObtenerDetalleTransaccionSobre(TransaccionSobreID_EnSeleccion);
    }

        }
