@page "/OperacionTurnoCrud"
@using Permaquim.Depositary.Web.Administration.Controllers;
@inject NotificationService NotificationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager
 
@if(dataFunciones != null)
{
@if (SeguridadController.VerificarPermisoFuncion("OperacionTurno",dataFunciones,"PuedeVisualizar"))
{
 @if (Turno_entities == null)
 {
     <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
 }
 else
 {
     switch (crudMode)
     {
         case CrudMode.Add:
             <RadzenBadge  BadgeStyle="BadgeStyle.Secondary" >
                 <ChildContent>
                         <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_A_NAME_Operacion.Turno",dataLenguaje)</h4>
                 </ChildContent>
             </RadzenBadge>
             break;
         case CrudMode.Delete:
             <RadzenBadge BadgeStyle="BadgeStyle.Warning" >
                 <ChildContent>
                         <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_D_NAME_Operacion.Turno",dataLenguaje)</h4>
                 </ChildContent>
             </RadzenBadge>
             break;
             case CrudMode.Edit:
             <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                 <ChildContent>
                         <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_M_NAME_Operacion.Turno",dataLenguaje)</h4>
                 </ChildContent>
             </RadzenBadge>
             break;         
             case CrudMode.List:
             <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                 <ChildContent>
                     <div>
                         <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_L_NAME_Operacion.Turno",dataLenguaje)</h4>
                     </div>
                 </ChildContent>
             </RadzenBadge>
             break;  
     }
     <hr>
     if (crudMode == CrudMode.List)
     {
         <RadzenDataGrid AllowColumnPicking ="true" PageSizeOptions="@(new int[]{10,20,50,100})" AllowFiltering ="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
         Data="@Turno_entities" TItem="Depositary.Entities.Tables.Operacion.Turno" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.And">
         <EmptyTemplate>
             <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen registros.</p>
         </EmptyTemplate>        
         <Columns>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="80px" >
                 <HeaderTemplate>
                     <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Success" Visible=@SeguridadController.VerificarPermisoFuncion("OperacionTurno",dataFunciones,"PuedeAgregar") Text =@MultilenguajeController.ObtenerTextoPorClave("BOTON_NUEVO",dataLenguaje) Click="Add">
                     </RadzenButton>
                     </HeaderTemplate>
                     <Template Context="element">
                     <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Visible=@SeguridadController.VerificarPermisoFuncion("OperacionTurno",dataFunciones,"PuedeModificar") Class="m-1" Click="@(args => Edit(element,false))" @onclick:stopPropagation="true">
                     </RadzenButton>
                     <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Visible=@SeguridadController.VerificarPermisoFuncion("OperacionTurno",dataFunciones,"PuedeEliminar") Class="m-1" Click="@(args => Edit(element,true))" @onclick:stopPropagation="true">
                     </RadzenButton>
                 </Template>
                 </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="Id" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("ID",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" />
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Title=@MultilenguajeController.ObtenerTextoPorClave("TURNODEPOSITARIOID",dataLenguaje) Property="TurnoDepositarioId" Width="100px" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_TurnoDepositarioId" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                 <Template>
                     @if(AgendaTurno_TurnoDepositarioId_entities.FirstOrDefault( c => c.Id == @context.TurnoDepositarioId) != null){
                         <RadzenLabel Text="@AgendaTurno_TurnoDepositarioId_entities.FirstOrDefault( c => c.Id == @context.TurnoDepositarioId).Nombre" Component="TurnoDepositarioId" style="width: 100%">
                             </RadzenLabel>
                         }
                         else
                         {
                         <RadzenLabel Text="No data available" Component="TurnoDepositarioId" style="width: 100%">
                             </RadzenLabel>                        
                         }
                 </Template>
                 <FilterTemplate>
                     <div style="margin-top: 1rem;font-weight: 600">Filter</div>
                     <RadzenDropDown @bind-Value=@selectedFilter_TurnoDepositarioId Data="@AgendaTurno_TurnoDepositarioId_filter" Change="OnSelectedFilter_TurnoDepositarioId_Changed" AllowFiltering ="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="Nombre" AllowClear="true" Multiple="true"/>
                 </FilterTemplate>
             </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Title=@MultilenguajeController.ObtenerTextoPorClave("DEPOSITARIOID",dataLenguaje) Property="DepositarioId" Width="100px" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_DepositarioId" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                 <Template>
                     @if(Depositario_DepositarioId_entities.FirstOrDefault( c => c.Id == @context.DepositarioId) != null){
                         <RadzenLabel Text="@Depositario_DepositarioId_entities.FirstOrDefault( c => c.Id == @context.DepositarioId).Nombre" Component="DepositarioId" style="width: 100%">
                             </RadzenLabel>
                         }
                         else
                         {
                         <RadzenLabel Text="No data available" Component="DepositarioId" style="width: 100%">
                             </RadzenLabel>                        
                         }
                 </Template>
                 <FilterTemplate>
                     <div style="margin-top: 1rem;font-weight: 600">Filter</div>
                     <RadzenDropDown @bind-Value=@selectedFilter_DepositarioId Data="@Depositario_DepositarioId_filter" Change="OnSelectedFilter_DepositarioId_Changed" AllowFiltering ="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="Nombre" AllowClear="true" Multiple="true"/>
                 </FilterTemplate>
             </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="SectorId" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("SECTORID",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true" >
     </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="FechaApertura" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("FECHAAPERTURA",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true" >
     </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="FechaCierre" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("FECHACIERRE",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true" >
     </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="Fecha" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("FECHA",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true" >
     </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="Secuencia" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("SECUENCIA",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true" >
     </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Title=@MultilenguajeController.ObtenerTextoPorClave("CIERREDIARIOID",dataLenguaje) Property="CierreDiarioId" Width="100px" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_CierreDiarioId" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                 <Template>
                     @if(CierreDiario_CierreDiarioId_entities.FirstOrDefault( c => c.Id == @context.CierreDiarioId) != null){
                         <RadzenLabel Text="@CierreDiario_CierreDiarioId_entities.FirstOrDefault( c => c.Id == @context.CierreDiarioId).Nombre" Component="CierreDiarioId" style="width: 100%">
                             </RadzenLabel>
                         }
                         else
                         {
                         <RadzenLabel Text="No data available" Component="CierreDiarioId" style="width: 100%">
                             </RadzenLabel>                        
                         }
                 </Template>
                 <FilterTemplate>
                     <div style="margin-top: 1rem;font-weight: 600">Filter</div>
                     <RadzenDropDown @bind-Value=@selectedFilter_CierreDiarioId Data="@CierreDiario_CierreDiarioId_filter" Change="OnSelectedFilter_CierreDiarioId_Changed" AllowFiltering ="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="Nombre" AllowClear="true" Multiple="true"/>
                 </FilterTemplate>
             </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="Observaciones" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("OBSERVACIONES",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true" >
     </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Title=@MultilenguajeController.ObtenerTextoPorClave("USUARIOCREACION",dataLenguaje) Property="UsuarioCreacion" Width="100px" Visible="false" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_UsuarioCreacion" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                 <Template>
                     @{
                         var usuario = Usuario_UsuarioCreacion_entities.FirstOrDefault( c => c.Id == @context.UsuarioCreacion);
                         if(usuario != null)
                         {
                             <RadzenLabel Text=@(usuario.NombreApellido) Component="UsuarioCreacion" style="width: 100%">
                             </RadzenLabel>
                         }
                         else
                         {
                             <RadzenLabel Text="No data available" Component="UsuarioCreacion" style="width: 100%">
                             </RadzenLabel>                        
                         }
                     }
                 </Template>
                 <FilterTemplate>
                     <div style="margin-top: 1rem;font-weight: 600">Filter</div>
                     <RadzenDropDown @bind-Value=@selectedFilter_UsuarioCreacion Data="@Usuario_UsuarioCreacion_filter" Change="OnSelectedFilter_UsuarioCreacion_Changed" AllowFiltering ="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="NombreApellido" AllowClear ="true" Multiple="true"/>
                 </FilterTemplate>
             </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="FechaCreacion" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("FECHACREACION",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="false" >
     </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Title=@MultilenguajeController.ObtenerTextoPorClave("USUARIOMODIFICACION",dataLenguaje) Property="UsuarioModificacion" Width="100px" Visible="false" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_UsuarioModificacion" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                 <Template>
                     @{
                         var usuario = Usuario_UsuarioModificacion_entities.FirstOrDefault( c => c.Id == @context.UsuarioModificacion);
                         if(usuario != null)
                         {
                             <RadzenLabel Text=@(usuario.NombreApellido) Component="UsuarioModificacion" style="width: 100%">
                             </RadzenLabel>
                         }
                         else
                         {
                             <RadzenLabel Text="No data available" Component="UsuarioModificacion" style="width: 100%">
                             </RadzenLabel>                        
                         }
                     }
                 </Template>
                 <FilterTemplate>
                     <div style="margin-top: 1rem;font-weight: 600">Filter</div>
                     <RadzenDropDown @bind-Value=@selectedFilter_UsuarioModificacion Data="@Usuario_UsuarioModificacion_filter" Change="OnSelectedFilter_UsuarioModificacion_Changed" AllowFiltering ="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="NombreApellido" AllowClear ="true" Multiple="true"/>
                 </FilterTemplate>
             </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="FechaModificacion" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("FECHAMODIFICACION",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="false" >
     </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Operacion.Turno" Property="Habilitado" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("HABILITADO",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true" >
             <Template Context="data">
                 <RadzenCheckBox TValue ="bool" Value=@data.Habilitado Disabled="true">
                 </RadzenCheckBox>
             </Template>
     </RadzenDataGridColumn>
         </Columns>
         </RadzenDataGrid>
     <hr>
     }
 
     if (crudMode == CrudMode.Add || crudMode == CrudMode.Edit || crudMode == CrudMode.Delete)
     {
             <RadzenTemplateForm TItem="Depositary.Entities.Tables.Operacion.Turno" Data="@Turno_entity"  @bind-Value="Turno_entity" Submit ="Save" Visible ="@(Turno_entity != null)">
             <ChildContent>
                @if(crudMode != CrudMode.Add)
                {
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("ID",dataLenguaje) Component="Id" style="width: 100%">
                         </RadzenLabel>
                     </div>
                     <div class="col-md-9">
                         <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Turno_entity.Id)" Name="Id" Disabled="true" >
                     </RadzenNumeric>
                     </div>
                 </div>
                }
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                 <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("TURNODEPOSITARIOID",dataLenguaje) Component ="TurnoDepositarioId" style="width: 100%">
                 </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     @if((@AgendaTurno_TurnoDepositarioId_entities.Count > 0 && @AgendaTurno_TurnoDepositarioId_entities.FirstOrDefault( c => c.Id == @Turno_entity.TurnoDepositarioId) != null) || crudMode != CrudMode.Delete)
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(Turno_entity.TurnoDepositarioId)"
                                     Data=@AgendaTurno_TurnoDepositarioId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectAgendaTurno_TurnoDepositarioIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                     }
                     else
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                     Data=@AgendaTurno_TurnoDepositarioId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectAgendaTurno_TurnoDepositarioIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                    }
                </div>
              </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                 <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("DEPOSITARIOID",dataLenguaje) Component ="DepositarioId" style="width: 100%">
                 </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     @if((@Depositario_DepositarioId_entities.Count > 0 && @Depositario_DepositarioId_entities.FirstOrDefault( c => c.Id == @Turno_entity.DepositarioId) != null) || crudMode != CrudMode.Delete)
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(Turno_entity.DepositarioId)"
                                     Data=@Depositario_DepositarioId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectDepositario_DepositarioIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                     }
                     else
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                     Data=@Depositario_DepositarioId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectDepositario_DepositarioIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                    }
                </div>
              </div>
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("SECTORID",dataLenguaje) Component="SectorId" style="width: 100%">
                         </RadzenLabel>
                     </div>
                     <div class="col-md-9">
                         <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Turno_entity.SectorId)" Name="SectorId" Disabled="@(crudMode==CrudMode.Delete)" >
                     </RadzenNumeric>
                     </div>
                 </div>
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("FECHAAPERTURA",dataLenguaje) Component="FechaApertura" style="width: 100%">
                         </RadzenLabel>
                     </div>
                 <div class="col-md-9">
                     <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Turno_entity.FechaApertura)" Name="FechaApertura" Disabled="@(crudMode==CrudMode.Delete)" >
                     </RadzenDatePicker>
                 </div>
             </div>
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("FECHACIERRE",dataLenguaje) Component="FechaCierre" style="width: 100%">
                         </RadzenLabel>
                     </div>
                 <div class="col-md-9">
                     <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Turno_entity.FechaCierre)" Name="FechaCierre" Disabled="@(crudMode==CrudMode.Delete)" >
                     </RadzenDatePicker>
                 </div>
             </div>
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("FECHA",dataLenguaje) Component="Fecha" style="width: 100%">
                         </RadzenLabel>
                     </div>
                 <div class="col-md-9">
                     <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Turno_entity.Fecha)" Name="Fecha" Disabled="@(crudMode==CrudMode.Delete)" >
                     </RadzenDatePicker>
                 </div>
             </div>
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("SECUENCIA",dataLenguaje) Component="Secuencia" style="width: 100%">
                         </RadzenLabel>
                     </div>
                     <div class="col-md-9">
                         <RadzenNumeric  TValue="int" style="display: block; width: 100%" @bind-Value="@(Turno_entity.Secuencia)" Name="Secuencia" Disabled="@(crudMode==CrudMode.Delete)" >
                     </RadzenNumeric>
                     </div>
                 </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                 <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("CIERREDIARIOID",dataLenguaje) Component ="CierreDiarioId" style="width: 100%">
                 </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     @if((@CierreDiario_CierreDiarioId_entities.Count > 0 && @CierreDiario_CierreDiarioId_entities.FirstOrDefault( c => c.Id == @Turno_entity.CierreDiarioId) != null) || crudMode != CrudMode.Delete)
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64?" Class="w-100" @bind-Value="@(Turno_entity.CierreDiarioId)"
                                     Data=@CierreDiario_CierreDiarioId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectCierreDiario_CierreDiarioIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                     }
                     else
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64?" Class="w-100" 
                                     Data=@CierreDiario_CierreDiarioId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectCierreDiario_CierreDiarioIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                    }
                </div>
              </div>
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("OBSERVACIONES",dataLenguaje) Component="Observaciones" style="width: 100%">
                         </RadzenLabel>
                     </div>
                     <div class="col-md-9">
                         <RadzenTextBox  style="display: block" @bind-Value="@(Turno_entity.Observaciones)" Name="Observaciones" Disabled="@(crudMode==CrudMode.Delete)">
                         </RadzenTextBox>
                     </div>
                 </div>
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                 <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("HABILITADO",dataLenguaje) Component="Habilitado" Style="margin-left: 0px; vertical-align: middle;" />
                     </div>
                     <div class="col-md-9">
                 <RadzenCheckBox @bind-Value=@Turno_entity.Habilitado  Name="HabilitadoCheckBox" TValue="bool" Change=@(args => HabilitadoChange(args, @Turno_entity)) Disabled = "@(crudMode == CrudMode.Delete)" />
                     </div>
                 </div>
             <div class="row">
                 <div class="col offset-sm-3">
                 <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text=@MultilenguajeController.ObtenerTextoPorClave("BOTON_ACEPTAR",dataLenguaje) ButtonStyle ="ButtonStyle.Primary">
                 </RadzenButton>
                 <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon = "save" style="margin-left: 1rem" Text=@MultilenguajeController.ObtenerTextoPorClave("BOTON_CANCELAR",dataLenguaje) Click="Cancel">
                 </RadzenButton>
                  </div>
             </div>
             </ChildContent>
             </RadzenTemplateForm>
     <hr>
     }
 
     <RadzenNotification /> 
 }
}
else
{
     <p>No tiene permisos para visualizar los registros.</p>
}
}
else
{
     <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
 
@code {
    /// <summary>
    /// Crud Mode Enum
    /// </summary>
    private enum CrudMode
    {
        List,
        Add,
        Edit,
        Delete
    }
    /// <summary>
    /// Variables to handle main entity
    /// </summary>
    private Depositary.Entities.Tables.Operacion.Turno Turno_entity = new();
    private List<Depositary.Entities.Tables.Operacion.Turno> Turno_entities = null;
 
    /// <summary>
    /// Variables to store multilanguaje
    /// </summary>
    private List<Entities.TextoLenguaje> dataLenguaje;
 
 
    /// <summary>
    /// Variables to store permissions
    /// </summary>
    private List<SeguridadEntities.FuncionRol> dataFunciones;
 
    /// <summary>
    /// Variables to handle Relation between Turno.TurnoDepositarioId and AgendaTurno.Id
    /// </summary>
    private Depositary.Entities.Tables.Turno.AgendaTurno AgendaTurno_TurnoDepositarioId_entity = new();
    private List<Depositary.Entities.Tables.Turno.AgendaTurno>? AgendaTurno_TurnoDepositarioId_entities;
    private List<Depositary.Entities.Tables.Turno.AgendaTurno> AgendaTurno_TurnoDepositarioId_filter;
    private IEnumerable<Int64> selectedFilter_TurnoDepositarioId;
 
    /// <summary>
    /// Variables to handle Relation between Turno.DepositarioId and Depositario.Id
    /// </summary>
    private Depositary.Entities.Tables.Dispositivo.Depositario Depositario_DepositarioId_entity = new();
    private List<Depositary.Entities.Tables.Dispositivo.Depositario>? Depositario_DepositarioId_entities;
    private List<Depositary.Entities.Tables.Dispositivo.Depositario> Depositario_DepositarioId_filter;
    private IEnumerable<Int64> selectedFilter_DepositarioId;
 
    /// <summary>
    /// Variables to handle Relation between Turno.CierreDiarioId and CierreDiario.Id
    /// </summary>
    private Depositary.Entities.Tables.Operacion.CierreDiario CierreDiario_CierreDiarioId_entity = new();
    private List<Depositary.Entities.Tables.Operacion.CierreDiario>? CierreDiario_CierreDiarioId_entities;
    private List<Depositary.Entities.Tables.Operacion.CierreDiario> CierreDiario_CierreDiarioId_filter;
    private IEnumerable<Int64> selectedFilter_CierreDiarioId;
 
    /// <summary>
    /// Variables to handle Relation between Turno.UsuarioCreacion and Usuario.Id
    /// </summary>
    private Depositary.Entities.Tables.Seguridad.Usuario Usuario_UsuarioCreacion_entity = new();
    private List<Depositary.Entities.Tables.Seguridad.Usuario>? Usuario_UsuarioCreacion_entities;
    private List<Depositary.Entities.Tables.Seguridad.Usuario> Usuario_UsuarioCreacion_filter;
    private IEnumerable<Int64> selectedFilter_UsuarioCreacion;
 
    /// <summary>
    /// Variables to handle Relation between Turno.UsuarioModificacion and Usuario.Id
    /// </summary>
    private Depositary.Entities.Tables.Seguridad.Usuario Usuario_UsuarioModificacion_entity = new();
    private List<Depositary.Entities.Tables.Seguridad.Usuario>? Usuario_UsuarioModificacion_entities;
    private List<Depositary.Entities.Tables.Seguridad.Usuario> Usuario_UsuarioModificacion_filter;
    private IEnumerable<Int64> selectedFilter_UsuarioModificacion;
 
    /// <summary>
    ///  Page crud mode {List,Add,Edit,Delete}
    /// </summary>
    private CrudMode crudMode = CrudMode.List;
 
    /// <summary>
    ///  Variable to store the user id
    /// </summary>
    private Depositary.Entities.Tables.Seguridad.Usuario? dataUsuario = null;
 
    protected override async Task OnInitializedAsync()
    {
        dataLenguaje = await sessionStorage.GetItemAsync<List<Entities.TextoLenguaje>>("DataLenguaje");
        dataFunciones = await sessionStorage.GetItemAsync<List<SeguridadEntities.FuncionRol>>("DataFunciones");
        await Task.Run(LoadMainEntityData);
        await Task.Run(LoadTypesData);
        dataUsuario = await sessionStorage.GetItemAsync<Depositary.Entities.Tables.Seguridad.Usuario?>("DataUsuario");
        if (dataUsuario == null)
             NavManager.NavigateTo("login", true);
    }
    #region Loading entities data
    /// <summary>
    /// Loads main entity data
    /// </summary>
    private void LoadMainEntityData()
    {
        Depositary.Business.Tables.Operacion.Turno entity = new();
        Turno_entities = entity.Items();
    }
    /// <summary>
    /// Loads Type Tables data
    /// </summary>
    private void LoadTypesData()
    {
        Depositary.Business.Tables.Turno.AgendaTurno AgendaTurno_TurnoDepositarioId_local = new();
        AgendaTurno_TurnoDepositarioId_entities = AgendaTurno_TurnoDepositarioId_local.Items();
        AgendaTurno_TurnoDepositarioId_filter = AgendaTurno_TurnoDepositarioId_entities.Where(x => Turno_entities.Select(x => x.TurnoDepositarioId).Distinct().Contains(x.Id)).ToList();
 
        Depositary.Business.Tables.Dispositivo.Depositario Depositario_DepositarioId_local = new();
        Depositario_DepositarioId_entities = Depositario_DepositarioId_local.Items();
        Depositario_DepositarioId_filter = Depositario_DepositarioId_entities.Where(x => Turno_entities.Select(x => x.DepositarioId).Distinct().Contains(x.Id)).ToList();
 
        Depositary.Business.Tables.Operacion.CierreDiario CierreDiario_CierreDiarioId_local = new();
        CierreDiario_CierreDiarioId_entities = CierreDiario_CierreDiarioId_local.Items();
        CierreDiario_CierreDiarioId_filter = CierreDiario_CierreDiarioId_entities.Where(x => Turno_entities.Select(x => x.CierreDiarioId).Distinct().Contains(x.Id)).ToList();
 
        Depositary.Business.Tables.Seguridad.Usuario Usuario_UsuarioCreacion_local = new();
        Usuario_UsuarioCreacion_entities = Usuario_UsuarioCreacion_local.Items();
        Usuario_UsuarioCreacion_filter = Usuario_UsuarioCreacion_entities.Where(x => Turno_entities.Select(x => x.UsuarioCreacion).Distinct().Contains(x.Id)).ToList();
 
        Depositary.Business.Tables.Seguridad.Usuario Usuario_UsuarioModificacion_local = new();
        Usuario_UsuarioModificacion_entities = Usuario_UsuarioModificacion_local.Items();
        Usuario_UsuarioModificacion_filter = Usuario_UsuarioModificacion_entities.Where(x => Turno_entities.Select(x => x.UsuarioModificacion).Distinct().Contains(x.Id)).ToList();
 
    }
 
    #endregion
 
    /// <summary>
    /// Initializations for adding a new entity
    /// </summary>
    private void Add()
    {
        //Main entity initialization
        Turno_entity = new();
        //Relations entities initialization
        AgendaTurno_TurnoDepositarioId_entity = new(); 
        Depositario_DepositarioId_entity = new(); 
        CierreDiario_CierreDiarioId_entity = new(); 
        Usuario_UsuarioCreacion_entity = new(); 
        Usuario_UsuarioModificacion_entity = new(); 
        crudMode = CrudMode.Add;
    }
    /// <summary>
    /// <summary>
    /// Initializations for editing an entity
    /// </summary>
    private void Edit(Depositary.Entities.Tables.Operacion.Turno item, bool delete)
    {
             Turno_entity = item;
            AgendaTurno_TurnoDepositarioId_entity = new() { 
            Id = AgendaTurno_TurnoDepositarioId_entities.FirstOrDefault(c => c.Id == Turno_entity.TurnoDepositarioId).Id, 
            Nombre = AgendaTurno_TurnoDepositarioId_entities.FirstOrDefault(c => c.Id == Turno_entity.TurnoDepositarioId).Nombre
            };
            Depositario_DepositarioId_entity = new() { 
            Id = Depositario_DepositarioId_entities.FirstOrDefault(c => c.Id == Turno_entity.DepositarioId).Id, 
            Nombre = Depositario_DepositarioId_entities.FirstOrDefault(c => c.Id == Turno_entity.DepositarioId).Nombre
            };
            if(CierreDiario_CierreDiarioId_entities.Exists(c => c.Id == Turno_entity.CierreDiarioId))
            {
                 CierreDiario_CierreDiarioId_entity = new() { 
                 Id = CierreDiario_CierreDiarioId_entities.FirstOrDefault(c => c.Id == Turno_entity.CierreDiarioId).Id, 
                 Nombre = CierreDiario_CierreDiarioId_entities.FirstOrDefault(c => c.Id == Turno_entity.CierreDiarioId).Nombre
                 };
            }
            Usuario_UsuarioCreacion_entity = new() { 
            Id = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == Turno_entity.UsuarioCreacion).Id, 
            Nombre = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == Turno_entity.UsuarioCreacion).Nombre
            };
            if(Usuario_UsuarioModificacion_entities.Exists(c => c.Id == Turno_entity.UsuarioModificacion))
            {
                 Usuario_UsuarioModificacion_entity = new() { 
                 Id = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == Turno_entity.UsuarioModificacion).Id, 
                 Nombre = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == Turno_entity.UsuarioModificacion).Nombre
                 };
            }
        if (delete)
            crudMode = CrudMode.Delete;
        else
            crudMode = CrudMode.Edit;
    }
    /// <summary>
    /// Operation depending on Crud mode
    /// </summary>
    private async Task Save()
    {
        string actionInformation = string.Empty;
        NotificationSeverity severityType = NotificationSeverity.Error;
        string summary = string.Empty;
        Depositary.Business.Tables.Operacion.Turno crud = new();
        foreach(var property in Turno_entity.GetType().GetProperties())
        {
             switch(property.Name)
             {
                 case "FechaModificacion":
                 if(crudMode == CrudMode.Add)
                 {
                     Turno_entity.FechaModificacion=null;
                 }
                 else
                 {
                     Turno_entity.FechaModificacion=DateTime.Now;
                 }
                 break;
                 case "FechaCreacion":
                 if(crudMode == CrudMode.Add)
                 {
                     Turno_entity.FechaCreacion=DateTime.Now;
                 }
                 break;
                 case "UsuarioCreacion":
                 if(crudMode == CrudMode.Add)
                 {
                     Turno_entity.UsuarioCreacion=dataUsuario.Id;
                 }
                 break;
                 case "UsuarioModificacion":
                 if(crudMode == CrudMode.Add)
                 {
                     Turno_entity.UsuarioModificacion=null;
                 }
                 else
                 {
                     Turno_entity.UsuarioModificacion=dataUsuario.Id;
                 }
                 break;
             }
        }
        switch (crudMode)
        {
            case CrudMode.Add:
                try
                {
                     crud.Add(Turno_entity);
                     summary = "El registro se ha ";
                     actionInformation = "agregado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
            break;
            case CrudMode.Edit:
                try
                {
                     crud.Update(Turno_entity);
                     summary = "El registro se ha ";
                     actionInformation = "modificado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
            break;
            case CrudMode.Delete:
                try
                {
                     Turno_entity.Habilitado=false;
                     crud.Update(Turno_entity);
                     summary = "El registro se ha ";
                     actionInformation = "eliminado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
                break;
        }
 
        // Sets Crud mode to List
        crudMode = CrudMode.List;
 
        ShowNotification(new NotificationMessage { 
            Severity = severityType, 
            Summary = summary, 
            Detail = actionInformation, 
            Duration = 4000 });
       
            await Task.Run(LoadMainEntityData);
    }
    /// <summary>
    /// Crud mode cancellation and default mode
    /// </summary>
    private void Cancel()
    {
        crudMode = CrudMode.List;  
        LoadMainEntityData();
    }
    /// <summary>
    /// Sets detail panel title - TODO: Implement Multilanguage
    /// </summary>
    /// <returns></returns>
    private string GetDialogTitle()
    {
        string retValue = string.Empty;
        switch (crudMode)
        {
            case CrudMode.Add:
                retValue = "Nuevo...";
                break;
            case CrudMode.Edit:
                retValue = "Editar...";
                break;
            case CrudMode.Delete:
                retValue = "Borrar...";
                break;
        }
        return retValue;
    }
    #region Notifications
    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
 
    }
 
    #endregion
    #region Selection events
    /// <summary>
    /// AgendaTurno_TurnoDepositarioId value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectAgendaTurno_TurnoDepositarioIdValueChanged(object item)
    {
    }
 
    /// <summary>
    /// selectedFilter_TurnoDepositarioId value changed
    /// </summary>
    /// <param name="item"></param>
    private void OnSelectedFilter_TurnoDepositarioId_Changed(object value)
    {
         if(selectedFilter_TurnoDepositarioId!=null && !selectedFilter_TurnoDepositarioId.Any())
         {
             selectedFilter_TurnoDepositarioId=null;
         }
    }
 
    /// <summary>
    /// Depositario_DepositarioId value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectDepositario_DepositarioIdValueChanged(object item)
    {
    }
 
    /// <summary>
    /// selectedFilter_DepositarioId value changed
    /// </summary>
    /// <param name="item"></param>
    private void OnSelectedFilter_DepositarioId_Changed(object value)
    {
         if(selectedFilter_DepositarioId!=null && !selectedFilter_DepositarioId.Any())
         {
             selectedFilter_DepositarioId=null;
         }
    }
 
    /// <summary>
    /// CierreDiario_CierreDiarioId value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectCierreDiario_CierreDiarioIdValueChanged(object item)
    {
    }
 
    /// <summary>
    /// selectedFilter_CierreDiarioId value changed
    /// </summary>
    /// <param name="item"></param>
    private void OnSelectedFilter_CierreDiarioId_Changed(object value)
    {
         if(selectedFilter_CierreDiarioId!=null && !selectedFilter_CierreDiarioId.Any())
         {
             selectedFilter_CierreDiarioId=null;
         }
    }
 
    /// <summary>
    /// Usuario_UsuarioCreacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectUsuario_UsuarioCreacionValueChanged(object item)
    {
    }
 
    /// <summary>
    /// selectedFilter_UsuarioCreacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void OnSelectedFilter_UsuarioCreacion_Changed(object value)
    {
         if(selectedFilter_UsuarioCreacion!=null && !selectedFilter_UsuarioCreacion.Any())
         {
             selectedFilter_UsuarioCreacion=null;
         }
    }
 
    /// <summary>
    /// Usuario_UsuarioModificacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectUsuario_UsuarioModificacionValueChanged(object item)
    {
    }
 
    /// <summary>
    /// selectedFilter_UsuarioModificacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void OnSelectedFilter_UsuarioModificacion_Changed(object value)
    {
         if(selectedFilter_UsuarioModificacion!=null && !selectedFilter_UsuarioModificacion.Any())
         {
             selectedFilter_UsuarioModificacion=null;
         }
    }
 
    /// <summary>
    /// Entity is binded, however it sets anyway.
    /// </summary>
    /// <returns></returns>
    void HabilitadoChange(bool? value,Depositary.Entities.Tables.Operacion.Turno item)
    {
         Turno_entity = item;
    }
    #endregion
 
    #region Export
 
    #endregion
 
}
