@page "/OperacionTurnoCrud"
@inject NotificationService NotificationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager
 
@if (Turno_entities == null)
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
else
{
    switch (crudMode)
    {
        case CrudMode.Add:
            <RadzenBadge  BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <h4 style="color:white;">Ingrese los datos de Turno</h4>
                </ChildContent>
            </RadzenBadge>
            break;
        case CrudMode.Delete:
            <RadzenBadge BadgeStyle="BadgeStyle.Warning" >
                <ChildContent>
                    <h4 style="color:white;">Confirma eliminar el Turno ?</h4>
                </ChildContent>
            </RadzenBadge>
            break;
            case CrudMode.Edit:
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <h4 style="color:white;">Modificación de datos de Turno</h4>
                </ChildContent>
            </RadzenBadge>
            break;         
            case CrudMode.List:
            <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                <ChildContent>
                    <div>
                        <h4 style="color:white;">Administración de Turno</h4>
                    </div>
                </ChildContent>
            </RadzenBadge>
            break;  
    }
 <hr>
    if (crudMode == CrudMode.List)
    {
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
        Data="@Turno_entities" TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
       <EmptyTemplate>
            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen registros.</p>
        </EmptyTemplate>        
        <Columns>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px" >
             <HeaderTemplate>
                 <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Success" Text ="Nuevo" Click="Add">
                 </RadzenButton>
                 </HeaderTemplate>
                 <Template Context="element">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Class="m-1" Click="@(args => Edit(element,false))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Class="m-1" Click="@(args => Edit(element,true))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
             </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="Id" Filterable="false" Title="Id" Frozen="false" Width="50px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="TurnoDepositarioId" Filterable="false" Title="TurnoDepositarioId" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Title="DepositarioId" Property="DepositarioId" Width="100px" >
                <Template>
                    @if(Depositario_entities.FirstOrDefault( c => c.Id == @context.DepositarioId) != null){
                       <RadzenLabel Text="@Depositario_entities.FirstOrDefault( c => c.Id == @context.DepositarioId).Nombre" Component="DepositarioId" style="width: 100%">
                            </RadzenLabel>
                        }
                        else
                        {
                       <RadzenLabel Text="No data available" Component="DepositarioId" style="width: 100%">
                            </RadzenLabel>                        
                        }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="SectorId" Filterable="false" Title="SectorId" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="FechaApertura" Filterable="false" Title="FechaApertura" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="FechaCierre" Filterable="false" Title="FechaCierre" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="Fecha" Filterable="false" Title="Fecha" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="Secuencia" Filterable="false" Title="Secuencia" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Title="CierreDiarioId" Property="CierreDiarioId" Width="100px" >
                <Template>
                    @if(CierreDiario_entities.FirstOrDefault( c => c.Id == @context.CierreDiarioId) != null){
                       <RadzenLabel Text="@CierreDiario_entities.FirstOrDefault( c => c.Id == @context.CierreDiarioId).Nombre" Component="CierreDiarioId" style="width: 100%">
                            </RadzenLabel>
                        }
                        else
                        {
                       <RadzenLabel Text="No data available" Component="CierreDiarioId" style="width: 100%">
                            </RadzenLabel>                        
                        }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="Observaciones" Filterable="false" Title="Observaciones" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="UsuarioCreacion" Filterable="false" Title="UsuarioCreacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="FechaCreacion" Filterable="false" Title="FechaCreacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="UsuarioModificacion" Filterable="false" Title="UsuarioModificacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="FechaModificacion" Filterable="false" Title="FechaModificacion" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
    </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Property="Habilitado" Filterable="false" Title="Habilitado" Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
            <Template Context="data">
                <RadzenCheckBox TValue ="bool" Value=@data.Habilitado Disabled="true">
                </RadzenCheckBox>
            </Template>
    </RadzenDataGridColumn>
        </Columns>
        </RadzenDataGrid>
 <hr>
    }
 
    if (crudMode == CrudMode.Add || crudMode == CrudMode.Edit || crudMode == CrudMode.Delete)
    {
         <RadzenTemplateForm TItem="DepositarioAdminWeb.Entities.Tables.Operacion.Turno" Data="@Turno_entity"  @bind-Value="Turno_entity" Submit ="Save" Visible ="@(Turno_entity != null)">
          <ChildContent>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Id" Component="Id" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Turno_entity.Id)" Name="Id" Disabled="@(crudMode==CrudMode.Delete)" >
                 </RadzenNumeric>
                 </div>
             </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="TurnoDepositarioId" Component="TurnoDepositarioId" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Turno_entity.TurnoDepositarioId)" Name="TurnoDepositarioId" Disabled="@(crudMode==CrudMode.Delete)" >
                 </RadzenNumeric>
                 </div>
             </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="DepositarioId" Component="DepositarioId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                  @if((@Depositario_entities.Count > 0 && @Depositario_entities.FirstOrDefault( c => c.Id == @Turno_entity.DepositarioId) != null) || crudMode != CrudMode.Delete)
                  {
                        <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(Turno_entity.DepositarioId)"
                                    Data=@Depositario_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectDepositarioValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
                  else
                  {
                       <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                    Data=@Depositario_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectDepositarioValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
              </div>
            </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="SectorId" Component="SectorId" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Turno_entity.SectorId)" Name="SectorId" Disabled="@(crudMode==CrudMode.Delete)" >
                 </RadzenNumeric>
                 </div>
             </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="FechaApertura" Component="FechaApertura" style="width: 100%">
                     </RadzenLabel>
                 </div>
              <div class="col-md-9">
                 <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Turno_entity.FechaApertura)" Name="FechaApertura" Disabled="@(crudMode==CrudMode.Delete)" >
                 </RadzenDatePicker>
              </div>
            </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="FechaCierre" Component="FechaCierre" style="width: 100%">
                     </RadzenLabel>
                 </div>
              <div class="col-md-9">
                 <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Turno_entity.FechaCierre)" Name="FechaCierre" Disabled="@(crudMode==CrudMode.Delete)" >
                 </RadzenDatePicker>
              </div>
            </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Fecha" Component="Fecha" style="width: 100%">
                     </RadzenLabel>
                 </div>
              <div class="col-md-9">
                 <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Turno_entity.Fecha)" Name="Fecha" Disabled="@(crudMode==CrudMode.Delete)" >
                 </RadzenDatePicker>
              </div>
            </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Secuencia" Component="Secuencia" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenNumeric  TValue="int" style="display: block; width: 100%" @bind-Value="@(Turno_entity.Secuencia)" Name="Secuencia" Disabled="@(crudMode==CrudMode.Delete)" >
                 </RadzenNumeric>
                 </div>
             </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="CierreDiarioId" Component="CierreDiarioId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                  @if((@CierreDiario_entities.Count > 0 && @CierreDiario_entities.FirstOrDefault( c => c.Id == @Turno_entity.CierreDiarioId) != null) || crudMode != CrudMode.Delete)
                  {
                        <RadzenDropDown AllowClear="true" TValue="Int64?" Class="w-100" @bind-Value="@(Turno_entity.CierreDiarioId)"
                                    Data=@CierreDiario_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectCierreDiarioValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
                  else
                  {
                       <RadzenDropDown AllowClear="true" TValue="Int64?" Class="w-100" 
                                    Data=@CierreDiario_entities TextProperty = "Nombre" ValueProperty = "Id"
                                    Change=@(args => SelectCierreDiarioValueChanged(args))
                                    Disabled="@(crudMode==CrudMode.Delete)" />
                  }
              </div>
            </div>
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="Observaciones" Component="Observaciones" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenTextBox  style="display: block" @bind-Value="@(Turno_entity.Observaciones)" Name="Observaciones" Disabled="@(crudMode==CrudMode.Delete)">
                     </RadzenTextBox>
                     @if(@crudMode!=CrudMode.Delete)
                     {
                         <RadzenRequiredValidator Component="Observaciones" Text="Observaciones is required" Style="position: absolute">
                         </RadzenRequiredValidator>
                     }
                 </div>
               </div>
         @if(crudMode!=CrudMode.Add)
         {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="UsuarioCreacion" Component="UsuarioCreacion" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(Turno_entity.UsuarioCreacion)" Name="UsuarioCreacion" Disabled="true">
                 </RadzenNumeric>
                 </div>
             </div>
         }
         @if(crudMode!=CrudMode.Add)
         {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="FechaCreacion" Component="FechaCreacion" style="width: 100%">
                     </RadzenLabel>
                 </div>
              <div class="col-md-9">
                 <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Turno_entity.FechaCreacion)" Name="FechaCreacion" Disabled="true" >
                 </RadzenDatePicker>
              </div>
            </div>
         }
         @if(crudMode!=CrudMode.Add)
         {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="UsuarioModificacion" Component="UsuarioModificacion" style="width: 100%">
                     </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     <RadzenNumeric  TValue="long?" style="display: block; width: 100%" @bind-Value="@(Turno_entity.UsuarioModificacion)" Name="UsuarioModificacion" Disabled="true">
                 </RadzenNumeric>
                 </div>
             </div>
         }
         @if(crudMode!=CrudMode.Add)
         {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                     <RadzenLabel Text="FechaModificacion" Component="FechaModificacion" style="width: 100%">
                     </RadzenLabel>
                 </div>
              <div class="col-md-9">
                 <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(Turno_entity.FechaModificacion)" Name="FechaModificacion" Disabled="true" >
                 </RadzenDatePicker>
              </div>
            </div>
         }
              <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                <RadzenLabel Text="Habilitado" Component="Habilitado" Style="margin-left: 0px; vertical-align: middle;" />
                 </div>
                 <div class="col-md-9">
                <RadzenCheckBox @bind-Value=@Turno_entity.Habilitado  Name="HabilitadoCheckBox" TValue="bool" Change=@(args => HabilitadoChange(args, @Turno_entity)) />
                 </div>
               </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Aceptar" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon = "save" style="margin-left: 1rem" Text="Cancelar" Click="Cancel">
                </RadzenButton>
              </div>
            </div>
           </ChildContent>
         </RadzenTemplateForm>
 <hr>
    }
 
    <RadzenNotification /> 
}
 
@code {
    /// <summary>
    /// Crud Mode Enum
    /// </summary>
    private enum CrudMode
    {
        List,
        Add,
        Edit,
        Delete
    }
    /// <summary>
    /// Variables to handle main entity
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Operacion.Turno Turno_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Operacion.Turno> Turno_entities = null;
 
    /// <summary>
    /// Variables to handle Relation between Turno.DepositarioId and Depositario.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Dispositivo.Depositario Depositario_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Dispositivo.Depositario>? Depositario_entities;
 
    /// <summary>
    /// Variables to handle Relation between Turno.CierreDiarioId and CierreDiario.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Operacion.CierreDiario CierreDiario_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Operacion.CierreDiario>? CierreDiario_entities;
 
    /// <summary>
    ///  Page crud mode {List,Add,Edit,Delete}
    /// </summary>
    private CrudMode crudMode = CrudMode.List;
 
    /// <summary>
    ///  Variable to store the user id
    /// </summary>
    private Int64? userId = null;
 
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadMainEntityData);
        await Task.Run(LoadTypesData);
        userId = await sessionStorage.GetItemAsync<Int64?>("Id");
        if (userId == null)
             NavManager.NavigateTo("/ login", true);
    }
    #region Loading entities data
    /// <summary>
    /// Loads main entity data
    /// </summary>
    private void LoadMainEntityData()
    {
        DepositarioAdminWeb.Business.Tables.Operacion.Turno entity = new();
        Turno_entities = entity.Items();
    }
    /// <summary>
    /// Loads Type Tables data
    /// </summary>
    private void LoadTypesData()
    {
        DepositarioAdminWeb.Business.Tables.Dispositivo.Depositario Depositario_local = new();
        Depositario_entities = Depositario_local.Items();
 
        DepositarioAdminWeb.Business.Tables.Operacion.CierreDiario CierreDiario_local = new();
        CierreDiario_entities = CierreDiario_local.Items();
 
    }
 
    #endregion
 
    /// <summary>
    /// Initializations for adding a new entity
    /// </summary>
    private void Add()
    {
        //Main entity initialization
        Turno_entity = new();
        //Relations entities initialization
        Depositario_entity = new(); 
        CierreDiario_entity = new(); 
        crudMode = CrudMode.Add;
    }
    /// <summary>
    /// <summary>
    /// Initializations for editing an entity
    /// </summary>
    private void Edit(DepositarioAdminWeb.Entities.Tables.Operacion.Turno item, bool delete)
    {
             Turno_entity = item;
            Depositario_entity = new() { 
            Id = Depositario_entities.FirstOrDefault(c => c.Id == Turno_entity.DepositarioId).Id, 
            Nombre = Depositario_entities.FirstOrDefault(c => c.Id == Turno_entity.DepositarioId).Nombre
            };
            CierreDiario_entity = new() { 
            Id = CierreDiario_entities.FirstOrDefault(c => c.Id == Turno_entity.CierreDiarioId).Id, 
            Nombre = CierreDiario_entities.FirstOrDefault(c => c.Id == Turno_entity.CierreDiarioId).Nombre
            };
        if (delete)
            crudMode = CrudMode.Delete;
        else
            crudMode = CrudMode.Edit;
    }
    /// <summary>
    /// Operation depending on Crud mode
    /// </summary>
    private async Task Save()
    {
        string actionInformation = string.Empty;
        NotificationSeverity severityType = NotificationSeverity.Error;
        string summary = string.Empty;
        DepositarioAdminWeb.Business.Tables.Operacion.Turno crud = new();
        foreach(var property in Turno_entity.GetType().GetProperties())
        {
             switch(property.Name)
             {
                 case "FechaModificacion":
                 if(crudMode == CrudMode.Add)
                 {
                     Turno_entity.FechaModificacion=null;
                 }
                 else
                 {
                     Turno_entity.FechaModificacion=DateTime.Now;
                 }
                 break;
                 case "FechaCreacion":
                 if(crudMode == CrudMode.Add)
                 {
                     Turno_entity.FechaCreacion=DateTime.Now;
                 }
                 break;
                 case "UsuarioCreacion":
                 if(crudMode == CrudMode.Add)
                 {
                     Turno_entity.UsuarioCreacion=userId.Value;
                 }
                 break;
                 case "UsuarioModificacion":
                 if(crudMode == CrudMode.Add)
                 {
                     Turno_entity.UsuarioModificacion=null;
                 }
                 else
                 {
                     Turno_entity.UsuarioModificacion=userId.Value;
                 }
                 break;
             }
        }
        switch (crudMode)
        {
            case CrudMode.Add:
                try
                {
                     crud.Add(Turno_entity);
                     summary = "El registro se ha ";
                     actionInformation = "agregado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
            break;
            case CrudMode.Edit:
                try
                {
                     crud.Update(Turno_entity);
                     summary = "El registro se ha ";
                     actionInformation = "modificado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
            break;
            case CrudMode.Delete:
                try
                {
                     crud.Delete(Turno_entity);
                     summary = "El registro se ha ";
                     actionInformation = "eliminado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
                break;
        }
 
        // Sets Crud mode to List
        crudMode = CrudMode.List;
 
        ShowNotification(new NotificationMessage { 
            Severity = severityType, 
            Summary = summary, 
            Detail = actionInformation, 
            Duration = 4000 });
       
            await Task.Run(LoadMainEntityData);
    }
    /// <summary>
    /// Crud mode cancellation and default mode
    /// </summary>
    private void Cancel()
    {
        crudMode = CrudMode.List;  
        LoadMainEntityData();
    }
    /// <summary>
    /// Sets detail panel title - TODO: Implement Multilanguage
    /// </summary>
    /// <returns></returns>
    private string GetDialogTitle()
    {
        string retValue = string.Empty;
        switch (crudMode)
        {
            case CrudMode.Add:
                retValue = "Nuevo...";
                break;
            case CrudMode.Edit:
                retValue = "Editar...";
                break;
            case CrudMode.Delete:
                retValue = "Borrar...";
                break;
        }
        return retValue;
    }
    #region Notifications
    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
 
    }
 
    #endregion
    #region Selection events
    /// <summary>
    /// Depositario value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectDepositarioValueChanged(object item)
    {
    }
 
    /// <summary>
    /// CierreDiario value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectCierreDiarioValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Entity is binded, however it sets anyway.
    /// </summary>
    /// <returns></returns>
    void HabilitadoChange(bool? value,DepositarioAdminWeb.Entities.Tables.Operacion.Turno item)
    {
         Turno_entity = item;
    }
    #endregion
 
    #region Export
 
    #endregion
 
}
