@page "/DispositivoDepositarioCustomCrud"
@using Permaquim.Depositary.Web.Administration.Controllers
@inject NotificationService NotificationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager

@if (dataFunciones != null)
{
    @if (SeguridadController.VerificarPermisoFuncion("DispositivoDepositario", dataFunciones, "PuedeVisualizar"))
    {
        @if (Depositario_entities == null)
        {
            <div class="spinner" />
        }
        else
        {
            switch (crudMode)
            {
                case CrudMode.Add:
                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary">
                        <ChildContent>
                            <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_A_NAME_Dispositivo.Depositario",dataLenguaje)</h4>
                        </ChildContent>
                    </RadzenBadge>
                    break;
                case CrudMode.Delete:
                    <RadzenBadge BadgeStyle="BadgeStyle.Warning">
                        <ChildContent>
                            <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_D_NAME_Dispositivo.Depositario",dataLenguaje)</h4>
                        </ChildContent>
                    </RadzenBadge>
                    break;
                case CrudMode.Edit:
                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary">
                        <ChildContent>
                            <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_M_NAME_Dispositivo.Depositario",dataLenguaje)</h4>
                        </ChildContent>
                    </RadzenBadge>
                    break;
                case CrudMode.List:
                    <RadzenBadge BadgeStyle="BadgeStyle.Secondary">
                        <ChildContent>
                            <div>
                                <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_L_NAME_Dispositivo.Depositario",dataLenguaje)</h4>
                            </div>
                        </ChildContent>
                    </RadzenBadge>
                    break;
            }
            <hr>
            if (crudMode == CrudMode.List)
            {
                <RadzenDataGrid @bind-Settings="@GridSettings" FilterText="@MultilenguajeController.ObtenerTextoPorClave("CABECERA_FILTRO",dataLenguaje)" IsEmptyText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_ES_VACIO",dataLenguaje)" IsNotNullText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_NO_NULO",dataLenguaje)" IsNullText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_ES_NULO",dataLenguaje)" LessThanText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_MENOR_A",dataLenguaje)" LessThanOrEqualsText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_MENOR_A_O_IGUAL",dataLenguaje)" NotEqualsText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_NO_EQUIVALE",dataLenguaje)" IsNotEmptyText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_NO_VACIO",dataLenguaje)" OrOperatorText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_OPERADOR_OR",dataLenguaje)" GreaterThanText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_MAYOR_A",dataLenguaje)" GreaterThanOrEqualsText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_MAYOR_A_O_IGUAL",dataLenguaje)" AndOperatorText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_OPERADOR_AND",dataLenguaje)" AllColumnsText="@MultilenguajeController.ObtenerTextoPorClave("MOSTRAR_TODAS_COLUMNAS",dataLenguaje)" ContainsText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_CONTIENE",dataLenguaje)" DoesNotContainText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_NO_CONTIENE",dataLenguaje)" ClearFilterText="@MultilenguajeController.ObtenerTextoPorClave("LIMPIAR_FILTRO",dataLenguaje)" ApplyFilterText="@MultilenguajeController.ObtenerTextoPorClave("APLICAR_FILTRO",dataLenguaje)" EqualsText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_EXACTO",dataLenguaje)" EndsWithText="@MultilenguajeController.ObtenerTextoPorClave("FILTRO_TERMINA_CON",dataLenguaje)" PageSizeText="@MultilenguajeController.ObtenerTextoPorClave("REGISTROS_POR_PAGINA",dataLenguaje)" StartsWithText="@MultilenguajeController.ObtenerTextoPorClave("EMPIEZA_CON",dataLenguaje)" ColumnsShowingText="@MultilenguajeController.ObtenerTextoPorClave("COLUMNAS_OPCIONALES",dataLenguaje)" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowColumnPicking="true" PageSizeOptions="@(new int[]{10,20,50,100})" RowExpand="@expandirDepositario" RowRender="@depositarioRowRender" RowCollapse="@colapsarDepositario" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="@EstiloController.ObtenerPaginadoDefault(dataUsuario.EmpresaId)" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@Depositario_entities" TItem="DispositivoEntities.DepositarioABM" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.And">
                    <EmptyTemplate>
                        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen registros.</p>
                    </EmptyTemplate>
                    <Columns>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="80px">
                            <HeaderTemplate>
                                <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Success" Visible=@SeguridadController.VerificarPermisoFuncion("DispositivoDepositario",dataFunciones,"PuedeAgregar") Text=@MultilenguajeController.ObtenerTextoPorClave("BOTON_NUEVO",dataLenguaje) Click="Add">
                                </RadzenButton>
                            </HeaderTemplate>
                            <Template Context="element">
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Visible=@SeguridadController.VerificarPermisoFuncion("DispositivoDepositario",dataFunciones,"PuedeModificar") Class="m-1" Click="@(args => Edit(element,false))" @onclick:stopPropagation="true">
                                </RadzenButton>
                                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Visible=@SeguridadController.VerificarPermisoFuncion("DispositivoDepositario",dataFunciones,"PuedeEliminar") Class="m-1" Click="@(args => Edit(element,true))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Property="Depositario.Id" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("ID",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" />
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Property="Depositario.Nombre" Filterable="true" Title=@MultilenguajeController.ObtenerTextoPorClave("NOMBRE",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Property="Depositario.Descripcion" Filterable="true" Title=@MultilenguajeController.ObtenerTextoPorClave("DESCRIPCION",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Title=@MultilenguajeController.ObtenerTextoPorClave("SECTORID",dataLenguaje) Property="Depositario.SectorId" Width="100px" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_SectorId" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                            <Template>
                                @if (Sector_SectorId_entities.FirstOrDefault(c => c.Id == @context.Depositario.SectorId) != null)
                                {
                                    <RadzenLabel Text="@Sector_SectorId_entities.FirstOrDefault( c => c.Id == @context.Depositario.SectorId).Nombre" Component="SectorId" style="width: 100%">
                                    </RadzenLabel>
                                }
                                else
                                {
                                    <RadzenLabel Text="No data available" Component="SectorId" style="width: 100%">
                                    </RadzenLabel>
                                }
                            </Template>
                            <FilterTemplate>
                                <div style="margin-top: 1rem;font-weight: 600">@MultilenguajeController.ObtenerTextoPorClave("CABECERA_FILTRO",dataLenguaje)</div>
                                <RadzenDropDown @bind-Value=@selectedFilter_SectorId Data="@Sector_SectorId_filter" Change="OnSelectedFilter_SectorId_Changed" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="Nombre" AllowClear="true" Multiple="true" />
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Property="Depositario.NumeroSerie" Filterable="true" Title=@MultilenguajeController.ObtenerTextoPorClave("NUMEROSERIE",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Property="Depositario.CodigoExterno" Filterable="true" Title=@MultilenguajeController.ObtenerTextoPorClave("CODIGOEXTERNO",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Title=@MultilenguajeController.ObtenerTextoPorClave("MODELOID",dataLenguaje) Property="Depositario.ModeloId" Width="100px" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_ModeloId" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                            <Template>
                                @if (Modelo_ModeloId_entities.FirstOrDefault(c => c.Id == @context.Depositario.ModeloId) != null)
                                {
                                    <RadzenLabel Text="@Modelo_ModeloId_entities.FirstOrDefault( c => c.Id == @context.Depositario.ModeloId).Nombre" Component="ModeloId" style="width: 100%">
                                    </RadzenLabel>
                                }
                                else
                                {
                                    <RadzenLabel Text="No data available" Component="ModeloId" style="width: 100%">
                                    </RadzenLabel>
                                }
                            </Template>
                            <FilterTemplate>
                                <div style="margin-top: 1rem;font-weight: 600">@MultilenguajeController.ObtenerTextoPorClave("CABECERA_FILTRO",dataLenguaje)</div>
                                <RadzenDropDown @bind-Value=@selectedFilter_ModeloId Data="@Modelo_ModeloId_filter" Change="OnSelectedFilter_ModeloId_Changed" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="Nombre" AllowClear="true" Multiple="true" />
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Property="Depositario.Habilitado" Filterable="true" FilterValue="@Habilitado_filter" Title=@MultilenguajeController.ObtenerTextoPorClave("HABILITADO",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="true">
                            <Template Context="data">
                                <RadzenCheckBox TValue="bool" Value=@data.Depositario.Habilitado Disabled="true">
                                </RadzenCheckBox>
                            </Template>
                            <FilterTemplate>
                                <div style="margin-top: 1rem;font-weight: 600">@MultilenguajeController.ObtenerTextoPorClave("CABECERA_FILTRO",dataLenguaje)</div>
                                <div>
                                    @MultilenguajeController.ObtenerTextoPorClave("HABILITADO",dataLenguaje)
                                    <RadzenCheckBox Style="margin-bottom: 2%;" @bind-Value="Habilitado_filter" TriState="true" />
                                </div>
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Property="MensajeValidacion" Filterable="true" Title=@MultilenguajeController.ObtenerTextoPorClave("MENSAJEVALIDACION",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="false">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Title=@MultilenguajeController.ObtenerTextoPorClave("USUARIOCREACION",dataLenguaje) Property="Depositario.UsuarioCreacion" Width="100px" Visible="false" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_UsuarioCreacion" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                            <Template>
                                @{
                                    var usuario = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == @context.Depositario.UsuarioCreacion);
                                    if (usuario != null)
                                    {
                                        <RadzenLabel Text=@(usuario.NombreApellido) Component="UsuarioCreacion" style="width: 100%">
                                        </RadzenLabel>
                                    }
                                    else
                                    {
                                        <RadzenLabel Text="No data available" Component="UsuarioCreacion" style="width: 100%">
                                        </RadzenLabel>
                                    }
                                }
                            </Template>
                            <FilterTemplate>
                                <div style="margin-top: 1rem;font-weight: 600">@MultilenguajeController.ObtenerTextoPorClave("CABECERA_FILTRO",dataLenguaje)</div>
                                <RadzenDropDown @bind-Value=@selectedFilter_UsuarioCreacion Data="@Usuario_UsuarioCreacion_filter" Change="OnSelectedFilter_UsuarioCreacion_Changed" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="NombreApellido" AllowClear="true" Multiple="true" />
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Property="Depositario.FechaCreacion" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("FECHACREACION",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="false">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Title=@MultilenguajeController.ObtenerTextoPorClave("USUARIOMODIFICACION",dataLenguaje) Property="Depositario.UsuarioModificacion" Width="100px" Visible="false" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_UsuarioModificacion" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                            <Template>
                                @{
                                    var usuario = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == @context.Depositario.UsuarioModificacion);
                                    if (usuario != null)
                                    {
                                        <RadzenLabel Text=@(usuario.NombreApellido) Component="UsuarioModificacion" style="width: 100%">
                                        </RadzenLabel>
                                    }
                                    else
                                    {
                                        <RadzenLabel Text="No data available" Component="UsuarioModificacion" style="width: 100%">
                                        </RadzenLabel>
                                    }
                                }
                            </Template>
                            <FilterTemplate>
                                <div style="margin-top: 1rem;font-weight: 600">@MultilenguajeController.ObtenerTextoPorClave("CABECERA_FILTRO",dataLenguaje)</div>
                                <RadzenDropDown @bind-Value=@selectedFilter_UsuarioModificacion Data="@Usuario_UsuarioModificacion_filter" Change="OnSelectedFilter_UsuarioModificacion_Changed" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="NombreApellido" AllowClear="true" Multiple="true" />
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="DispositivoEntities.DepositarioABM" Property="Depositario.FechaModificacion" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("FECHAMODIFICACION",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" Visible="false">
                        </RadzenDataGridColumn>
                    </Columns>
                    <Template>
                        @{
                            var permisoDepositarioMoneda = SeguridadController.VerificarPermisoFuncion("DispositivoDepositarioMoneda", dataFunciones, "PuedeVisualizar");
                            var permisoConfiguracionDepositario = SeguridadController.VerificarPermisoFuncion("DispositivoConfiguracionDepositario", dataFunciones, "PuedeVisualizar");
                            var permisoDepositarioContadora = SeguridadController.VerificarPermisoFuncion("DispositivoDepositarioContadora", dataFunciones, "PuedeVisualizar");
                            var permisoDepositarioPlaca = SeguridadController.VerificarPermisoFuncion("DispositivoDepositarioPlaca", dataFunciones, "PuedeVisualizar");

                            if (!permisoDepositarioMoneda && !permisoConfiguracionDepositario && !permisoDepositarioContadora && !permisoDepositarioPlaca)
                            {
                                <p>No posee permisos para visualizar esta información</p>
                            }
                            else
                            {
                                <RadzenTabs>
                                    <Tabs>
                                        <RadzenTabsItem Visible="@permisoDepositarioMoneda" Text="Monedas">
                                            <DepositarioMoneda_Crud DepositarioId="@context.Depositario.Id">
                                            </DepositarioMoneda_Crud>
                                        </RadzenTabsItem>
                                        <RadzenTabsItem Visible="@permisoConfiguracionDepositario" Text="Configuraciones">
                                            <ConfiguracionDepositario_Crud DepositarioId="@context.Depositario.Id">
                                            </ConfiguracionDepositario_Crud>
                                        </RadzenTabsItem>
                                        <RadzenTabsItem Visible="@permisoDepositarioContadora" Text="Contadoras">
                                            <DepositarioContadora_Crud DepositarioId="@context.Depositario.Id" ModeloId="@context.Depositario.ModeloId">
                                            </DepositarioContadora_Crud>
                                        </RadzenTabsItem>
                                        <RadzenTabsItem Visible="@permisoDepositarioPlaca" Text="Placas">
                                            <DepositarioPlaca_Crud DepositarioId="@context.Depositario.Id" ModeloId="@context.Depositario.ModeloId">
                                            </DepositarioPlaca_Crud>
                                        </RadzenTabsItem>
                                    </Tabs>
                                </RadzenTabs>
                            }
                        }
                    </Template>
                </RadzenDataGrid>
                <hr>
            }

            if (crudMode == CrudMode.Add || crudMode == CrudMode.Edit || crudMode == CrudMode.Delete)
            {
                <RadzenTemplateForm TItem="Depositary.Entities.Tables.Dispositivo.Depositario" Data="@Depositario_entity" @bind-Value="Depositario_entity" Submit="Save" Visible="@(Depositario_entity != null)">
                    <ChildContent>
                        @if (estaProcesando)
                        {
                            <div class="spinnerCentrado"></div>
                        }
                        @if (crudMode != CrudMode.Add)
                        {
                            <div style="margin-bottom: 1rem" class="row">
                                <div class="col-md-3">
                                    <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("ID",dataLenguaje) Component="Id" style="width: 100%">
                                    </RadzenLabel>
                                </div>
                                <div class="col-md-auto">
                                    <RadzenNumeric TValue="long" style="display: block; width: 100%" @bind-Value="@(Depositario_entity.Id)" Name="Id" Disabled="true">
                                    </RadzenNumeric>
                                </div>
                            </div>
                        }
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("NOMBRE",dataLenguaje) Component="Nombre" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox style="display: block" @bind-Value="@(Depositario_entity.Nombre)" Name="Nombre" Disabled="@(crudMode==CrudMode.Delete || estaProcesando)">
                                </RadzenTextBox>
                                @if (@crudMode != CrudMode.Delete)
                                {
                                    <RadzenRequiredValidator Component="Nombre" Text="Nombre is required" Style="position: absolute">
                                    </RadzenRequiredValidator>
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("DESCRIPCION",dataLenguaje) Component="Descripcion" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox style="display: block" @bind-Value="@(Depositario_entity.Descripcion)" Name="Descripcion" Disabled="@(crudMode==CrudMode.Delete || estaProcesando)">
                                </RadzenTextBox>
                                @if (@crudMode != CrudMode.Delete)
                                {
                                    <RadzenRequiredValidator Component="Descripcion" Text="Descripcion is required" Style="position: absolute">
                                    </RadzenRequiredValidator>
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("SECTORID",dataLenguaje) Component="SectorId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-4">
                                @if ((@Sector_Depositario_entities.Count > 0 && @Sector_Depositario_entities.FirstOrDefault(c => c.SectorId == @Depositario_entity.SectorId) != null) || crudMode != CrudMode.Delete)
                                {
                                    var dataSet = crudMode == CrudMode.Add ? Sector_Depositario_entities.Where(x => x.Habilitado == true) : Sector_Depositario_entities.Where(x => x.Habilitado == true || x.SectorId == Depositario_entity.SectorId);
                                    <RadzenDropDown AllowClear="true"
                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains"
                                TValue="Int64" Class="w-100" @bind-Value="@(Depositario_entity.SectorId)"
                                Data=@dataSet.OrderBy(x => x.EmpresaSucursalSectorNombre) TextProperty="EmpresaSucursalSectorNombre" ValueProperty="SectorId"
                                Change=@(args => SelectSector_SectorIdValueChanged(args))
                                Disabled="@(crudMode==CrudMode.Delete || estaProcesando)" />
                                }
                                else
                                {
                                    <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" TValue="Int64" Class="w-100"
                                Data=@Sector_Depositario_entities.OrderBy(x => x.EmpresaSucursalSectorNombre) TextProperty="EmpresaSucursalSectorNombre" ValueProperty="SectorId"
                                Change=@(args => SelectSector_SectorIdValueChanged(args))
                                Disabled="@(crudMode==CrudMode.Delete || estaProcesando)" />
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("NUMEROSERIE",dataLenguaje) Component="NumeroSerie" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox style="display: block" @bind-Value="@(Depositario_entity.NumeroSerie)" Name="NumeroSerie" Disabled="@(crudMode==CrudMode.Delete || estaProcesando)">
                                </RadzenTextBox>
                                @if (@crudMode != CrudMode.Delete)
                                {
                                    <RadzenRequiredValidator Component="NumeroSerie" Text="NumeroSerie is required" Style="position: absolute">
                                    </RadzenRequiredValidator>
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("CODIGOEXTERNO",dataLenguaje) Component="CodigoExterno" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-9">
                                <RadzenTextBox style="display: block" @bind-Value="@(Depositario_entity.CodigoExterno)" Name="CodigoExterno" Disabled="@(crudMode==CrudMode.Delete || estaProcesando)">
                                </RadzenTextBox>
                                @if (@crudMode != CrudMode.Delete)
                                {
                                    <RadzenRequiredValidator Component="CodigoExterno" Text="CodigoExterno is required" Style="position: absolute">
                                    </RadzenRequiredValidator>
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("MODELOID",dataLenguaje) Component="ModeloId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-4">
                                @if ((@Modelo_ModeloId_entities.Count > 0 && @Modelo_ModeloId_entities.FirstOrDefault(c => c.Id == @Depositario_entity.ModeloId) != null) || crudMode != CrudMode.Delete)
                                {
                                    var dataSet = crudMode == CrudMode.Add ? Modelo_ModeloId_entities.Where(x => x.Habilitado == true) : Modelo_ModeloId_entities.Where(x => x.Habilitado == true || x.Id == Depositario_entity.ModeloId);
                                    <RadzenDropDown AllowFiltering="true" FilterOperator="StringFilterOperator.Contains" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(Depositario_entity.ModeloId)"
                                Data=@dataSet TextProperty="Nombre" ValueProperty="Id"
                                Change=@(args => SelectModelo_ModeloIdValueChanged(args))
                                Disabled="@(crudMode==CrudMode.Delete || estaProcesando)" />
                                }
                                else
                                {
                                    <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100"
                                Data=@Modelo_ModeloId_entities TextProperty="Nombre" ValueProperty="Id"
                                Change=@(args => SelectModelo_ModeloIdValueChanged(args))
                                Disabled="@(crudMode==CrudMode.Delete || estaProcesando)" />
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("HABILITADO",dataLenguaje) Component="Habilitado" Style="margin-left: 0px; vertical-align: middle;" />
                            </div>
                            <div class="col-md-9">
                                <RadzenCheckBox @bind-Value=@Depositario_entity.Habilitado Name="HabilitadoCheckBox" TValue="bool" Change=@(args => HabilitadoChange(args, @Depositario_entity)) Disabled="@(crudMode == CrudMode.Delete || estaProcesando)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton Disabled="@estaProcesando" ButtonType="ButtonType.Submit" Icon="save" Text=@MultilenguajeController.ObtenerTextoPorClave("BOTON_ACEPTAR",dataLenguaje) ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton Disabled="@estaProcesando" ButtonStyle="ButtonStyle.Secondary" Icon="save" style="margin-left: 1rem" Text=@MultilenguajeController.ObtenerTextoPorClave("BOTON_CANCELAR",dataLenguaje) Click="Cancel">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
                <hr>
            }

            <RadzenNotification />
        }
    }
    else
    {
        <p>No tiene permisos para visualizar los registros.</p>
    }
}
else
{
    <div class="spinner" />
}

@code {
    /// <summary>
    /// Crud Mode Enum
    /// </summary>
    private enum CrudMode
    {
        List,
        Add,
        Edit,
        Delete
    }

    /// <summary>
    /// Variable to save grid state
    /// </summary>
    private DataGridSettings GridSettings;

    private bool estaProcesando = false;

    /// <summary>
    /// Variables to handle main entity
    /// </summary>
    private Depositary.Entities.Tables.Dispositivo.Depositario Depositario_entity = new();
    private List<DispositivoEntities.DepositarioABM> Depositario_entities = null;

    /// <summary>
    /// Variables to store multilanguaje
    /// </summary>
    private List<Entities.TextoLenguaje> dataLenguaje;

    private Depositary.Entities.Tables.Seguridad.Rol? usuarioRol = new();

    /// <summary>
    /// Variables to handle column filter for field Banco.Habilitado
    private bool? Habilitado_filter;

    /// <summary>
    /// Variables to store permissions
    /// </summary>
    private List<SeguridadEntities.FuncionRol> dataFunciones;

    private List<Depositary.Entities.Tables.Estilo.EsquemaDetalle> dataEsquemaDetalle = new();

    private List<Depositary.Entities.Tables.Dispositivo.Depositario> rowsDepositariosExpandidos = new();

    /// <summary>
    /// Variables to handle Relation between Depositario.SectorId and Sector.Id
    /// </summary>
    private Depositary.Entities.Tables.Directorio.Sector Sector_SectorId_entity = new();
    private List<Depositary.Entities.Tables.Directorio.Sector>? Sector_SectorId_entities;
    private List<Depositary.Entities.Tables.Directorio.Sector> Sector_SectorId_filter;
    private IEnumerable<Int64> selectedFilter_SectorId;

    private List<DirectorioEntities.SectorDepositario> Sector_Depositario_entities = new();

    /// <summary>
    /// Variables to handle Relation between Depositario.ModeloId and Modelo.Id
    /// </summary>
    private Depositary.Entities.Tables.Dispositivo.Modelo Modelo_ModeloId_entity = new();
    private List<Depositary.Entities.Tables.Dispositivo.Modelo>? Modelo_ModeloId_entities;
    private List<Depositary.Entities.Tables.Dispositivo.Modelo> Modelo_ModeloId_filter;
    private IEnumerable<Int64> selectedFilter_ModeloId;

    /// <summary>
    /// Variables to handle Relation between Depositario.UsuarioCreacion and Usuario.Id
    /// </summary>
    private Depositary.Entities.Tables.Seguridad.Usuario Usuario_UsuarioCreacion_entity = new();
    private List<Depositary.Entities.Tables.Seguridad.Usuario>? Usuario_UsuarioCreacion_entities;
    private List<Depositary.Entities.Tables.Seguridad.Usuario> Usuario_UsuarioCreacion_filter;
    private IEnumerable<Int64> selectedFilter_UsuarioCreacion;

    /// <summary>
    /// Variables to handle Relation between Depositario.UsuarioModificacion and Usuario.Id
    /// </summary>
    private Depositary.Entities.Tables.Seguridad.Usuario Usuario_UsuarioModificacion_entity = new();
    private List<Depositary.Entities.Tables.Seguridad.Usuario>? Usuario_UsuarioModificacion_entities;
    private List<Depositary.Entities.Tables.Seguridad.Usuario> Usuario_UsuarioModificacion_filter;
    private IEnumerable<Int64> selectedFilter_UsuarioModificacion;

    /// <summary>
    ///  Page crud mode {List,Add,Edit,Delete}
    /// </summary>
    private CrudMode crudMode = CrudMode.List;

    string colorDepositarioNoValido;

    /// <summary>
    ///  Variable to store the user id
    /// </summary>
    private Depositary.Entities.Tables.Seguridad.Usuario? dataUsuario = null;

    protected override async Task OnInitializedAsync()
    {
        dataUsuario = await sessionStorage.GetItemAsync<Depositary.Entities.Tables.Seguridad.Usuario?>("DataUsuario");
        if (dataUsuario == null)
            NavManager.NavigateTo("login", true);
        dataEsquemaDetalle = await sessionStorage.GetItemAsync<List<Depositary.Entities.Tables.Estilo.EsquemaDetalle>>("DataEsquemaDetalle");
        colorDepositarioNoValido = EstiloController.ObtenerItemEstilo(dataEsquemaDetalle, "ColorRowDepositarioNoValido", true);

        //Si no se cargo un estilo para marcar a un depositario que no pasa las validaciones entonces le seteamos rojo.
        if (colorDepositarioNoValido == "")
            colorDepositarioNoValido = "red";

        dataLenguaje = await sessionStorage.GetItemAsync<List<Entities.TextoLenguaje>>("DataLenguaje");
        await sessionStorage.RemoveItemAsync("DataFunciones");
        await sessionStorage.RemoveItemAsync("RolId");
        usuarioRol = SeguridadController.ObtenerRolesPorUsuario(dataUsuario.Id);
        dataFunciones = SeguridadController.ObtenerFuncionesPorRol(usuarioRol.Id);
        await sessionStorage.SetItemAsync("RolId", usuarioRol.Id);
        await sessionStorage.SetItemAsync("DataFunciones", dataFunciones);
        await Task.Run(LoadMainEntityData);
        await Task.Run(LoadTypesData);
    }
    #region Loading entities data
    /// <summary>
    /// Loads main entity data
    /// </summary>
    private void LoadMainEntityData()
    {
        AuditController.Log(AuditController.LogTypeEnum.Navigation, "Acceso a " + "DispositivoDepositarioCustomCrud", crudMode.ToString(), dataUsuario.Id);
        estaProcesando = false;
        Depositary.Business.Tables.Dispositivo.Depositario entity = new();
        entity.Items();

        if (entity.Result.Count > 0)
        {
            Depositario_entities = new();
            foreach (var row in entity.Result)
            {
                DispositivoEntities.DepositarioABM depositarioABM = new();
                depositarioABM.Depositario = row;
                depositarioABM.MensajeValidacion = DepositarioController.ObtenerValidacionesDepositarioABM(row.Id, dataLenguaje);
                Depositario_entities.Add(depositarioABM);
            }
        }
    }
    /// <summary>
    /// Loads Type Tables data
    /// </summary>
    private void LoadTypesData()
    {
        Depositary.Business.Tables.Directorio.Sector Sector_SectorId_local = new();
        Sector_SectorId_entities = Sector_SectorId_local.Items();
        Sector_SectorId_filter = Sector_SectorId_entities.Where(x => Depositario_entities.Select(x => x.Depositario.SectorId).Distinct().Contains(x.Id)).ToList();

        Depositary.Business.Tables.Dispositivo.Modelo Modelo_ModeloId_local = new();
        Modelo_ModeloId_entities = Modelo_ModeloId_local.Items();
        Modelo_ModeloId_filter = Modelo_ModeloId_entities.Where(x => Depositario_entities.Select(x => x.Depositario.ModeloId).Distinct().Contains(x.Id)).ToList();

        Depositary.Business.Tables.Seguridad.Usuario Usuario_UsuarioCreacion_local = new();
        Usuario_UsuarioCreacion_entities = Usuario_UsuarioCreacion_local.Items();
        Usuario_UsuarioCreacion_filter = Usuario_UsuarioCreacion_entities.Where(x => Depositario_entities.Select(x => x.Depositario.UsuarioCreacion).Distinct().Contains(x.Id)).ToList();

        Depositary.Business.Tables.Seguridad.Usuario Usuario_UsuarioModificacion_local = new();
        Usuario_UsuarioModificacion_entities = Usuario_UsuarioModificacion_local.Items();
        Usuario_UsuarioModificacion_filter = Usuario_UsuarioModificacion_entities.Where(x => Depositario_entities.Select(x => x.Depositario.UsuarioModificacion).Distinct().Contains(x.Id)).ToList();

    }

    #endregion

    /// <summary>
    /// Initializations for adding a new entity
    /// </summary>
    private void Add()
    {
        //Main entity initialization
        Depositario_entity = new();
        //Relations entities initialization
        Sector_SectorId_entity = new();
        Modelo_ModeloId_entity = new();
        Usuario_UsuarioCreacion_entity = new();
        Usuario_UsuarioModificacion_entity = new();
        crudMode = CrudMode.Add;
        AuditController.Log(AuditController.LogTypeEnum.Navigation, "Acceso a " + "DispositivoDepositarioCustomCrud", crudMode.ToString(), dataUsuario.Id);
        LoadSectorDepositarioEntities();
    }
    /// <summary>
    /// <summary>
    /// Initializations for editing an entity
    /// </summary>
    private void Edit(DispositivoEntities.DepositarioABM item, bool delete)
    {
        Depositario_entity = item.Depositario;
        Sector_SectorId_entity = new()
            {
                Id = Sector_SectorId_entities.FirstOrDefault(c => c.Id == Depositario_entity.SectorId).Id,
                Nombre = Sector_SectorId_entities.FirstOrDefault(c => c.Id == Depositario_entity.SectorId).Nombre
            };
        Modelo_ModeloId_entity = new()
            {
                Id = Modelo_ModeloId_entities.FirstOrDefault(c => c.Id == Depositario_entity.ModeloId).Id,
                Nombre = Modelo_ModeloId_entities.FirstOrDefault(c => c.Id == Depositario_entity.ModeloId).Nombre
            };
        Usuario_UsuarioCreacion_entity = new()
            {
                Id = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == Depositario_entity.UsuarioCreacion).Id,
                Nombre = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == Depositario_entity.UsuarioCreacion).Nombre
            };
        if (Usuario_UsuarioModificacion_entities.Exists(c => c.Id == Depositario_entity.UsuarioModificacion))
        {
            Usuario_UsuarioModificacion_entity = new()
                {
                    Id = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == Depositario_entity.UsuarioModificacion).Id,
                    Nombre = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == Depositario_entity.UsuarioModificacion).Nombre
                };
        }
        if (delete)
            crudMode = CrudMode.Delete;
        else
            crudMode = CrudMode.Edit;

        AuditController.Log(AuditController.LogTypeEnum.Navigation, "Acceso a " + "DispositivoDepositarioCustomCrud", crudMode.ToString() + " Id: " + item.Depositario.Id, dataUsuario.Id);

        LoadSectorDepositarioEntities();
    }

    private void LoadSectorDepositarioEntities()
    {
        Depositary.Business.Relations.Directorio.Sector sectores = new();
        sectores.Items();

        if (sectores.Result.Count > 0)
        {
            foreach (var sector in sectores.Result)
            {
                DirectorioEntities.SectorDepositario sectorDepositario = new();
                sectorDepositario.SectorId = sector.Id;
                sectorDepositario.Habilitado = sector.Habilitado;

                string empresaNombre = sector.SucursalId.EmpresaId.Nombre;
                string sucursalNombre = sector.SucursalId.Nombre;

                sectorDepositario.EmpresaSucursalSectorNombre = empresaNombre + " -> " + sucursalNombre + " -> " + sector.Nombre;

                Sector_Depositario_entities.Add(sectorDepositario);
            }
        }
    }

    /// <summary>
    /// Operation depending on Crud mode
    /// </summary>
    private async Task Save()
    {
        estaProcesando = true;
        StateHasChanged();
        string actionInformation = string.Empty;
        NotificationSeverity severityType = NotificationSeverity.Error;
        string summary = string.Empty;
        Depositary.Business.Tables.Dispositivo.Depositario crud = new();
        foreach (var property in Depositario_entity.GetType().GetProperties())
        {
            switch (property.Name)
            {
                case "FechaModificacion":
                    if (crudMode == CrudMode.Add)
                    {
                        Depositario_entity.FechaModificacion = null;
                    }
                    else
                    {
                        Depositario_entity.FechaModificacion = DateTime.Now;
                    }
                    break;
                case "FechaCreacion":
                    if (crudMode == CrudMode.Add)
                    {
                        Depositario_entity.FechaCreacion = DateTime.Now;
                    }
                    break;
                case "UsuarioCreacion":
                    if (crudMode == CrudMode.Add)
                    {
                        Depositario_entity.UsuarioCreacion = dataUsuario.Id;
                    }
                    break;
                case "UsuarioModificacion":
                    if (crudMode == CrudMode.Add)
                    {
                        Depositario_entity.UsuarioModificacion = null;
                    }
                    else
                    {
                        Depositario_entity.UsuarioModificacion = dataUsuario.Id;
                    }
                    break;
            }
        }
        switch (crudMode)
        {
            case CrudMode.Add:
                try
                {
                    crud.Add(Depositario_entity, (long)SeguridadEntities.Aplicacion.AdministradorWeb);
                    summary = "El registro se ha ";
                    actionInformation = "agregado.";
                    severityType = NotificationSeverity.Success;
                }
                catch (Exception ex)
                {
                    AuditController.Log(ex, dataUsuario.Id);
                    summary = "Error al procesar.";
                    actionInformation = ex.Message;
                    severityType = NotificationSeverity.Error;
                }
                break;
            case CrudMode.Edit:
                try
                {
                    crud.Update(Depositario_entity, (long)SeguridadEntities.Aplicacion.AdministradorWeb);
                    summary = "El registro se ha ";
                    actionInformation = "modificado.";
                    severityType = NotificationSeverity.Success;
                }
                catch (Exception ex)
                {
                    AuditController.Log(ex, dataUsuario.Id);
                    summary = "Error al procesar.";
                    actionInformation = ex.Message;
                    severityType = NotificationSeverity.Error;
                }
                break;
            case CrudMode.Delete:
                try
                {
                    Depositario_entity.Habilitado = false;
                    crud.Update(Depositario_entity, (long)SeguridadEntities.Aplicacion.AdministradorWeb);
                    summary = "El registro se ha ";
                    actionInformation = "eliminado.";
                    severityType = NotificationSeverity.Success;
                }
                catch (Exception ex)
                {
                    AuditController.Log(ex, dataUsuario.Id);
                    summary = "Error al procesar.";
                    actionInformation = ex.Message;
                    severityType = NotificationSeverity.Error;
                }
                break;
        }

        // Sets Crud mode to List
        crudMode = CrudMode.List;

        ShowNotification(new NotificationMessage
            {
                Severity = severityType,
                Summary = summary,
                Detail = actionInformation,
                Duration = 4000
            });

        estaProcesando = false;
        StateHasChanged();

        await Task.Run(LoadMainEntityData);
    }
    /// <summary>
    /// Crud mode cancellation and default mode
    /// </summary>
    private void Cancel()
    {
        crudMode = CrudMode.List;
        LoadMainEntityData();
    }
    /// <summary>
    /// Sets detail panel title - TODO: Implement Multilanguage
    /// </summary>
    /// <returns></returns>
    private string GetDialogTitle()
    {
        string retValue = string.Empty;
        switch (crudMode)
        {
            case CrudMode.Add:
                retValue = "Nuevo...";
                break;
            case CrudMode.Edit:
                retValue = "Editar...";
                break;
            case CrudMode.Delete:
                retValue = "Borrar...";
                break;
        }
        return retValue;
    }
    #region Notifications
    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);

    }

    #endregion
    #region Selection events
    protected async Task expandirDepositario(DispositivoEntities.DepositarioABM args)
    {
        rowsDepositariosExpandidos.Add(args.Depositario);
    }

    protected async Task colapsarDepositario(DispositivoEntities.DepositarioABM args)
    {
        rowsDepositariosExpandidos.RemoveAll(x => x.Id == args.Depositario.Id);
    }

    void depositarioRowRender(RowRenderEventArgs<DispositivoEntities.DepositarioABM> args)
    {
        if (rowsDepositariosExpandidos.Where(x => x.Id == args.Data.Depositario.Id).ToList().Count > 0)
        {
            args.Attributes.Add("class", "row-highlight");
        }
        else
        {
            if (args.Data.MensajeValidacion != "")
            {
                args.Attributes.Add("class", "row-depositarioNoValido");

            }
            else
            {
                if (!args.Data.Depositario.Habilitado)
                    args.Attributes.Add("class", "row-highlight-disabled");
                else
                    args.Attributes.Add("class", "rz-datatable-even");
            }
        }
    }

    /// <summary>
    /// Sector_SectorId value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectSector_SectorIdValueChanged(object item)
    {
    }

    /// <summary>
    /// selectedFilter_SectorId value changed
    /// </summary>
    /// <param name="item"></param>
    private void OnSelectedFilter_SectorId_Changed(object value)
    {
        if (selectedFilter_SectorId != null && !selectedFilter_SectorId.Any())
        {
            selectedFilter_SectorId = null;
        }
    }

    /// <summary>
    /// Modelo_ModeloId value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectModelo_ModeloIdValueChanged(object item)
    {
    }

    /// <summary>
    /// selectedFilter_ModeloId value changed
    /// </summary>
    /// <param name="item"></param>
    private void OnSelectedFilter_ModeloId_Changed(object value)
    {
        if (selectedFilter_ModeloId != null && !selectedFilter_ModeloId.Any())
        {
            selectedFilter_ModeloId = null;
        }
    }

    /// <summary>
    /// Usuario_UsuarioCreacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectUsuario_UsuarioCreacionValueChanged(object item)
    {
    }

    /// <summary>
    /// selectedFilter_UsuarioCreacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void OnSelectedFilter_UsuarioCreacion_Changed(object value)
    {
        if (selectedFilter_UsuarioCreacion != null && !selectedFilter_UsuarioCreacion.Any())
        {
            selectedFilter_UsuarioCreacion = null;
        }
    }

    /// <summary>
    /// Usuario_UsuarioModificacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectUsuario_UsuarioModificacionValueChanged(object item)
    {
    }

    /// <summary>
    /// selectedFilter_UsuarioModificacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void OnSelectedFilter_UsuarioModificacion_Changed(object value)
    {
        if (selectedFilter_UsuarioModificacion != null && !selectedFilter_UsuarioModificacion.Any())
        {
            selectedFilter_UsuarioModificacion = null;
        }
    }

    /// <summary>
    /// Entity is binded, however it sets anyway.
    /// </summary>
    /// <returns></returns>
    void HabilitadoChange(bool? value, Depositary.Entities.Tables.Dispositivo.Depositario item)
    {
        Depositario_entity = item;
    }
    #endregion

    #region Export

    #endregion

}

<style>
    .row-depositarioNoValido {
        background-color: @colorDepositarioNoValido;
    }
</style>