@page "/DispositivoTipoConfiguracionDepositarioCustomCrud"
@using Permaquim.Depositary.Web.Administration.Controllers;
@inject NotificationService NotificationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager

@if (estaProcesando)
{
    <div class="spinner"></div>
}

@if (dataFunciones != null)
{
    @if (SeguridadController.VerificarPermisoFuncion("DispositivoTipoConfiguracionDepositario", dataFunciones, "PuedeVisualizar"))
    {
        @if (TipoConfiguracionDepositario_entities == null)
        {
            <div class="spinner" />
        }
        else
        {
            switch (crudMode)
            {
                case CrudMode.Add:
                    <RadzenBadge Style=@EstiloController.ObtenerItemEstilo(dataEsquemaDetalle, "ColorFondoTituloBadge", false) BadgeStyle="BadgeStyle.Secondary">
                        <ChildContent>
                            <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_A_NAME_Dispositivo.TipoConfiguracionDepositario",dataLenguaje)</h4>
                        </ChildContent>
                    </RadzenBadge>
                    break;
                case CrudMode.Delete:
                    <RadzenBadge Style=@EstiloController.ObtenerItemEstilo(dataEsquemaDetalle, "ColorFondoTituloBadgeBorrar", false) BadgeStyle="BadgeStyle.Warning">
                        <ChildContent>
                            <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_D_NAME_Dispositivo.TipoConfiguracionDepositario",dataLenguaje)</h4>
                        </ChildContent>
                    </RadzenBadge>
                    break;
                case CrudMode.Edit:
                    <RadzenBadge Style=@EstiloController.ObtenerItemEstilo(dataEsquemaDetalle, "ColorFondoTituloBadge", false) BadgeStyle="BadgeStyle.Secondary">
                        <ChildContent>
                            <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_M_NAME_Dispositivo.TipoConfiguracionDepositario",dataLenguaje)</h4>
                        </ChildContent>
                    </RadzenBadge>
                    break;
                case CrudMode.List:
                    <RadzenBadge Style=@EstiloController.ObtenerItemEstilo(dataEsquemaDetalle, "ColorFondoTituloBadge", false) BadgeStyle="BadgeStyle.Secondary">
                        <ChildContent>
                            <div>
                                <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_L_NAME_Dispositivo.TipoConfiguracionDepositario",dataLenguaje)</h4>
                            </div>
                        </ChildContent>
                    </RadzenBadge>
                    break;
            }
            <hr>
            if (crudMode == CrudMode.List)
            {
                <RadzenDataGrid @bind-Settings="@GridSettings" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" CellRender=@TipoConfiguracionDepositarioCellRender PageSizeOptions="@(new int[]{10,20,50,100})" FilterMode="FilterMode.Advanced" PageSize="@EstiloController.ObtenerPaginadoDefault(dataUsuario.EmpresaId)" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                AllowColumnReorder=@CustomizadorController.ObtenerPropiedadGrilla("HabilitarMovilidad",dataCustomizacionPagina.AtributosTabla) AllowColumnPicking=@CustomizadorController.ObtenerPropiedadGrilla("HabilitarColumnasOpcionales",dataCustomizacionPagina.AtributosTabla) AllowFiltering=@CustomizadorController.ObtenerPropiedadGrilla("HabilitarFiltrado",dataCustomizacionPagina.AtributosTabla) AllowColumnResize=@CustomizadorController.ObtenerPropiedadGrilla("HabilitarRedimensionamiento",dataCustomizacionPagina.AtributosTabla) AllowSorting=@CustomizadorController.ObtenerPropiedadGrilla("HabilitarOrdenamiento",dataCustomizacionPagina.AtributosTabla) AllowPaging=@CustomizadorController.ObtenerPropiedadGrilla("HabilitarPaginado",dataCustomizacionPagina.AtributosTabla) AllowGrouping=@CustomizadorController.ObtenerPropiedadGrilla("HabilitarAgrupamiento",dataCustomizacionPagina.AtributosTabla)
                FilterText=@MultilenguajeController.ObtenerTextoPorClave("CABECERA_FILTRO", dataLenguaje) GroupPanelText=@MultilenguajeController.ObtenerTextoPorClave("INDICADOR_AGRUPACION", dataLenguaje) IsEmptyText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_ES_VACIO", dataLenguaje) IsNotNullText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_NO_NULO", dataLenguaje) IsNullText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_ES_NULO", dataLenguaje) LessThanText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_MENOR_A", dataLenguaje) LessThanOrEqualsText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_MENOR_A_O_IGUAL", dataLenguaje) NotEqualsText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_NO_EQUIVALE", dataLenguaje) IsNotEmptyText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_NO_VACIO", dataLenguaje) OrOperatorText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_OPERADOR_OR", dataLenguaje) GreaterThanText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_MAYOR_A", dataLenguaje) GreaterThanOrEqualsText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_MAYOR_A_O_IGUAL", dataLenguaje) AndOperatorText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_OPERADOR_AND", dataLenguaje) AllColumnsText=@MultilenguajeController.ObtenerTextoPorClave("MOSTRAR_TODAS_COLUMNAS", dataLenguaje) ContainsText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_CONTIENE", dataLenguaje) DoesNotContainText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_NO_CONTIENE", dataLenguaje) ClearFilterText=@MultilenguajeController.ObtenerTextoPorClave("LIMPIAR_FILTRO", dataLenguaje) ApplyFilterText=@MultilenguajeController.ObtenerTextoPorClave("APLICAR_FILTRO", dataLenguaje) EqualsText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_EXACTO", dataLenguaje) EndsWithText=@MultilenguajeController.ObtenerTextoPorClave("FILTRO_TERMINA_CON", dataLenguaje) PageSizeText=@MultilenguajeController.ObtenerTextoPorClave("REGISTROS_POR_PAGINA", dataLenguaje) StartsWithText=@MultilenguajeController.ObtenerTextoPorClave("EMPIEZA_CON", dataLenguaje) ColumnsShowingText=@MultilenguajeController.ObtenerTextoPorClave("COLUMNAS_OPCIONALES", dataLenguaje)
                Data="@TipoConfiguracionDepositario_entities" TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.And">
                    <EmptyTemplate>
                        <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen registros.</p>
                    </EmptyTemplate>
                    <Columns>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" TextAlign="TextAlign.Center" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("TemplateABM",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("TemplateABM",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("TemplateABM",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("TemplateABM",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("TemplateABM",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("TemplateABM",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("TemplateABM",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("TemplateABM",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("TemplateABM",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("TemplateABM",dataCustomizacionPagina.AtributosColumnas)>
                            <HeaderTemplate>
                                <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Success" Visible=@SeguridadController.VerificarPermisoFuncion("DispositivoTipoConfiguracionDepositario",dataFunciones,"PuedeAgregar") Text=@MultilenguajeController.ObtenerTextoPorClave("BOTON_NUEVO",dataLenguaje) Click="Add">
                                </RadzenButton>
                            </HeaderTemplate>
                            <Template Context="element">
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Visible=@SeguridadController.VerificarPermisoFuncion("DispositivoTipoConfiguracionDepositario",dataFunciones,"PuedeModificar") Class="m-1" Click="@(args => Edit(element,false))" @onclick:stopPropagation="true">
                                </RadzenButton>
                                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Visible=@SeguridadController.VerificarPermisoFuncion("DispositivoTipoConfiguracionDepositario",dataFunciones,"PuedeEliminar") Class="m-1" Click="@(args => Edit(element,true))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Property="Id" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("Id",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("Id",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("Id",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("Id",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("Id",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("Id",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("Id",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("Id",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("Id",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("Id",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("ID",dataLenguaje) Frozen="false" TextAlign="TextAlign.Center" />
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Property="Clave" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("Clave",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("Clave",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("Clave",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("Clave",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("Clave",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("Clave",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("Clave",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("Clave",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("Clave",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("Clave",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("CLAVE",dataLenguaje) Frozen="false" TextAlign="TextAlign.Center">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Property="Nombre" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("Nombre",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("Nombre",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("Nombre",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("Nombre",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("Nombre",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("Nombre",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("Nombre",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("Nombre",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("Nombre",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("Nombre",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("NOMBRE",dataLenguaje) Frozen="false" TextAlign="TextAlign.Center">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Property="Descripcion" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("Descripcion",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("Descripcion",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("Descripcion",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("Descripcion",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("Descripcion",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("Descripcion",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("Descripcion",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("Descripcion",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("Descripcion",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("Descripcion",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("DESCRIPCION",dataLenguaje) Frozen="false" TextAlign="TextAlign.Center">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("ValidacionDatoId",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("VALIDACIONDATOID",dataLenguaje) Property="ValidacionDatoId" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_ValidacionDatoId" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                            <Template>
                                @if (ConfiguracionValidacionDato_ValidacionDatoId_entities.FirstOrDefault(c => c.Id == @context.ValidacionDatoId) != null)
                                {
                                    <RadzenLabel Text="@ConfiguracionValidacionDato_ValidacionDatoId_entities.FirstOrDefault( c => c.Id == @context.ValidacionDatoId).Nombre" Component="ValidacionDatoId" style="width: 100%">
                                    </RadzenLabel>
                                }
                                else
                                {
                                    <RadzenLabel Text="No data available" Component="ValidacionDatoId" style="width: 100%">
                                    </RadzenLabel>
                                }
                            </Template>
                            <FilterTemplate>
                                <div style="margin-top: 1rem;font-weight: 600">Filter</div>
                                <RadzenDropDown @bind-Value=@selectedFilter_ValidacionDatoId Data="@ConfiguracionValidacionDato_ValidacionDatoId_filter" Change="OnSelectedFilter_ValidacionDatoId_Changed" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="Nombre" AllowClear="true" Multiple="true" />
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Property="Valor" Title=@MultilenguajeController.ObtenerTextoPorClave("VALOR",dataLenguaje) Frozen="false" TextAlign="TextAlign.Center"
                              Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("Valor",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("Valor",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("Valor",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("Valor",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("Valor",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("Valor",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("Valor",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("Valor",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("Valor",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("Valor",dataCustomizacionPagina.AtributosColumnas)>
                            <Template>
                                @{
                                    var validacionDato = ConfiguracionValidacionDato_ValidacionDatoId_entities.FirstOrDefault(x => x.Id == context.ValidacionDatoId);

                                    if (validacionDato != null)
                                    {
                                        switch (validacionDato.TipoDatoId)
                                        {
                                            case (Int64)AplicacionEntities.TipoDato.Bool:
                                                Boolean valor = Convert.ToBoolean(context.Valor);
                                                <RadzenCheckBox Value="valor" Disabled="true">
                                                </RadzenCheckBox>
                                                break;
                                            default:
                                                <span>@context.Valor</span>
                                                break;
                                        }
                                    }
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Property="Habilitado" FilterValue="@Habilitado_filter" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("Habilitado",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("Habilitado",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("Habilitado",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("Habilitado",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("Habilitado",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("Habilitado",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("Habilitado",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("Habilitado",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("Habilitado",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("Habilitado",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("HABILITADO",dataLenguaje) Frozen="false" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                <RadzenCheckBox TValue="bool" Value=@data.Habilitado Disabled="true">
                                </RadzenCheckBox>
                            </Template>
                            <FilterTemplate>
                                <div style="margin-top: 1rem;font-weight: 600">Filter</div>
                                <div>
                                    @MultilenguajeController.ObtenerTextoPorClave("HABILITADO",dataLenguaje)
                                    <RadzenCheckBox Style="margin-bottom: 2%;" @bind-Value="Habilitado_filter" TriState="true" />
                                </div>
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("UsuarioCreacion",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("USUARIOCREACION",dataLenguaje) Property="UsuarioCreacion" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_UsuarioCreacion" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                            <Template>
                                @{
                                    var usuario = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == @context.UsuarioCreacion);
                                    if (usuario != null)
                                    {
                                        <RadzenLabel Text=@(usuario.NombreApellido) Component="UsuarioCreacion" style="width: 100%">
                                        </RadzenLabel>
                                    }
                                    else
                                    {
                                        <RadzenLabel Text="No data available" Component="UsuarioCreacion" style="width: 100%">
                                        </RadzenLabel>
                                    }
                                }
                            </Template>
                            <FilterTemplate>
                                <div style="margin-top: 1rem;font-weight: 600">Filter</div>
                                <RadzenDropDown @bind-Value=@selectedFilter_UsuarioCreacion Data="@Usuario_UsuarioCreacion_filter" Change="OnSelectedFilter_UsuarioCreacion_Changed" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="NombreApellido" AllowClear="true" Multiple="true" />
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Property="FechaCreacion" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("FechaCreacion",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("FECHACREACION",dataLenguaje) Frozen="false" TextAlign="TextAlign.Center">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("UsuarioModificacion",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("USUARIOMODIFICACION",dataLenguaje) Property="UsuarioModificacion" Type="typeof(IEnumerable<Int64>)" FilterValue="@selectedFilter_UsuarioModificacion" FilterOperator="FilterOperator.Contains" LogicalFilterOperator="LogicalFilterOperator.And">
                            <Template>
                                @{
                                    var usuario = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == @context.UsuarioModificacion);
                                    if (usuario != null)
                                    {
                                        <RadzenLabel Text=@(usuario.NombreApellido) Component="UsuarioModificacion" style="width: 100%">
                                        </RadzenLabel>
                                    }
                                    else
                                    {
                                        <RadzenLabel Text="No data available" Component="UsuarioModificacion" style="width: 100%">
                                        </RadzenLabel>
                                    }
                                }
                            </Template>
                            <FilterTemplate>
                                <div style="margin-top: 1rem;font-weight: 600">Filter</div>
                                <RadzenDropDown @bind-Value=@selectedFilter_UsuarioModificacion Data="@Usuario_UsuarioModificacion_filter" Change="OnSelectedFilter_UsuarioModificacion_Changed" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" ValueProperty="Id" TextProperty="NombreApellido" AllowClear="true" Multiple="true" />
                            </FilterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Property="FechaModificacion" Filterable=@CustomizadorController.ObtenerPropiedadColumnaFiltrable("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) Groupable=@CustomizadorController.ObtenerPropiedadColumnaAgrupable("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) Resizable=@CustomizadorController.ObtenerPropiedadColumnaRedimensionable("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) Reorderable=@CustomizadorController.ObtenerPropiedadColumnaMovible("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) MinWidth=@CustomizadorController.ObtenerPropiedadAnchoMinimoColumnaEnGrilla("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) Width=@CustomizadorController.ObtenerPropiedadAnchoColumnaEnGrilla("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) Pickable=@CustomizadorController.ObtenerPropiedadVisibilidadColumnaEnSelector("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) OrderIndex=@CustomizadorController.ObtenerPropiedadPosicionColumnaEnGrilla("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) Sortable=@CustomizadorController.ObtenerPropiedadColumnaOrdenable("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) Visible=@CustomizadorController.ObtenerPropiedadVisibilidadColumna("FechaModificacion",dataCustomizacionPagina.AtributosColumnas) Title=@MultilenguajeController.ObtenerTextoPorClave("FECHAMODIFICACION",dataLenguaje) Frozen="false" TextAlign="TextAlign.Center">
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
                <hr>
            }

            if (crudMode == CrudMode.Add || crudMode == CrudMode.Edit || crudMode == CrudMode.Delete)
            {
                <RadzenTemplateForm TItem="Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario" Data="@TipoConfiguracionDepositario_entity" @bind-Value="TipoConfiguracionDepositario_entity" Submit="Save" Visible="@(TipoConfiguracionDepositario_entity != null)">
                    <ChildContent>
                        @if (crudMode != CrudMode.Add)
                        {
                            <div style="margin-bottom: 1rem" class="row">
                                <div class="col-md-3">
                                    <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("ID",dataLenguaje) Component="Id" style="width: 100%">
                                    </RadzenLabel>
                                </div>
                                <div class="col-md-auto">
                                    <RadzenNumeric TValue="long" style="display: block; width: 100%" @bind-Value="@(TipoConfiguracionDepositario_entity.Id)" Name="Id" Disabled="true">
                                    </RadzenNumeric>
                                </div>
                            </div>
                        }
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("CLAVE",dataLenguaje) Component="Clave" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-auto">
                                <RadzenTextBox style="display: block" @bind-Value="@(TipoConfiguracionDepositario_entity.Clave)" Name="Clave" Disabled="@(crudMode==CrudMode.Delete || estaProcesando)">
                                </RadzenTextBox>
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("NOMBRE",dataLenguaje) Component="Nombre" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-auto">
                                <RadzenTextBox style="display: block" @bind-Value="@(TipoConfiguracionDepositario_entity.Nombre)" Name="Nombre" Disabled="@(crudMode==CrudMode.Delete || estaProcesando)">
                                </RadzenTextBox>
                                @if (@crudMode != CrudMode.Delete)
                                {
                                    <RadzenRequiredValidator Component="Nombre" Text="Nombre is required" Style="position: absolute">
                                    </RadzenRequiredValidator>
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("DESCRIPCION",dataLenguaje) Component="Descripcion" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-auto">
                                <RadzenTextBox style="display: block" @bind-Value="@(TipoConfiguracionDepositario_entity.Descripcion)" Name="Descripcion" Disabled="@(crudMode==CrudMode.Delete || estaProcesando)">
                                </RadzenTextBox>
                                @if (@crudMode != CrudMode.Delete)
                                {
                                    <RadzenRequiredValidator Component="Descripcion" Text="Descripcion is required" Style="position: absolute">
                                    </RadzenRequiredValidator>
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("VALIDACIONDATOID",dataLenguaje) Component="ValidacionDatoId" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-4">
                                @if ((@ConfiguracionValidacionDato_ValidacionDatoId_entities.Count > 0 && @ConfiguracionValidacionDato_ValidacionDatoId_entities.FirstOrDefault(c => c.Id == @TipoConfiguracionDepositario_entity.ValidacionDatoId) != null) || crudMode != CrudMode.Delete)
                                {
                                    var dataSet = crudMode == CrudMode.Add ? ConfiguracionValidacionDato_ValidacionDatoId_entities.Where(x => x.Habilitado == true) : ConfiguracionValidacionDato_ValidacionDatoId_entities.Where(x => x.Habilitado == true || x.Id == TipoConfiguracionDepositario_entity.ValidacionDatoId);
                                    <RadzenDropDown Name="ValidacionDatoId" AllowFiltering="true" FilterOperator="StringFilterOperator.Contains" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(TipoConfiguracionDepositario_entity.ValidacionDatoId)"
                                Data=@dataSet TextProperty="Nombre" ValueProperty="Id"
                                Change=@(args => SelectConfiguracionValidacionDato_ValidacionDatoIdValueChanged(args))
                                Disabled="@(crudMode==CrudMode.Delete || estaProcesando)" />
                                }
                                else
                                {
                                    <RadzenDropDown Name="ValidacionDatoId" AllowClear="true" TValue="Int64" Class="w-100"
                                Data=@ConfiguracionValidacionDato_ValidacionDatoId_entities TextProperty="Nombre" ValueProperty="Id"
                                Change=@(args => SelectConfiguracionValidacionDato_ValidacionDatoIdValueChanged(args))
                                Disabled="@(crudMode==CrudMode.Delete || estaProcesando)" />
                                }
                                @if (@crudMode != CrudMode.Delete)
                                {
                                    <RadzenNumericRangeValidator Min="@(ConfiguracionValidacionDato_ValidacionDatoId_entities.Count > 0 ? ConfiguracionValidacionDato_ValidacionDatoId_entities.Min(x => x.Id) : 1)" Component="ValidacionDatoId" Text="ValidacionDatoId is required" Style="position: relative">
                                    </RadzenNumericRangeValidator>
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("VALOR",dataLenguaje) Component="Valor" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div class="col-md-auto">
                                @{
                                    //En funcion de la validacion a aplicar cargamos el tipo de control que tendra el dato.
                                    var validacionDato = ConfiguracionValidacionDato_ValidacionDatoId_entities.FirstOrDefault(x => x.Id == TipoConfiguracionDepositario_entity.ValidacionDatoId);

                                    if (validacionDato != null)
                                    {
                                        string claveTextoValidacion = "VALIDACION_" + validacionDato.Nombre.ToUpper().Replace(" ", "");
                                        switch (validacionDato.TipoDatoId)
                                        {
                                            case (Int64)AplicacionEntities.TipoDato.Bool:
                                                bool conversionBool;
                                                if (bool.TryParse(TipoConfiguracionDepositario_entity.Valor, out conversionBool))
                                                {
                                                    <RadzenCheckBox TValue="bool" @bind-Value="@valorBool" Disabled="@(crudMode == CrudMode.Delete || estaProcesando)" Change=@(args => ValorBoolChange(args))>
                                                    </RadzenCheckBox>
                                                    <RadzenRegexValidator Component="Valor" Text="@MultilenguajeController.ObtenerTextoPorClave(claveTextoValidacion,dataLenguaje)" Pattern="@(validacionDato.ExpresionRegular)" />
                                                    <RadzenTextBox Visible="false" @bind-Value="@(TipoConfiguracionDepositario_entity.Valor)" Name="Valor">
                                                    </RadzenTextBox>
                                                }
                                                break;
                                            case (Int64)AplicacionEntities.TipoDato.String:
                                                <RadzenTextBox style="display: block" @bind-Value="@(TipoConfiguracionDepositario_entity.Valor)" Name="Valor" Disabled="@(crudMode == CrudMode.Delete || estaProcesando)">
                                                </RadzenTextBox>
                                                <RadzenRegexValidator Component="Valor" Text="@MultilenguajeController.ObtenerTextoPorClave(claveTextoValidacion,dataLenguaje)" Pattern="@(validacionDato.ExpresionRegular)" />
                                                break;
                                            case (Int64)AplicacionEntities.TipoDato.Decimal:
                                                decimal conversionDecimal;
                                                if (decimal.TryParse(TipoConfiguracionDepositario_entity.Valor, out conversionDecimal))
                                                {
                                                    <RadzenNumeric Step="0.01" TValue="decimal" Format="N2" style="display: block" @bind-Value="@valorDecimal" Change=@(args => ValorDecimalChange(args)) Disabled="@(crudMode == CrudMode.Delete || estaProcesando)">
                                                    </RadzenNumeric>
                                                    <RadzenTextBox Visible="false" @bind-Value="@(TipoConfiguracionDepositario_entity.Valor)" Name="Valor">
                                                    </RadzenTextBox>
                                                    <RadzenRegexValidator Component="Valor" Text="@MultilenguajeController.ObtenerTextoPorClave(claveTextoValidacion,dataLenguaje)" Pattern="@(validacionDato.ExpresionRegular)" />
                                                }
                                                break;
                                            case (Int64)AplicacionEntities.TipoDato.Int:
                                                int conversionInt;
                                                if (int.TryParse(TipoConfiguracionDepositario_entity.Valor, out conversionInt))
                                                {
                                                    <RadzenNumeric style="display: block" TValue="int" @bind-Value="@valorInt" Disabled="@(crudMode == CrudMode.Delete || estaProcesando)">
                                                    </RadzenNumeric>
                                                    <RadzenTextBox Visible="false" @bind-Value="@(TipoConfiguracionDepositario_entity.Valor)" Name="Valor">
                                                    </RadzenTextBox>
                                                    <RadzenRegexValidator Component="Valor" Text="@MultilenguajeController.ObtenerTextoPorClave(claveTextoValidacion,dataLenguaje)" Pattern="@(validacionDato.ExpresionRegular)" />
                                                }
                                                break;
                                            case (Int64)AplicacionEntities.TipoDato.DateTime:
                                                DateTime conversionDateTime;
                                                if (DateTime.TryParse(TipoConfiguracionDepositario_entity.Valor, out conversionDateTime))
                                                {
                                                    <RadzenDatePicker @bind-Value=@(TipoConfiguracionDepositario_entity.Valor) Disabled="@(crudMode == CrudMode.Delete || estaProcesando)" Name="Valor" AllowClear="true" DateFormat="dd/MM/yyyy" Class="w-100" />
                                                    <RadzenRegexValidator Component="Valor" Text="@MultilenguajeController.ObtenerTextoPorClave(claveTextoValidacion,dataLenguaje)" Pattern="@(validacionDato.ExpresionRegular)" />
                                                }
                                                break;
                                        }
                                    }
                                    else
                                    {
                                        <RadzenTextBox style="display: block" @bind-Value="@(TipoConfiguracionDepositario_entity.Valor)" Name="Valor" Disabled="@(crudMode == CrudMode.Delete || estaProcesando)">
                                        </RadzenTextBox>
                                    }
                                    <RadzenRequiredValidator Component="Valor" Text="Valor is required" Style="position: absolute">
                                    </RadzenRequiredValidator>
                                }
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="row">
                            <div class="col-md-3">
                                <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("HABILITADO",dataLenguaje) Component="Habilitado" Style="margin-left: 0px; vertical-align: middle;" />
                            </div>
                            <div class="col-md-auto">
                                <RadzenCheckBox @bind-Value=@TipoConfiguracionDepositario_entity.Habilitado Name="HabilitadoCheckBox" TValue="bool" Change=@(args => HabilitadoChange(args, @TipoConfiguracionDepositario_entity)) Disabled="@(crudMode == CrudMode.Delete)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-sm-3">
                                <RadzenButton Disabled="@estaProcesando" ButtonType="ButtonType.Submit" Icon="save" Text=@MultilenguajeController.ObtenerTextoPorClave("BOTON_ACEPTAR",dataLenguaje) ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton Disabled="@estaProcesando" ButtonStyle="ButtonStyle.Secondary" Icon="save" style="margin-left: 1rem" Text=@MultilenguajeController.ObtenerTextoPorClave("BOTON_CANCELAR",dataLenguaje) Click="Cancel">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
                <hr>
            }

            <RadzenNotification />
        }
    }
    else
    {
        <p>No tiene permisos para visualizar los registros.</p>
    }
}
else
{
    <div class="spinner" />
}

@code {
    /// <summary>
    /// Crud Mode Enum
    /// </summary>
    private enum CrudMode
    {
        List,
        Add,
        Edit,
        Delete
    }

    private bool valorBool { get; set; } = false;
    private decimal valorDecimal { get; set; } = 0;
    private int valorInt { get; set; } = 0;
    private DateTime valorDateTime { get; set; } = DateTime.Now.Date;

    /// <summary>
    /// Variable to save grid state
    /// </summary>
    private DataGridSettings GridSettings;

    /// <summary>
    /// Variables to handle main entity
    /// </summary>
    private Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario TipoConfiguracionDepositario_entity = new();
    private List<Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario> TipoConfiguracionDepositario_entities = null;

    /// <summary>
    /// Variables to store multilanguaje
    /// </summary>
    private List<Entities.TextoLenguaje> dataLenguaje;

    private List<Depositary.Entities.Tables.Estilo.EsquemaDetalle> dataEsquemaDetalle = new();

    private bool estaProcesando = false;

    private Depositary.Entities.Tables.Seguridad.Rol? usuarioRol = new();

    /// <summary>
    /// List which stores definitions to customize grid columns
    /// </summary>
    private CustomizadorEntities.CustomizacionPagina dataCustomizacionPagina = new();

    /// <summary>
    /// Variables to store permissions
    /// </summary>
    private List<SeguridadEntities.FuncionRol> dataFunciones;

    /// <summary>
    /// Variables to handle Relation between TipoConfiguracionDepositario.ValidacionDatoId and ConfiguracionValidacionDato.Id
    /// </summary>
    private Depositary.Entities.Tables.Aplicacion.ConfiguracionValidacionDato ConfiguracionValidacionDato_ValidacionDatoId_entity = new();
    private List<Depositary.Entities.Tables.Aplicacion.ConfiguracionValidacionDato>? ConfiguracionValidacionDato_ValidacionDatoId_entities;
    private List<Depositary.Entities.Tables.Aplicacion.ConfiguracionValidacionDato> ConfiguracionValidacionDato_ValidacionDatoId_filter;
    private IEnumerable<Int64> selectedFilter_ValidacionDatoId;

    /// <summary>
    /// Variables to handle column filter for field TipoConfiguracionDepositario.Habilitado
    private bool? Habilitado_filter;

    /// <summary>
    /// Variables to handle Relation between TipoConfiguracionDepositario.UsuarioCreacion and Usuario.Id
    /// </summary>
    private Depositary.Entities.Tables.Seguridad.Usuario Usuario_UsuarioCreacion_entity = new();
    private List<Depositary.Entities.Tables.Seguridad.Usuario>? Usuario_UsuarioCreacion_entities;
    private List<Depositary.Entities.Tables.Seguridad.Usuario> Usuario_UsuarioCreacion_filter;
    private IEnumerable<Int64> selectedFilter_UsuarioCreacion;

    /// <summary>
    /// Variables to handle Relation between TipoConfiguracionDepositario.UsuarioModificacion and Usuario.Id
    /// </summary>
    private Depositary.Entities.Tables.Seguridad.Usuario Usuario_UsuarioModificacion_entity = new();
    private List<Depositary.Entities.Tables.Seguridad.Usuario>? Usuario_UsuarioModificacion_entities;
    private List<Depositary.Entities.Tables.Seguridad.Usuario> Usuario_UsuarioModificacion_filter;
    private IEnumerable<Int64> selectedFilter_UsuarioModificacion;

    /// <summary>
    ///  Page crud mode {List,Add,Edit,Delete}
    /// </summary>
    private CrudMode crudMode = CrudMode.List;

    /// <summary>
    ///  Variable to store the user id
    /// </summary>
    private Depositary.Entities.Tables.Seguridad.Usuario? dataUsuario = null;

    string nombreAnteriorTipoConfiguracionDepositario = "";
    string descripcionAnteriorTipoConfiguracionDepositario = "";
    Int64 validacionDatoIdAnteriorConfiguracionEmpresa;


    protected override async Task OnInitializedAsync()
    {
        dataUsuario = await sessionStorage.GetItemAsync<Depositary.Entities.Tables.Seguridad.Usuario?>("DataUsuario");
        if (dataUsuario == null)
            NavManager.NavigateTo("login", true);
        dataLenguaje = await sessionStorage.GetItemAsync<List<Entities.TextoLenguaje>>("DataLenguaje");
        await sessionStorage.RemoveItemAsync("DataFunciones");
        await sessionStorage.RemoveItemAsync("RolId");
        dataCustomizacionPagina = CustomizadorController.ObtenerCustomizacionPagina("Dispositivo", "TipoConfiguracionDepositario");
        dataEsquemaDetalle = await sessionStorage.GetItemAsync<List<Depositary.Entities.Tables.Estilo.EsquemaDetalle>>("DataEsquemaDetalle");
        usuarioRol = SeguridadController.ObtenerRolesPorUsuario(dataUsuario.Id);
        dataFunciones = SeguridadController.ObtenerFuncionesPorRol(usuarioRol.Id);
        await sessionStorage.SetItemAsync("RolId", usuarioRol.Id);
        await sessionStorage.SetItemAsync("DataFunciones", dataFunciones);
        await Task.Run(LoadMainEntityData);
        await Task.Run(LoadTypesData);
    }
    #region Loading entities data
    /// <summary>
    /// Loads main entity data
    /// </summary>
    private void LoadMainEntityData()
    {
        if (dataCustomizacionPagina.AtributosTabla.HabilitarAuditoria)
            AuditController.Log(AuditController.LogTypeEnum.Navigation, "Acceso a " + "DispositivoTipoConfiguracionDepositarioCrud", crudMode.ToString(), dataUsuario.Id);
        estaProcesando = false;
        Depositary.Business.Tables.Dispositivo.TipoConfiguracionDepositario entity = new();
        TipoConfiguracionDepositario_entities = entity.Items();
    }
    /// <summary>
    /// Loads Type Tables data
    /// </summary>
    private void LoadTypesData()
    {
        Depositary.Business.Tables.Aplicacion.ConfiguracionValidacionDato ConfiguracionValidacionDato_ValidacionDatoId_local = new();
        ConfiguracionValidacionDato_ValidacionDatoId_entities = ConfiguracionValidacionDato_ValidacionDatoId_local.Items();
        ConfiguracionValidacionDato_ValidacionDatoId_filter = ConfiguracionValidacionDato_ValidacionDatoId_entities.Where(x => TipoConfiguracionDepositario_entities.Select(x => x.ValidacionDatoId).Distinct().Contains(x.Id)).ToList();

        Depositary.Business.Tables.Seguridad.Usuario Usuario_UsuarioCreacion_local = new();
        Usuario_UsuarioCreacion_entities = Usuario_UsuarioCreacion_local.Items();
        Usuario_UsuarioCreacion_filter = Usuario_UsuarioCreacion_entities.Where(x => TipoConfiguracionDepositario_entities.Select(x => x.UsuarioCreacion).Distinct().Contains(x.Id)).ToList();

        Depositary.Business.Tables.Seguridad.Usuario Usuario_UsuarioModificacion_local = new();
        Usuario_UsuarioModificacion_entities = Usuario_UsuarioModificacion_local.Items();
        Usuario_UsuarioModificacion_filter = Usuario_UsuarioModificacion_entities.Where(x => TipoConfiguracionDepositario_entities.Select(x => x.UsuarioModificacion).Distinct().Contains(x.Id)).ToList();

    }

    #endregion

    /// <summary>
    /// Initializations for adding a new entity
    /// </summary>
    private void Add()
    {
        //Main entity initialization
        TipoConfiguracionDepositario_entity = new();
        //Relations entities initialization
        ConfiguracionValidacionDato_ValidacionDatoId_entity = new();
        Usuario_UsuarioCreacion_entity = new();
        Usuario_UsuarioModificacion_entity = new();
        crudMode = CrudMode.Add;
        if (dataCustomizacionPagina.AtributosTabla.HabilitarAuditoria)
            AuditController.Log(AuditController.LogTypeEnum.Navigation, "Acceso a " + "DispositivoTipoConfiguracionDepositarioCrud", crudMode.ToString(), dataUsuario.Id);
    }
    /// <summary>
    /// <summary>
    /// Initializations for editing an entity
    /// </summary>
    private void Edit(Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario item, bool delete)
    {
        TipoConfiguracionDepositario_entity = item;
        if (ConfiguracionValidacionDato_ValidacionDatoId_entities.Exists(c => c.Id == TipoConfiguracionDepositario_entity.ValidacionDatoId))
        {
            ConfiguracionValidacionDato_ValidacionDatoId_entity = new()
                {
                    Id = ConfiguracionValidacionDato_ValidacionDatoId_entities.FirstOrDefault(c => c.Id == TipoConfiguracionDepositario_entity.ValidacionDatoId).Id,
                    Nombre = ConfiguracionValidacionDato_ValidacionDatoId_entities.FirstOrDefault(c => c.Id == TipoConfiguracionDepositario_entity.ValidacionDatoId).Nombre
                };
        }
        Usuario_UsuarioCreacion_entity = new()
            {
                Id = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == TipoConfiguracionDepositario_entity.UsuarioCreacion).Id,
                Nombre = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == TipoConfiguracionDepositario_entity.UsuarioCreacion).Nombre
            };
        if (Usuario_UsuarioModificacion_entities.Exists(c => c.Id == TipoConfiguracionDepositario_entity.UsuarioModificacion))
        {
            Usuario_UsuarioModificacion_entity = new()
                {
                    Id = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == TipoConfiguracionDepositario_entity.UsuarioModificacion).Id,
                    Nombre = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == TipoConfiguracionDepositario_entity.UsuarioModificacion).Nombre
                };
        }
        if (delete)
            crudMode = CrudMode.Delete;
        else
        {
            crudMode = CrudMode.Edit;

            nombreAnteriorTipoConfiguracionDepositario = TipoConfiguracionDepositario_entity.Nombre;
            descripcionAnteriorTipoConfiguracionDepositario = TipoConfiguracionDepositario_entity.Descripcion;
            validacionDatoIdAnteriorConfiguracionEmpresa = TipoConfiguracionDepositario_entity.ValidacionDatoId;

        }

        if (dataCustomizacionPagina.AtributosTabla.HabilitarAuditoria)
            AuditController.Log(AuditController.LogTypeEnum.Navigation, "Acceso a " + "DispositivoTipoConfiguracionDepositarioCrud", crudMode.ToString() + " Id: " + item.Id, dataUsuario.Id);

        var validacionConfiguracion = ConfiguracionValidacionDato_ValidacionDatoId_entities.FirstOrDefault(x => x.Id == TipoConfiguracionDepositario_entity.ValidacionDatoId);

        if (validacionConfiguracion != null)
        {
            //Cargamos los valores en funcion del tipo de dato de la validacion
            switch (validacionConfiguracion.TipoDatoId)
            {
                case (Int64)AplicacionEntities.TipoDato.Bool:
                    valorBool = bool.Parse(item.Valor);
                    break;
                case (Int64)AplicacionEntities.TipoDato.String:
                    break;
                case (Int64)AplicacionEntities.TipoDato.Decimal:
                    valorDecimal = decimal.Parse(item.Valor);
                    break;
                case (Int64)AplicacionEntities.TipoDato.Int:
                    valorInt = int.Parse(item.Valor);
                    break;
                case (Int64)AplicacionEntities.TipoDato.DateTime:
                    valorDateTime = DateTime.Parse(item.Valor);
                    break;
            }
        }

    }

    private List<Depositary.Entities.Tables.Dispositivo.ConfiguracionDepositario> ObtenerRegistrosDeConfiguracionDepositarioPorTipo(Int64 TipoConfiguracionId)
    {
        List<Depositary.Entities.Tables.Dispositivo.ConfiguracionDepositario> resultado = new();

        Depositary.Business.Tables.Dispositivo.ConfiguracionDepositario oConfiguracionDepositario = new();
        oConfiguracionDepositario.Where.Add(Depositary.Business.Tables.Dispositivo.ConfiguracionDepositario.ColumnEnum.TipoId, Depositary.sqlEnum.OperandEnum.Equal, TipoConfiguracionId);

        resultado = oConfiguracionDepositario.Items();

        return resultado;
    }

    /// <summary>
    /// Operation depending on Crud mode
    /// </summary>
    private async Task Save()
    {
        estaProcesando = true;
        await Task.Run(Procesar);
        estaProcesando = false;
    }

    private async Task Procesar()
    {
        string actionInformation = string.Empty;
        NotificationSeverity severityType = NotificationSeverity.Error;
        string summary = string.Empty;
        Depositary.Business.Tables.Dispositivo.TipoConfiguracionDepositario crud = new();
        foreach (var property in TipoConfiguracionDepositario_entity.GetType().GetProperties())
        {
            switch (property.Name)
            {
                case "FechaModificacion":
                    if (crudMode == CrudMode.Add)
                    {
                        TipoConfiguracionDepositario_entity.FechaModificacion = null;
                    }
                    else
                    {
                        TipoConfiguracionDepositario_entity.FechaModificacion = DateTime.Now;
                    }
                    break;
                case "FechaCreacion":
                    if (crudMode == CrudMode.Add)
                    {
                        TipoConfiguracionDepositario_entity.FechaCreacion = DateTime.Now;
                    }
                    break;
                case "UsuarioCreacion":
                    if (crudMode == CrudMode.Add)
                    {
                        TipoConfiguracionDepositario_entity.UsuarioCreacion = dataUsuario.Id;
                    }
                    break;
                case "UsuarioModificacion":
                    if (crudMode == CrudMode.Add)
                    {
                        TipoConfiguracionDepositario_entity.UsuarioModificacion = null;
                    }
                    else
                    {
                        TipoConfiguracionDepositario_entity.UsuarioModificacion = dataUsuario.Id;
                    }
                    break;
            }
        }
        switch (crudMode)
        {
            case CrudMode.Add:
                crud.BeginTransaction();
                try
                {
                    Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario eTipoConfiguracionDepositario = new();
                    //Si se agrega una configuracion nueva se extiende a todos los depositarios.
                    eTipoConfiguracionDepositario = crud.Add(TipoConfiguracionDepositario_entity, (long)SeguridadEntities.Aplicacion.AdministradorWeb);

                    //Obtenemos los ID de todas los depositarios existentes y grabamos la configuracion en cada uno
                    Depositary.Business.Tables.Dispositivo.Depositario oDepositario = new();
                    oDepositario.Items();

                    //Si existen depositarios..
                    if (oDepositario.Result.Count > 0)
                    {
                        Depositary.Business.Tables.Dispositivo.ConfiguracionDepositario oConfiguracionDepositario = new(crud);
                        Depositary.Entities.Tables.Dispositivo.ConfiguracionDepositario eConfiguracionDepositario = new();
                        eConfiguracionDepositario.FechaCreacion = DateTime.Now;
                        eConfiguracionDepositario.Habilitado = TipoConfiguracionDepositario_entity.Habilitado;
                        eConfiguracionDepositario.UsuarioCreacion = TipoConfiguracionDepositario_entity.UsuarioCreacion;
                        eConfiguracionDepositario.TipoId = eTipoConfiguracionDepositario.Id;
                        eConfiguracionDepositario.Valor = eTipoConfiguracionDepositario.Valor;

                        foreach (var depositario in oDepositario.Result)
                        {
                            eConfiguracionDepositario.DepositarioId = depositario.Id;
                            oConfiguracionDepositario.Add(eConfiguracionDepositario, (long)SeguridadEntities.Aplicacion.AdministradorWeb);
                        }
                    }

                    crud.EndTransaction(true);

                    summary = "El registro se ha ";
                    actionInformation = "agregado.";
                    severityType = NotificationSeverity.Success;
                }
                catch (Exception ex)
                {
                    crud.EndTransaction(false);
                    AuditController.Log(ex, dataUsuario.Id);
                    summary = "Error al procesar.";
                    actionInformation = ex.Message;
                    severityType = NotificationSeverity.Error;
                }
                break;
            case CrudMode.Edit:

                try
                {
                    crud.BeginTransaction();

                    //Si se modifica el tipo de validacion, el nombre o la descripcion entonces actualizo en todos los depositarios
                    if (nombreAnteriorTipoConfiguracionDepositario != TipoConfiguracionDepositario_entity.Nombre ||
                        descripcionAnteriorTipoConfiguracionDepositario != TipoConfiguracionDepositario_entity.Descripcion ||
                        validacionDatoIdAnteriorConfiguracionEmpresa != TipoConfiguracionDepositario_entity.ValidacionDatoId)
                    {

                        crud.Update(TipoConfiguracionDepositario_entity, (long)SeguridadEntities.Aplicacion.AdministradorWeb);

                        //Obtenemos los ID de todos los registros de config de depositario que usen este tipo de config.
                        var registrosConfiguracionDepositarioEditar = ObtenerRegistrosDeConfiguracionDepositarioPorTipo(TipoConfiguracionDepositario_entity.Id);

                        if (registrosConfiguracionDepositarioEditar.Count > 0)
                        {
                            Depositary.Business.Tables.Dispositivo.ConfiguracionDepositario oConfiguracionDepositario = new(crud);

                            foreach (var registroConfiguracionDepositario in registrosConfiguracionDepositarioEditar)
                            {
                                registroConfiguracionDepositario.UsuarioModificacion = TipoConfiguracionDepositario_entity.UsuarioModificacion;
                                registroConfiguracionDepositario.FechaModificacion = DateTime.Now;

                                if (validacionDatoIdAnteriorConfiguracionEmpresa != TipoConfiguracionDepositario_entity.ValidacionDatoId)
                                {
                                    registroConfiguracionDepositario.Valor = TipoConfiguracionDepositario_entity.Valor;
                                }

                                oConfiguracionDepositario.Update(registroConfiguracionDepositario, (long)SeguridadEntities.Aplicacion.AdministradorWeb);
                            }
                        }

                        crud.EndTransaction(true);
                        actionInformation = "modificado en la plantilla y en los depositarios.";

                    }
                    else
                    {
                        crud.Update(TipoConfiguracionDepositario_entity, (long)SeguridadEntities.Aplicacion.AdministradorWeb);
                        actionInformation = "modificado.";

                    }

                    summary = "El registro se ha ";
                    severityType = NotificationSeverity.Success;
                }
                catch (Exception ex)
                {
                    crud.EndTransaction(false);
                    AuditController.Log(ex, dataUsuario.Id);
                    summary = "Error al procesar.";
                    actionInformation = ex.Message;
                    severityType = NotificationSeverity.Error;
                }
                break;
            case CrudMode.Delete:
                try
                {
                    crud.BeginTransaction();

                    TipoConfiguracionDepositario_entity.Habilitado = false;

                    crud.Update(TipoConfiguracionDepositario_entity, (long)SeguridadEntities.Aplicacion.AdministradorWeb);

                    //Obtenemos los ID de todos los registros de config de depositario que usen este tipo de config.
                    var registrosConfiguracionDepositarioEditar = ObtenerRegistrosDeConfiguracionDepositarioPorTipo(TipoConfiguracionDepositario_entity.Id);

                    if (registrosConfiguracionDepositarioEditar.Count > 0)
                    {
                        Depositary.Business.Tables.Dispositivo.ConfiguracionDepositario oConfiguracionDepositario = new(crud);

                        foreach (var registroConfiguracionDepositario in registrosConfiguracionDepositarioEditar)
                        {
                            registroConfiguracionDepositario.UsuarioModificacion = TipoConfiguracionDepositario_entity.UsuarioModificacion;
                            registroConfiguracionDepositario.FechaModificacion = DateTime.Now;
                            registroConfiguracionDepositario.Habilitado = false;

                            oConfiguracionDepositario.Update(registroConfiguracionDepositario, (long)SeguridadEntities.Aplicacion.AdministradorWeb);
                        }
                    }

                    crud.EndTransaction(true);

                    summary = "El registro se ha ";
                    actionInformation = "eliminado en la plantilla y en todos los depositarios.";
                    severityType = NotificationSeverity.Success;
                }
                catch (Exception ex)
                {
                    crud.EndTransaction(false);
                    AuditController.Log(ex, dataUsuario.Id);
                    summary = "Error al procesar.";
                    actionInformation = ex.Message;
                    severityType = NotificationSeverity.Error;
                }
                break;
        }

        // Sets Crud mode to List
        crudMode = CrudMode.List;

        ShowNotification(new NotificationMessage
            {
                Severity = severityType,
                Summary = summary,
                Detail = actionInformation,
                Duration = 4000
            });

        await Task.Run(LoadMainEntityData);
    }
    /// <summary>
    /// Crud mode cancellation and default mode
    ///
    /// </summary>
    private void Cancel()
    {
        crudMode = CrudMode.List;
        LoadMainEntityData();
    }
    /// <summary>
    /// Sets detail panel title - TODO: Implement Multilanguage
    ///
    /// </summary>
    /// <returns></returns>
    private string GetDialogTitle()
    {
        string retValue = string.Empty;
        switch (crudMode)
        {
            case CrudMode.Add:
                retValue = "Nuevo...";
                break;
            case CrudMode.Edit:
                retValue = "Editar...";
                break;
            case CrudMode.Delete:
                retValue = "Borrar...";
                break;
        }
        return retValue;
    }
    #region Notifications
    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);

    }

    #endregion
    #region Selection events
    /// <summary>
    /// ConfiguracionValidacionDato_ValidacionDatoId value changed
    ///
    //</summary>
    ///
    //<param name = "item" ></ param >
    private void SelectConfiguracionValidacionDato_ValidacionDatoIdValueChanged(object item)
    {
        var validacionDato = ConfiguracionValidacionDato_ValidacionDatoId_entities.FirstOrDefault(x => x.Id == (Int64)item);
        TipoConfiguracionDepositario_entity.Valor = "";

        if (validacionDato != null)
        {
            switch (validacionDato.TipoDatoId)
            {
                case (Int64)AplicacionEntities.TipoDato.Bool:
                    TipoConfiguracionDepositario_entity.Valor = "false";
                    break;
                case (Int64)AplicacionEntities.TipoDato.Int:
                    TipoConfiguracionDepositario_entity.Valor = "0";
                    break;
                case (Int64)AplicacionEntities.TipoDato.Decimal:
                    TipoConfiguracionDepositario_entity.Valor = "0.00";
                    break;
                case (Int64)AplicacionEntities.TipoDato.DateTime:
                    TipoConfiguracionDepositario_entity.Valor = DateTime.Now.Date.ToString();
                    break;
            }
        }

        StateHasChanged();
    }

    /// <summary>
    /// selectedFilter_ValidacionDatoId value changed
    ///
    /// </summary>
    ///
    //<param name = "item" ></ param >
    private void OnSelectedFilter_ValidacionDatoId_Changed(object value)
    {
        if (selectedFilter_ValidacionDatoId != null && !selectedFilter_ValidacionDatoId.Any())
        {
            selectedFilter_ValidacionDatoId = null;
        }
    }

    /// <summary>
    /// Usuario_UsuarioCreacion value changed
    ///
    /// </summary>
    /// <param name="item"></param>
    private void SelectUsuario_UsuarioCreacionValueChanged(object item)
    {
    }

    /// <summary>
    /// selectedFilter_UsuarioCreacion value changed
    ///
    //</summary>
    ///
    //<param name="item"></param>
    private void OnSelectedFilter_UsuarioCreacion_Changed(object value)
    {
        if (selectedFilter_UsuarioCreacion != null && !selectedFilter_UsuarioCreacion.Any())
        {
            selectedFilter_UsuarioCreacion = null;
        }
    }

    /// <summary>
    /// Usuario_UsuarioModificacion value changed
    ///
    //</summary>
    ///
    //<param name="item"></param>
    private void SelectUsuario_UsuarioModificacionValueChanged(object item)
    {
    }

    /// <summary>
    /// selectedFilter_UsuarioModificacion value changed
    ///
    //</summary>
    ///
    //<param name = "item" ></ param >
    private void OnSelectedFilter_UsuarioModificacion_Changed(object value)
    {
        if (selectedFilter_UsuarioModificacion != null && !selectedFilter_UsuarioModificacion.Any())
        {
            selectedFilter_UsuarioModificacion = null;
        }
    }

    /// <summary>
    /// Entity is binded, however it sets anyway.
    ///
    //</summary>
    /// <returns></returns>
    void ValorBoolChange(bool value)
    {
        if (value)
            TipoConfiguracionDepositario_entity.Valor = "true";
        else
            TipoConfiguracionDepositario_entity.Valor = "false";
    }

    void ValorDecimalChange(decimal value)
    {
        TipoConfiguracionDepositario_entity.Valor = value.ToString();
    }

    void ValorIntChange(int value)
    {
        TipoConfiguracionDepositario_entity.Valor = value.ToString();
    }

    /// <summary>
    /// Entity is binded, however it sets anyway.
    ///
    //</summary>
    /// <returns></returns>
    void HabilitadoChange(bool? value, Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario item)
    {
        TipoConfiguracionDepositario_entity = item;
    }
    /// <summary>
    /// TipoConfiguracionDepositarioCellRender event
    ///
    //</summary>
    ///
    //<param name = "item" ></ param >
    private void TipoConfiguracionDepositarioCellRender(DataGridCellRenderEventArgs<Depositary.Entities.Tables.Dispositivo.TipoConfiguracionDepositario>
    args)
    {
        if (!args.Data.Habilitado)
            args.Attributes.Add("class", "row-highlight-disabled");
        else
            args.Attributes.Add("class", "rz-datatable-even");
    }

    #endregion

    #region Export

    #endregion

    }
