@page "/ValorRelacionMonedaTipoValorCrud"
@using Permaquim.Depositary.Web.Administration.Controllers
@inject NotificationService NotificationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavManager
 
@if(dataFunciones != null)
{
@if (SeguridadController.VerificarPermisoFuncion("ValorRelacionMonedaTipoValor",dataFunciones,"PuedeVisualizar"))
{
 @if (RelacionMonedaTipoValor_entities == null)
 {
     <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
 }
 else
 {
     switch (crudMode)
     {
         case CrudMode.Add:
             <RadzenBadge  BadgeStyle="BadgeStyle.Secondary" >
                 <ChildContent>
                         <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_A_TITLE",dataLenguaje) </h4>
                 </ChildContent>
             </RadzenBadge>
             break;
         case CrudMode.Delete:
             <RadzenBadge BadgeStyle="BadgeStyle.Warning" >
                 <ChildContent>
                         <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_D_TITLE",dataLenguaje) </h4>
                 </ChildContent>
             </RadzenBadge>
             break;
             case CrudMode.Edit:
             <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                 <ChildContent>
                         <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_M_TITLE",dataLenguaje) </h4>
                 </ChildContent>
             </RadzenBadge>
             break;         
             case CrudMode.List:
             <RadzenBadge BadgeStyle="BadgeStyle.Secondary" >
                 <ChildContent>
                     <div>
                         <h4 style="color:white;">@MultilenguajeController.ObtenerTextoPorClave("ABM_L_TITLE",dataLenguaje) </h4>
                     </div>
                 </ChildContent>
             </RadzenBadge>
             break;  
     }
     <hr>
     if (crudMode == CrudMode.List)
     {
         <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
         Data="@RelacionMonedaTipoValor_entities" TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
         <EmptyTemplate>
             <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No existen registros.</p>
         </EmptyTemplate>        
         <Columns>
             <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="80px" >
                 <HeaderTemplate>
                     <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Success" Visible=@SeguridadController.VerificarPermisoFuncion("ValorRelacionMonedaTipoValor",dataFunciones,"PuedeAgregar") Text =@MultilenguajeController.ObtenerTextoPorClave("NEW_BUTTON",dataLenguaje) Click="Add">
                     </RadzenButton>
                     </HeaderTemplate>
                     <Template Context="element">
                     <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Info" Visible=@SeguridadController.VerificarPermisoFuncion("ValorRelacionMonedaTipoValor",dataFunciones,"PuedeModificar") Class="m-1" Click="@(args => Edit(element,false))" @onclick:stopPropagation="true">
                     </RadzenButton>
                     <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Visible=@SeguridadController.VerificarPermisoFuncion("ValorRelacionMonedaTipoValor",dataFunciones,"PuedeEliminar") Class="m-1" Click="@(args => Edit(element,true))" @onclick:stopPropagation="true">
                     </RadzenButton>
                 </Template>
                 </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" Property="Id" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("ID",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" />
             <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" Title=@MultilenguajeController.ObtenerTextoPorClave("MONEDAID",dataLenguaje) Property="MonedaId" Width="100px" >
                 <Template>
                     @if(Moneda_MonedaId_entities.FirstOrDefault( c => c.Id == @context.MonedaId) != null){
                         <RadzenLabel Text="@Moneda_MonedaId_entities.FirstOrDefault( c => c.Id == @context.MonedaId).Nombre" Component="MonedaId" style="width: 100%">
                             </RadzenLabel>
                         }
                         else
                         {
                         <RadzenLabel Text="No data available" Component="MonedaId" style="width: 100%">
                             </RadzenLabel>                        
                         }
                 </Template>
             </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" Title=@MultilenguajeController.ObtenerTextoPorClave("TIPOVALORID",dataLenguaje) Property="TipoValorId" Width="100px" >
                 <Template>
                     @if(Tipo_TipoValorId_entities.FirstOrDefault( c => c.Id == @context.TipoValorId) != null){
                         <RadzenLabel Text="@Tipo_TipoValorId_entities.FirstOrDefault( c => c.Id == @context.TipoValorId).Nombre" Component="TipoValorId" style="width: 100%">
                             </RadzenLabel>
                         }
                         else
                         {
                         <RadzenLabel Text="No data available" Component="TipoValorId" style="width: 100%">
                             </RadzenLabel>                        
                         }
                 </Template>
             </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" Title=@MultilenguajeController.ObtenerTextoPorClave("USUARIOCREACION",dataLenguaje) Property="UsuarioCreacion" Width="100px" >
                 <Template>
                     @if(Usuario_UsuarioCreacion_entities.FirstOrDefault( c => c.Id == @context.UsuarioCreacion) != null){
                         <RadzenLabel Text="@Usuario_UsuarioCreacion_entities.FirstOrDefault( c => c.Id == @context.UsuarioCreacion).NickName" Component="UsuarioCreacion" style="width: 100%">
                             </RadzenLabel>
                         }
                         else
                         {
                         <RadzenLabel Text="No data available" Component="UsuarioCreacion" style="width: 100%">
                             </RadzenLabel>                        
                         }
                 </Template>
             </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" Property="FechaCreacion" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("FECHACREACION",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
     </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" Title=@MultilenguajeController.ObtenerTextoPorClave("USUARIOMODIFICACION",dataLenguaje) Property="UsuarioModificacion" Width="100px" >
                 <Template>
                     @if(Usuario_UsuarioModificacion_entities.FirstOrDefault( c => c.Id == @context.UsuarioModificacion) != null){
                         <RadzenLabel Text="@Usuario_UsuarioModificacion_entities.FirstOrDefault( c => c.Id == @context.UsuarioModificacion).NickName" Component="UsuarioModificacion" style="width: 100%">
                             </RadzenLabel>
                         }
                         else
                         {
                         <RadzenLabel Text="No data available" Component="UsuarioModificacion" style="width: 100%">
                             </RadzenLabel>                        
                         }
                 </Template>
             </RadzenDataGridColumn>
             <RadzenDataGridColumn TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" Property="FechaModificacion" Filterable="false" Title=@MultilenguajeController.ObtenerTextoPorClave("FECHAMODIFICACION",dataLenguaje) Frozen="false" Width="50px" TextAlign="TextAlign.Center" >
     </RadzenDataGridColumn>
         </Columns>
         </RadzenDataGrid>
     <hr>
     }
 
     if (crudMode == CrudMode.Add || crudMode == CrudMode.Edit || crudMode == CrudMode.Delete)
     {
             <RadzenTemplateForm TItem="DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor" Data="@RelacionMonedaTipoValor_entity"  @bind-Value="RelacionMonedaTipoValor_entity" Submit ="Save" Visible ="@(RelacionMonedaTipoValor_entity != null)">
             <ChildContent>
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("ID",dataLenguaje) Component="Id" style="width: 100%">
                         </RadzenLabel>
                     </div>
                     <div class="col-md-9">
                         <RadzenNumeric  TValue="long" style="display: block; width: 100%" @bind-Value="@(RelacionMonedaTipoValor_entity.Id)" Name="Id" Disabled="true" >
                     </RadzenNumeric>
                     </div>
                 </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                 <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("MONEDAID",dataLenguaje) Component ="MonedaId" style="width: 100%">
                 </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     @if((@Moneda_MonedaId_entities.Count > 0 && @Moneda_MonedaId_entities.FirstOrDefault( c => c.Id == @RelacionMonedaTipoValor_entity.MonedaId) != null) || crudMode != CrudMode.Delete)
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(RelacionMonedaTipoValor_entity.MonedaId)"
                                     Data=@Moneda_MonedaId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectMoneda_MonedaIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                     }
                     else
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                     Data=@Moneda_MonedaId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectMoneda_MonedaIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                    }
                </div>
              </div>
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                 <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("TIPOVALORID",dataLenguaje) Component ="TipoValorId" style="width: 100%">
                 </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     @if((@Tipo_TipoValorId_entities.Count > 0 && @Tipo_TipoValorId_entities.FirstOrDefault( c => c.Id == @RelacionMonedaTipoValor_entity.TipoValorId) != null) || crudMode != CrudMode.Delete)
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(RelacionMonedaTipoValor_entity.TipoValorId)"
                                     Data=@Tipo_TipoValorId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectTipo_TipoValorIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                     }
                     else
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                     Data=@Tipo_TipoValorId_entities TextProperty = "Nombre" ValueProperty = "Id"
                                     Change=@(args => SelectTipo_TipoValorIdValueChanged(args))
                                     Disabled="@(crudMode==CrudMode.Delete)" />
                    }
                </div>
              </div>
             @if(crudMode!=CrudMode.Add)
             {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                 <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("USUARIOCREACION",dataLenguaje) Component ="UsuarioCreacion" style="width: 100%">
                 </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     @if((@Usuario_UsuarioCreacion_entities.Count > 0 && @Usuario_UsuarioCreacion_entities.FirstOrDefault( c => c.Id == @RelacionMonedaTipoValor_entity.UsuarioCreacion) != null) || crudMode != CrudMode.Delete)
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" @bind-Value="@(RelacionMonedaTipoValor_entity.UsuarioCreacion)"
                                     Data=@Usuario_UsuarioCreacion_entities TextProperty = "NickName" ValueProperty = "Id"
                                     Change=@(args => SelectUsuario_UsuarioCreacionValueChanged(args))
                                     Disabled="true" />
                     }
                     else
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64" Class="w-100" 
                                     Data=@Usuario_UsuarioCreacion_entities TextProperty = "NickName" ValueProperty = "Id"
                                     Change=@(args => SelectUsuario_UsuarioCreacionValueChanged(args))
                                     Disabled="true" />
                     }
                 </div>
             </div>
             }
             @if(crudMode!=CrudMode.Add)
             {
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("FECHACREACION",dataLenguaje) Component="FechaCreacion" style="width: 100%">
                         </RadzenLabel>
                     </div>
                 <div class="col-md-9">
                     <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(RelacionMonedaTipoValor_entity.FechaCreacion)" Name="FechaCreacion" Disabled="true" >
                     </RadzenDatePicker>
                 </div>
             </div>
             }
             @if(crudMode!=CrudMode.Add)
             {
             <div style="margin-bottom: 1rem" class="row">
                 <div class="col-md-3">
                 <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("USUARIOMODIFICACION",dataLenguaje) Component ="UsuarioModificacion" style="width: 100%">
                 </RadzenLabel>
                 </div>
                 <div class="col-md-9">
                     @if((@Usuario_UsuarioModificacion_entities.Count > 0 && @Usuario_UsuarioModificacion_entities.FirstOrDefault( c => c.Id == @RelacionMonedaTipoValor_entity.UsuarioModificacion) != null) || crudMode != CrudMode.Delete)
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64?" Class="w-100" @bind-Value="@(RelacionMonedaTipoValor_entity.UsuarioModificacion)"
                                     Data=@Usuario_UsuarioModificacion_entities TextProperty = "NickName" ValueProperty = "Id"
                                     Change=@(args => SelectUsuario_UsuarioModificacionValueChanged(args))
                                     Disabled="true" />
                     }
                     else
                     {
                         <RadzenDropDown AllowClear="true" TValue="Int64?" Class="w-100" 
                                     Data=@Usuario_UsuarioModificacion_entities TextProperty = "NickName" ValueProperty = "Id"
                                     Change=@(args => SelectUsuario_UsuarioModificacionValueChanged(args))
                                     Disabled="true" />
                     }
                 </div>
             </div>
             }
             @if(crudMode!=CrudMode.Add)
             {
                 <div style="margin-bottom: 1rem" class="row">
                     <div class="col-md-3">
                         <RadzenLabel Text=@MultilenguajeController.ObtenerTextoPorClave("FECHAMODIFICACION",dataLenguaje) Component="FechaModificacion" style="width: 100%">
                         </RadzenLabel>
                     </div>
                 <div class="col-md-9">
                     <RadzenDatePicker ShowTime="true" ShowSeconds ="true" style ="width: 25%" @bind-Value="@(RelacionMonedaTipoValor_entity.FechaModificacion)" Name="FechaModificacion" Disabled="true" >
                     </RadzenDatePicker>
                 </div>
             </div>
             }
             <div class="row">
                 <div class="col offset-sm-3">
                 <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text=@MultilenguajeController.ObtenerTextoPorClave("ACCEPT_BUTTON",dataLenguaje) ButtonStyle ="ButtonStyle.Primary">
                 </RadzenButton>
                 <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon = "save" style="margin-left: 1rem" Text=@MultilenguajeController.ObtenerTextoPorClave("CANCEL_BUTTON",dataLenguaje) Click="Cancel">
                 </RadzenButton>
                  </div>
             </div>
             </ChildContent>
             </RadzenTemplateForm>
     <hr>
     }
 
     <RadzenNotification /> 
 }
}
else
{
     <p>No tiene permisos para visualizar los registros.</p>
}
}
else
{
     <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}
 
@code {
    /// <summary>
    /// Crud Mode Enum
    /// </summary>
    private enum CrudMode
    {
        List,
        Add,
        Edit,
        Delete
    }
    /// <summary>
    /// Variables to handle main entity
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor RelacionMonedaTipoValor_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor> RelacionMonedaTipoValor_entities = null;
 
    /// <summary>
    /// Variables to store multilanguaje
    /// </summary>
    private List<Entities.TextoLenguaje> dataLenguaje;
 
 
    /// <summary>
    /// Variables to store permissions
    /// </summary>
    private List<Entities.FuncionRol> dataFunciones;
 
    /// <summary>
    /// Variables to handle Relation between RelacionMonedaTipoValor.MonedaId and Moneda.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Valor.Moneda Moneda_MonedaId_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Valor.Moneda>? Moneda_MonedaId_entities;
 
    /// <summary>
    /// Variables to handle Relation between RelacionMonedaTipoValor.TipoValorId and Tipo.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Valor.Tipo Tipo_TipoValorId_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Valor.Tipo>? Tipo_TipoValorId_entities;
 
    /// <summary>
    /// Variables to handle Relation between RelacionMonedaTipoValor.UsuarioCreacion and Usuario.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Seguridad.Usuario Usuario_UsuarioCreacion_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Seguridad.Usuario>? Usuario_UsuarioCreacion_entities;
 
    /// <summary>
    /// Variables to handle Relation between RelacionMonedaTipoValor.UsuarioModificacion and Usuario.Id
    /// </summary>
    private DepositarioAdminWeb.Entities.Tables.Seguridad.Usuario Usuario_UsuarioModificacion_entity = new();
    private List<DepositarioAdminWeb.Entities.Tables.Seguridad.Usuario>? Usuario_UsuarioModificacion_entities;
 
    /// <summary>
    ///  Page crud mode {List,Add,Edit,Delete}
    /// </summary>
    private CrudMode crudMode = CrudMode.List;
 
    /// <summary>
    ///  Variable to store the user id
    /// </summary>
    private Int64? userId = null;
 
    protected override async Task OnInitializedAsync()
    {
        dataLenguaje = await sessionStorage.GetItemAsync<List<Entities.TextoLenguaje>>("DataLenguaje");
        dataFunciones = await sessionStorage.GetItemAsync<List<Entities.FuncionRol>>("DataFunciones");
        await Task.Run(LoadMainEntityData);
        await Task.Run(LoadTypesData);
        userId = await sessionStorage.GetItemAsync<Int64?>("Id");
        if (userId == null)
             NavManager.NavigateTo("login", true);
    }
    #region Loading entities data
    /// <summary>
    /// Loads main entity data
    /// </summary>
    private void LoadMainEntityData()
    {
        DepositarioAdminWeb.Business.Tables.Valor.RelacionMonedaTipoValor entity = new();
        RelacionMonedaTipoValor_entities = entity.Items();
    }
    /// <summary>
    /// Loads Type Tables data
    /// </summary>
    private void LoadTypesData()
    {
        DepositarioAdminWeb.Business.Tables.Valor.Moneda Moneda_MonedaId_local = new();
        Moneda_MonedaId_entities = Moneda_MonedaId_local.Items();
 
        DepositarioAdminWeb.Business.Tables.Valor.Tipo Tipo_TipoValorId_local = new();
        Tipo_TipoValorId_entities = Tipo_TipoValorId_local.Items();
 
        DepositarioAdminWeb.Business.Tables.Seguridad.Usuario Usuario_UsuarioCreacion_local = new();
        Usuario_UsuarioCreacion_entities = Usuario_UsuarioCreacion_local.Items();
 
        DepositarioAdminWeb.Business.Tables.Seguridad.Usuario Usuario_UsuarioModificacion_local = new();
        Usuario_UsuarioModificacion_entities = Usuario_UsuarioModificacion_local.Items();
 
    }
 
    #endregion
 
    /// <summary>
    /// Initializations for adding a new entity
    /// </summary>
    private void Add()
    {
        //Main entity initialization
        RelacionMonedaTipoValor_entity = new();
        //Relations entities initialization
        Moneda_MonedaId_entity = new(); 
        Tipo_TipoValorId_entity = new(); 
        Usuario_UsuarioCreacion_entity = new(); 
        Usuario_UsuarioModificacion_entity = new(); 
        crudMode = CrudMode.Add;
    }
    /// <summary>
    /// <summary>
    /// Initializations for editing an entity
    /// </summary>
    private void Edit(DepositarioAdminWeb.Entities.Tables.Valor.RelacionMonedaTipoValor item, bool delete)
    {
             RelacionMonedaTipoValor_entity = item;
            Moneda_MonedaId_entity = new() { 
            Id = Moneda_MonedaId_entities.FirstOrDefault(c => c.Id == RelacionMonedaTipoValor_entity.MonedaId).Id, 
            Nombre = Moneda_MonedaId_entities.FirstOrDefault(c => c.Id == RelacionMonedaTipoValor_entity.MonedaId).Nombre
            };
            Tipo_TipoValorId_entity = new() { 
            Id = Tipo_TipoValorId_entities.FirstOrDefault(c => c.Id == RelacionMonedaTipoValor_entity.TipoValorId).Id, 
            Nombre = Tipo_TipoValorId_entities.FirstOrDefault(c => c.Id == RelacionMonedaTipoValor_entity.TipoValorId).Nombre
            };
            Usuario_UsuarioCreacion_entity = new() { 
            Id = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == RelacionMonedaTipoValor_entity.UsuarioCreacion).Id, 
            Nombre = Usuario_UsuarioCreacion_entities.FirstOrDefault(c => c.Id == RelacionMonedaTipoValor_entity.UsuarioCreacion).Nombre
            };
            if(Usuario_UsuarioModificacion_entities.Exists(c => c.Id == RelacionMonedaTipoValor_entity.UsuarioModificacion))
            {
                 Usuario_UsuarioModificacion_entity = new() { 
                 Id = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == RelacionMonedaTipoValor_entity.UsuarioModificacion).Id, 
                 Nombre = Usuario_UsuarioModificacion_entities.FirstOrDefault(c => c.Id == RelacionMonedaTipoValor_entity.UsuarioModificacion).Nombre
                 };
            }
        if (delete)
            crudMode = CrudMode.Delete;
        else
            crudMode = CrudMode.Edit;
    }
    /// <summary>
    /// Operation depending on Crud mode
    /// </summary>
    private async Task Save()
    {
        string actionInformation = string.Empty;
        NotificationSeverity severityType = NotificationSeverity.Error;
        string summary = string.Empty;
        DepositarioAdminWeb.Business.Tables.Valor.RelacionMonedaTipoValor crud = new();
        foreach(var property in RelacionMonedaTipoValor_entity.GetType().GetProperties())
        {
             switch(property.Name)
             {
                 case "FechaModificacion":
                 if(crudMode == CrudMode.Add)
                 {
                     RelacionMonedaTipoValor_entity.FechaModificacion=null;
                 }
                 else
                 {
                     RelacionMonedaTipoValor_entity.FechaModificacion=DateTime.Now;
                 }
                 break;
                 case "FechaCreacion":
                 if(crudMode == CrudMode.Add)
                 {
                     RelacionMonedaTipoValor_entity.FechaCreacion=DateTime.Now;
                 }
                 break;
                 case "UsuarioCreacion":
                 if(crudMode == CrudMode.Add)
                 {
                     RelacionMonedaTipoValor_entity.UsuarioCreacion=userId.Value;
                 }
                 break;
                 case "UsuarioModificacion":
                 if(crudMode == CrudMode.Add)
                 {
                     RelacionMonedaTipoValor_entity.UsuarioModificacion=null;
                 }
                 else
                 {
                     RelacionMonedaTipoValor_entity.UsuarioModificacion=userId.Value;
                 }
                 break;
             }
        }
        switch (crudMode)
        {
            case CrudMode.Add:
                try
                {
                     crud.Add(RelacionMonedaTipoValor_entity);
                     summary = "El registro se ha ";
                     actionInformation = "agregado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
            break;
            case CrudMode.Edit:
                try
                {
                     crud.Update(RelacionMonedaTipoValor_entity);
                     summary = "El registro se ha ";
                     actionInformation = "modificado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
            break;
            case CrudMode.Delete:
                try
                {
                     crud.Delete(RelacionMonedaTipoValor_entity);
                     summary = "El registro se ha ";
                     actionInformation = "eliminado.";
                     severityType = NotificationSeverity.Success;
                }
                catch(Exception ex)
                {
                     summary = "Error al procesar.";
                     actionInformation = ex.Message;
                     severityType = NotificationSeverity.Error;
                }
                break;
        }
 
        // Sets Crud mode to List
        crudMode = CrudMode.List;
 
        ShowNotification(new NotificationMessage { 
            Severity = severityType, 
            Summary = summary, 
            Detail = actionInformation, 
            Duration = 4000 });
       
            await Task.Run(LoadMainEntityData);
    }
    /// <summary>
    /// Crud mode cancellation and default mode
    /// </summary>
    private void Cancel()
    {
        crudMode = CrudMode.List;  
        LoadMainEntityData();
    }
    /// <summary>
    /// Sets detail panel title - TODO: Implement Multilanguage
    /// </summary>
    /// <returns></returns>
    private string GetDialogTitle()
    {
        string retValue = string.Empty;
        switch (crudMode)
        {
            case CrudMode.Add:
                retValue = "Nuevo...";
                break;
            case CrudMode.Edit:
                retValue = "Editar...";
                break;
            case CrudMode.Delete:
                retValue = "Borrar...";
                break;
        }
        return retValue;
    }
    #region Notifications
    private void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
 
    }
 
    #endregion
    #region Selection events
    /// <summary>
    /// Moneda_MonedaId value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectMoneda_MonedaIdValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Tipo_TipoValorId value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectTipo_TipoValorIdValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Usuario_UsuarioCreacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectUsuario_UsuarioCreacionValueChanged(object item)
    {
    }
 
    /// <summary>
    /// Usuario_UsuarioModificacion value changed
    /// </summary>
    /// <param name="item"></param>
    private void SelectUsuario_UsuarioModificacionValueChanged(object item)
    {
    }
 
    #endregion
 
    #region Export
 
    #endregion
 
}
